<?xml version="1.0" encoding="utf-8"?>
<Media Key="24a961e0-5332-45d1-8ced-cbe8db689617" Alias="0 0 (1)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-13T13:44:26</CreateDate>
    <NodeName Default="0 0 (1)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2zqlsjbs/0_0.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>