<?xml version="1.0" encoding="utf-8"?>
<Media Key="29885dc1-0386-435d-82ad-c93f2767fd54" Alias="0 1 (2)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:41:50</CreateDate>
    <NodeName Default="0 1 (2)" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y3ojqkmg/0_1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>