<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a6138b5-bf9c-415b-844a-08ecd6129220" Alias="0 1 2" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-13T13:42:02</CreateDate>
    <NodeName Default="0 1 2" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wm2gccu2/0_1-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>