<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b201b99-752e-4640-b6c9-b72296cae49e" Alias="0 2 (2)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T12:16:24</CreateDate>
    <NodeName Default="0 2 (2)" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t2nda4zo/0_2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>