<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3889832-00d4-4066-9704-60d8f11f4331" Alias="0 3 (1)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T12:11:22</CreateDate>
    <NodeName Default="0 3 (1)" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gsmiry4u/0_3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>