<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4e43c24-1eae-438b-8f22-07352969af07" Alias="1000 (1)" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-15T15:50:05</CreateDate>
    <NodeName Default="1000 (1)" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ei4ojjfo/1000.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>