<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa05bbc5-1cd2-41d4-8cf8-b185400949c0" Alias="1012" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T14:31:13</CreateDate>
    <NodeName Default="1012" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yo3bl4ws/1012.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>