<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd10897b-83a1-41bb-908b-1e71d7721097" Alias="1074" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T11:41:58</CreateDate>
    <NodeName Default="1074" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pwebbxnb/1074.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>