<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d762559-9e12-482d-9598-1cb7ec7e2bfb" Alias="1140X440" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X440</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-22T10:25:19</CreateDate>
    <NodeName Default="1140X440" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l2shm1is/1140x440.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>