<?xml version="1.0" encoding="utf-8"?>
<Media Key="44aa3c57-7e1e-49ae-8f2e-1d66ad689638" Alias="154X154" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X154</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-29T16:44:12</CreateDate>
    <NodeName Default="154X154" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/my4kura4/154x154.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>