<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3269e12-f878-4015-b010-2b1461c6e195" Alias="1585563855 Estate Media Logo 1 Pos" Level="2">
  <Info>
    <Parent Key="83069be6-ad1e-4e37-b2f8-2e4035476945">Denmark (1)</Parent>
    <Path>/Denmark1/EstateMediaLogo1Pos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T16:49:14</CreateDate>
    <NodeName Default="1585563855 Estate Media Logo 1 Pos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cspcni1y/1585563855-estate_media_-_logo_1_-_pos.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>