<?xml version="1.0" encoding="utf-8"?>
<Media Key="e70076e9-cabf-4bea-916d-4e9d936e3e67" Alias="2000X800 Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/X800Listing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T01:07:36</CreateDate>
    <NodeName Default="2000X800 Listing" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/331abz35/2000x800_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>