<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c2fa18a-46c1-4cd2-ab7a-a8a0dd754c06" Alias="2022 12 H1 FY23 Investor Preso F 1" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/H1FY23InvestorPresoF1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T01:46:08</CreateDate>
    <NodeName Default="2022 12 H1 FY23 Investor Preso F 1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rsqd4lgb/2022-12-h1-fy23-investor-preso_f-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>