<?xml version="1.0" encoding="utf-8"?>
<Media Key="797c18f3-9e3b-410e-8152-44b0056ff631" Alias="2023 09 FY23 Investor Image 2" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/FY23InvestorImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-30T01:16:01</CreateDate>
    <NodeName Default="2023 09 FY23 Investor Image 2" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4umhy4j1/2023-09-fy23-investor-image_2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>