<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5347838-f278-4e93-a135-6ec0bc500f05" Alias="2023 06 FY23 Investor Preso F 1" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/FY23InvestorPresoF1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-01T01:13:51</CreateDate>
    <NodeName Default="2023 06 FY23 Investor Preso F 1" />
    <SortOrder>124</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hz2djrly/2023-06-fy23-investor-preso_f-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>