<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5753796-6d61-4dd9-998f-1bec37256d70" Alias="2023 Annual Report Dk (3)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/AnnualReportDk3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T11:08:06</CreateDate>
    <NodeName Default="2023 Annual Report Dk (3)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sa1hlzlb/2023-annual-report-dk.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>