<?xml version="1.0" encoding="utf-8"?>
<Media Key="db639d94-f22d-4ca3-91c4-0a193a2ebf08" Alias="2024 07 FY24 Investor Preso German" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FY24InvestorPresoGerman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T08:47:16</CreateDate>
    <NodeName Default="2024 07 FY24 Investor Preso German" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/skohhwzn/2024-07-fy24-investor-preso_german.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>