<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7987ea7-b3ac-4a1d-9e46-a7c62eb8718d" Alias="240617 Scheckübergabe Smart Parking V2 (1)" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ScheckuebergabeSmartParkingV21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T13:08:50</CreateDate>
    <NodeName Default="240617 Scheckübergabe Smart Parking V2 (1)" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uf5jr33m/240617_scheckuebergabe_smart_parking-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>