<?xml version="1.0" encoding="utf-8"?>
<Media Key="295cfc82-31b3-4277-98ec-f6c6116c6a2e" Alias="2A477653 0E23 4698 9D30 0780F2DA98FA" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/A4776530E2346989D300780F2DA98FA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:01:35</CreateDate>
    <NodeName Default="2A477653 0E23 4698 9D30 0780F2DA98FA" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qt4fyknt/2a477653-0e23-4698-9d30-0780f2da98fa.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>