<?xml version="1.0" encoding="utf-8"?>
<Media Key="266d6077-67e2-451e-abd1-410572764665" Alias="30Th Logo Low Res" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/ThLogoLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-19T15:54:18</CreateDate>
    <NodeName Default="30Th Logo Low Res" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ofqg0jxc/30th-logo-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>