<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a267f96-bffd-4e64-ba96-437fcbb0dae4" Alias="30Th Bday Image 2" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/ThBdayImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-29T20:54:12</CreateDate>
    <NodeName Default="30Th Bday Image 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sb5dmox3/30th-bday-image-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>