<?xml version="1.0" encoding="utf-8"?>
<Media Key="46ceb37a-81ad-4a7c-8860-df7e2b91d110" Alias="350X275" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X275</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-22T10:24:54</CreateDate>
    <NodeName Default="350X275" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pszn2rvn/350x275.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>