<?xml version="1.0" encoding="utf-8"?>
<Media Key="478687b4-b3c4-4915-a750-f048e1ec4716" Alias="407X206" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X206</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-22T10:25:01</CreateDate>
    <NodeName Default="407X206" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wkdjmr4e/407x206.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>