<?xml version="1.0" encoding="utf-8"?>
<Media Key="8460c3ec-3d2d-4d89-92e6-ba6464dab661" Alias="471X165" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X165</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-22T10:25:04</CreateDate>
    <NodeName Default="471X165" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3lbhbbbn/471x165.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>