<?xml version="1.0" encoding="utf-8"?>
<Media Key="803856db-1635-4179-8525-d5fb7f7cc777" Alias="550X350" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X350</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-22T10:25:09</CreateDate>
    <NodeName Default="550X350" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1vldrabv/550x350.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>