<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeb5a5e9-ae50-4761-8051-6776a8f2ea6e" Alias="694X463 (1)" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/X4631</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-14T15:46:14</CreateDate>
    <NodeName Default="694X463 (1)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/34sll1sq/694x463.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>