<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f35f8bf-c7f9-4bdb-9790-3beb7a152d13" Alias="About us" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-28T10:54:02</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties />
</Media>