<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcef954a-8e3a-4039-9c23-b437f78b51b5" Alias="Accreditations and Partnerships" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/AccreditationsAndPartnerships</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-09T16:29:45</CreateDate>
    <NodeName Default="Accreditations and Partnerships" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties />
</Media>