<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a6d08e0-53f2-488d-8b40-811f50d72a33" Alias="AGM Presentation 2024 Slide" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AGMPresentation2024Slide</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-19T12:10:57</CreateDate>
    <NodeName Default="AGM Presentation 2024 Slide" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2yeg0sxs/agm-presentation-2024-slide.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>