<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2e1c3a0-804c-46a5-9ad9-571421c405f6" Alias="AGM Main Image Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AGMMainImageResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-19T11:28:48</CreateDate>
    <NodeName Default="AGM Main Image Resized" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/u1bpdism/agm-main-image-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>