<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5b9b8fb-7f2c-42a8-a517-b873cdbd6b9c" Alias="AGM Presentation 2024 DE" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AGMPresentation2024DE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-19T11:07:29</CreateDate>
    <NodeName Default="AGM Presentation 2024 DE" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5w2ltnjm/agm-presentation-2024-de.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>