<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a901533-8e60-4aeb-ae20-97a3b79a133a" Alias="ANPR How It Works" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/ANPRHowItWorks</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T15:58:58</CreateDate>
    <NodeName Default="ANPR How It Works" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gukja4ta/anpr-how-it-works.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>