<?xml version="1.0" encoding="utf-8"?>
<Media Key="75065515-9d29-4cad-820e-0ca1d2790c8a" Alias="ANPR Car Park Lr (1)" Level="3">
  <Info>
    <Parent Key="0d943f92-80ee-4482-b307-8a25f406a1f1">Solutions</Parent>
    <Path>/Images/Solutions/ANPRCarParkLr1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:13:01</CreateDate>
    <NodeName Default="ANPR Car Park Lr (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cnkbm3jj/anpr-car-park-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>