<?xml version="1.0" encoding="utf-8"?>
<Media Key="81b62794-244f-4e69-ba86-dcef41be78a1" Alias="ANPR Car Park Lr (2)" Level="3">
  <Info>
    <Parent Key="0d943f92-80ee-4482-b307-8a25f406a1f1">Solutions</Parent>
    <Path>/Images/Solutions/ANPRCarParkLr2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:14:02</CreateDate>
    <NodeName Default="ANPR Car Park Lr (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sitlnakp/anpr-car-park-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>