<?xml version="1.0" encoding="utf-8"?>
<Media Key="54ddff7a-b661-4be6-b0e4-e4d562b1341d" Alias="ANPR Diagram Hex Diagram German" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ANPRDiagramHexDiagramGerman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T11:54:47</CreateDate>
    <NodeName Default="ANPR Diagram Hex Diagram German" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pt5n0vdb/anpr-diagram_hex-diagram-german.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>