<?xml version="1.0" encoding="utf-8"?>
<Media Key="58b42ddb-1eda-463d-b3ad-8deb354684ee" Alias="Aussie Cm3 Prequal H&amp;S Logo For Website" Level="3">
  <Info>
    <Parent Key="fcef954a-8e3a-4039-9c23-b437f78b51b5">Accreditations and Partnerships</Parent>
    <Path>/Images/AccreditationsAndPartnerships/AussieCm3PrequalHSLogoForWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T23:06:24</CreateDate>
    <NodeName Default="Aussie Cm3 Prequal H&amp;S Logo For Website" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1uwliwg0/aussie-cm3-prequal-hs-logo-for-website.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>