<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d8e8954-6dc4-4d51-bb0b-1bfaf96f545c" Alias="Automatisierte Kennzeichenkontrolle So Funktioniert's" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/AutomatisierteKennzeichenkontrolleSoFunktionierts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:23:37</CreateDate>
    <NodeName Default="Automatisierte Kennzeichenkontrolle So Funktioniert's" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kkej2poe/automatisierte-kennzeichenkontrolle-so-funktionierts.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>