<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e5c4d31-9f26-4342-8cf4-06d2a5be8f53" Alias="Automatisierte Kennzeichenkontrolle So Funktioniert's" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AutomatisierteKennzeichenkontrolleSoFunktionierts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:37:30</CreateDate>
    <NodeName Default="Automatisierte Kennzeichenkontrolle So Funktioniert's" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g3gfzdrg/automatisierte-kennzeichenkontrolle-so-funktionierts.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>