<?xml version="1.0" encoding="utf-8"?>
<Media Key="abfe52bf-f707-4e9f-b4a0-d2cd07ca8acd" Alias="Banner Example 2" Level="3">
  <Info>
    <Parent Key="f3061ccc-2649-409f-bbeb-9574d1d82c59">Banners</Parent>
    <Path>/Images/Banners/BannerExample2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-12T11:12:19</CreateDate>
    <NodeName Default="Banner Example 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xfjp3kyh/banner-example-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>