<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa4f471e-4b20-458e-aa5d-aa3ee5229a90" Alias="Banner Example 3" Level="3">
  <Info>
    <Parent Key="f3061ccc-2649-409f-bbeb-9574d1d82c59">Banners</Parent>
    <Path>/Images/Banners/BannerExample3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-12T11:12:21</CreateDate>
    <NodeName Default="Banner Example 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dbdf54ra/banner-example-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>