<?xml version="1.0" encoding="utf-8"?>
<Media Key="48bf0087-14c9-4386-aae1-b9cdf9919ba3" Alias="Benedikte" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Benedikte</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:07:35</CreateDate>
    <NodeName Default="Benedikte" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qeal4sgj/benedikte.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>