<?xml version="1.0" encoding="utf-8"?>
<Media Key="42727e41-3797-446d-8a59-048e030fa2eb" Alias="Board of Directors" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/BoardOfDirectors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-29T02:50:46</CreateDate>
    <NodeName Default="Board of Directors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>