<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6b1893d-dc2b-4edd-8aad-6a3262c02c94" Alias="BPA Logo" Level="3">
  <Info>
    <Parent Key="fcef954a-8e3a-4039-9c23-b437f78b51b5">Accreditations and Partnerships</Parent>
    <Path>/Images/AccreditationsAndPartnerships/BPALogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T12:10:25</CreateDate>
    <NodeName Default="BPA Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hoeldrrl/bpa-logo.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>