<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d39ee04-da07-4e5b-a0b5-ea95ea7accd7" Alias="BPA Approved Operator (1) (1)" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/BPAApprovedOperator11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-21T14:55:16</CreateDate>
    <NodeName Default="BPA Approved Operator (1) (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/alxdshih/bpa-approved-operator-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>