<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b8486e9-ac13-4ac0-8fe4-106d6f8d566b" Alias="BPA (1)" Level="2">
  <Info>
    <Parent Key="4c747f82-459a-456b-b202-e5828350bedc">Logos</Parent>
    <Path>/Logos/BPA1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-31T14:43:48</CreateDate>
    <NodeName Default="BPA (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/34diicyt/bpa.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>