<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c01d154-919e-43c0-a137-102123084d39" Alias="Bunbury Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/BunburyListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T07:00:02</CreateDate>
    <NodeName Default="Bunbury Listing" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/klibcxe4/bunbury_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>