<?xml version="1.0" encoding="utf-8"?>
<Media Key="2defad01-10f3-4c4e-986d-6d405792f891" Alias="Bunbury Featured" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/BunburyFeatured</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T07:00:05</CreateDate>
    <NodeName Default="Bunbury Featured" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a4wp4lpt/bunbury_featured.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>