<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3749de3-5d95-4458-aab4-68b5f2796a11" Alias="Bunbury Lower" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/BunburyLower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T07:00:09</CreateDate>
    <NodeName Default="Bunbury Lower" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2wohjm2v/bunbury_lower.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>