<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ccac973-3d39-408d-9a43-4383646c1bb8" Alias="Byggesocietetet V2 (1)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/ByggesocietetetV21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:52:24</CreateDate>
    <NodeName Default="Byggesocietetet V2 (1)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oxenu1bz/byggesocietetet-v2.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>