<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c1e5c60-f4b1-4946-8bd3-8878ed91756b" Alias="Byggesocietetet LOGO RGB Positiv+1" Level="2">
  <Info>
    <Parent Key="83069be6-ad1e-4e37-b2f8-2e4035476945">Denmark (1)</Parent>
    <Path>/Denmark1/ByggesocietetetLOGORGBPositivplus1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T16:49:14</CreateDate>
    <NodeName Default="Byggesocietetet LOGO RGB Positiv+1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mzob2lfr/byggesocietetet_logo_rgb-positivplus1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>