<?xml version="1.0" encoding="utf-8"?>
<Media Key="875757e7-6494-4114-b015-9e4662e1cd32" Alias="Caravan Park (2)" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/CaravanPark2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-20T14:29:36</CreateDate>
    <NodeName Default="Caravan Park (2)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2flfpb2u/caravan-park.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>