<?xml version="1.0" encoding="utf-8"?>
<Media Key="3290f0f9-eede-4e93-8c72-5d3573b1301b" Alias="Cars Parked In Line V2" Level="4">
  <Info>
    <Parent Key="19b57f52-f827-4bc4-bd38-ae287b79db38">Councils &amp; Municipalities</Parent>
    <Path>/Images/Industries/CouncilsMunicipalities/CarsParkedInLineV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-30T14:39:11</CreateDate>
    <NodeName Default="Cars Parked In Line V2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/55yjamw4/cars-parked-in-line-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>