<?xml version="1.0" encoding="utf-8"?>
<Media Key="92f3505a-0b7e-4909-b22f-2c4795af17d6" Alias="Cars Parked In Line Istock 691945016" Level="4">
  <Info>
    <Parent Key="19b57f52-f827-4bc4-bd38-ae287b79db38">Councils &amp; Municipalities</Parent>
    <Path>/Images/Industries/CouncilsMunicipalities/CarsParkedInLineIstock691945016</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T13:20:28</CreateDate>
    <NodeName Default="Cars Parked In Line Istock 691945016" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lriphet4/cars-parked-in-line-istock-691945016.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>