<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f5532fa-c0ab-4acc-9700-749af37205be" Alias="Citea Solar Lr 2 (1)" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/CiteaSolarLr21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-13T11:33:56</CreateDate>
    <NodeName Default="Citea Solar Lr 2 (1)" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5qzflh3l/citea-solar-lr-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>