<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae01cf66-b97d-4b05-978e-91ac82de6fb8" Alias="Corelogic Logo" Level="3">
  <Info>
    <Parent Key="fcef954a-8e3a-4039-9c23-b437f78b51b5">Accreditations and Partnerships</Parent>
    <Path>/Images/AccreditationsAndPartnerships/CorelogicLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T00:38:15</CreateDate>
    <NodeName Default="Corelogic Logo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mdhbdlt3/corelogic_logo.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>