<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ff2f0cb-ad4e-4d77-b01c-c7f3c2004a2d" Alias="Corporate Directory Icons 5" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/CorporateDirectoryIcons5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T04:05:42</CreateDate>
    <NodeName Default="Corporate Directory Icons 5" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zxyped0o/corporate-directory-icons-5.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>