<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f868955-aedd-4297-9ff7-bc43915e488d" Alias="Corporate Directory Icons 3" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/CorporateDirectoryIcons3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T04:05:41</CreateDate>
    <NodeName Default="Corporate Directory Icons 3" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/koejnh43/corporate-directory-icons-3.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>