<?xml version="1.0" encoding="utf-8"?>
<Media Key="949b6ab6-ed78-4565-9b88-4711f27e7069" Alias="Corp Governance Statement" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CorpGovernanceStatement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-09-27T09:39:13</CreateDate>
    <NodeName Default="Corp Governance Statement" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tbvjxfdy/corp-governance-statement.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>