<?xml version="1.0" encoding="utf-8"?>
<Media Key="804ecbde-aef0-4241-a171-840ea83ef837" Alias="Corporate Directory Icons 4" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/CorporateDirectoryIcons4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T04:05:42</CreateDate>
    <NodeName Default="Corporate Directory Icons 4" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1dff3ahq/corporate-directory-icons-4.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>