<?xml version="1.0" encoding="utf-8"?>
<Media Key="c70619b1-a5cf-4ac3-b6e4-5dc5b8453775" Alias="Councils Summmary Page 1" Level="4">
  <Info>
    <Parent Key="19b57f52-f827-4bc4-bd38-ae287b79db38">Councils &amp; Municipalities</Parent>
    <Path>/Images/Industries/CouncilsMunicipalities/CouncilsSummmaryPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T10:02:03</CreateDate>
    <NodeName Default="Councils Summmary Page 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w2mbnr4p/councils-summmary-page-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>