<?xml version="1.0" encoding="utf-8"?>
<Media Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6" Alias="Denmark" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Denmark</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-15T08:37:36</CreateDate>
    <NodeName Default="Denmark" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>