<?xml version="1.0" encoding="utf-8"?>
<Media Key="d99748d4-da6a-4597-b485-d84bb83753fe" Alias="Dentist Low Res" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/DentistLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-20T14:05:38</CreateDate>
    <NodeName Default="Dentist Low Res" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0jejpwlk/dentist-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>