<?xml version="1.0" encoding="utf-8"?>
<Media Key="728b1be6-c6d0-4e54-aa51-105a4fd07ddf" Alias="Depositphotos 54530267 XL Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/Depositphotos54530267XLLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:09:07</CreateDate>
    <NodeName Default="Depositphotos 54530267 XL Lr" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2anjw2wq/depositphotos_54530267_xl-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>