<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7ab3b85-8414-4e3a-8fb3-8cfeca28bde7" Alias="Deutsch Britische Freundschaft" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/DeutschBritischeFreundschaft</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T09:05:48</CreateDate>
    <NodeName Default="Deutsch Britische Freundschaft" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qm3lxnyu/deutsch-britische-freundschaft.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>