<?xml version="1.0" encoding="utf-8"?>
<Media Key="365575c9-e7b4-483d-846d-88ab988b1f9f" Alias="DJI 0306 (1)" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/DJI03061</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T16:31:19</CreateDate>
    <NodeName Default="DJI 0306 (1)" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z30fknvu/dji_0306.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>