<?xml version="1.0" encoding="utf-8"?>
<Media Key="02b92129-b1d7-4c6d-ae67-24e635b5576b" Alias="DJI 0322" Level="3">
  <Info>
    <Parent Key="d0b16667-bdb5-4bd3-9c82-a316ced97f0f">Home Page</Parent>
    <Path>/Images/HomePage/DJI0322</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T12:04:47</CreateDate>
    <NodeName Default="DJI 0322" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/f2qlsawx/dji_0322.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>