<?xml version="1.0" encoding="utf-8"?>
<Media Key="7690be29-1ff5-4dc6-ae71-61edf5fa0cc8" Alias="dk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-29T07:58:30</CreateDate>
    <NodeName Default="dk" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties />
</Media>