<?xml version="1.0" encoding="utf-8"?>
<Media Key="462af499-3056-422f-a44c-3d8792e6ef06" Alias="Emil Sized" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/EmilSized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T09:02:56</CreateDate>
    <NodeName Default="Emil Sized" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/t50cursw/emil-sized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>