<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5a5efd3-2d73-4d8c-94a2-f29dca8f2aef" Alias="Empty Parkeing" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/EmptyParkeing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T12:04:11</CreateDate>
    <NodeName Default="Empty Parkeing" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0xxllnlt/empty-parkeing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>