<?xml version="1.0" encoding="utf-8"?>
<Media Key="d99dadc9-dc38-4acc-b841-f8f0c4f1a2f0" Alias="EPS Acquisition Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/EPSAcquisitionListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-03T03:56:48</CreateDate>
    <NodeName Default="EPS Acquisition Listing" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z4wj1wjy/eps-acquisition_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>