<?xml version="1.0" encoding="utf-8"?>
<Media Key="c104ab2d-14d0-4065-bbb1-d7f867326b4c" Alias="Esil 58043 Images Of Parking Spaces White Lines For Vehicles D874395f 898A 46Cc A6cb E5601475cff3" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Esil58043ImagesOfParkingSpacesWhiteLinesForVehiclesD874395f898A46CcA6cbE5601475cff3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-03T14:15:06</CreateDate>
    <NodeName Default="Esil 58043 Images Of Parking Spaces White Lines For Vehicles D874395f 898A 46Cc A6cb E5601475cff3" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fovbjqoq/esil_58043_images_of_parking_spaces_white_lines_for_vehicles_-_d874395f-898a-46cc-a6cb-e5601475cff3.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>