<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa5d5012-2f02-4bf3-be22-ffb920b21546" Alias="Events Photo Lr" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/EventsPhotoLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T09:21:28</CreateDate>
    <NodeName Default="Events Photo Lr" />
    <SortOrder>127</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/crif1kqc/events-photo-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>