<?xml version="1.0" encoding="utf-8"?>
<Media Key="a470dfa7-ac1a-4bfd-a6d9-63a3c4e2462c" Alias="Events Lr V" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventsLrV</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T10:10:46</CreateDate>
    <NodeName Default="Events Lr V" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uhphbja0/events-lr-v.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>