<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b99a856-e1d9-4fa6-aa39-39bccc22275f" Alias="Events Lr (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventsLr1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T10:06:13</CreateDate>
    <NodeName Default="Events Lr (1)" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kcujso4z/events-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>