<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a8d8dbe-34ed-4f65-8d3c-2df70867c450" Alias="Facebook" Level="4">
  <Info>
    <Parent Key="902b6e00-721d-46e1-ab54-7aada9c9fb2b">Social Media</Parent>
    <Path>/Images/Icons/SocialMedia/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-11-22T18:22:48</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r4gj0kxn/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>