<?xml version="1.0" encoding="utf-8"?>
<Media Key="400a4b53-1296-422a-917f-ade6332b50eb" Alias="Fast Food Restaurant Cp" Level="4">
  <Info>
    <Parent Key="e4063060-15aa-4985-b3c2-6d64bb37a06e">Restaurants &amp; Eateries</Parent>
    <Path>/Images/Industries/RestaurantsEateries/FastFoodRestaurantCp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T16:51:15</CreateDate>
    <NodeName Default="Fast Food Restaurant Cp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kvfbuqew/fast-food-restaurant-cp.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>