<?xml version="1.0" encoding="utf-8"?>
<Media Key="c57e3a47-99be-4a10-8d07-d540dd9bad4d" Alias="Fast Food Drive Thru Istock 1141083617" Level="4">
  <Info>
    <Parent Key="e4063060-15aa-4985-b3c2-6d64bb37a06e">Restaurants &amp; Eateries</Parent>
    <Path>/Images/Industries/RestaurantsEateries/FastFoodDriveThruIstock1141083617</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T16:51:15</CreateDate>
    <NodeName Default="Fast Food Drive Thru Istock 1141083617" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ie3h3rn4/fast-food-drive-thru-istock-1141083617.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>