<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a550718-f772-4a83-899c-47746b6df508" Alias="Fastfood Main" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/FastfoodMain</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T10:59:46</CreateDate>
    <NodeName Default="Fastfood Main" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dydfkgts/fastfood-main.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>