<?xml version="1.0" encoding="utf-8"?>
<Media Key="92475508-f2cf-482c-a1d1-ce4d2ff6b71d" Alias="FY23 Investor Presentation German" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/FY23InvestorPresentationGerman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T10:59:07</CreateDate>
    <NodeName Default="FY23 Investor Presentation German" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bzkfpewp/fy23-investor-presentation-german.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>