<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec451897-7e10-4cb3-b464-9144743ac209" Alias="FY23 Preliminary Final Report" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/FY23PreliminaryFinalReport</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:07:47</CreateDate>
    <NodeName Default="FY23 Preliminary Final Report" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/semel1aq/fy23-preliminary-final-report.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>