<?xml version="1.0" encoding="utf-8"?>
<Media Key="03c5b0c9-c515-488d-9305-d86135272e6d" Alias="FY23 Investor Presentation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FY23InvestorPresentation</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-02T11:17:20</CreateDate>
    <NodeName Default="FY23 Investor Presentation" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/24ymkayv/fy23-investor-presentation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>