<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5630cd2-0348-4ca6-8f05-b3efc470e862" Alias="FY23 Annual Report" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/FY23AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:07:47</CreateDate>
    <NodeName Default="FY23 Annual Report" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0qgghrki/fy23-annual-report.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>