<?xml version="1.0" encoding="utf-8"?>
<Media Key="21afe7b2-af40-4adf-ad53-2a335a1fcc6c" Alias="FY23 Investor Presentation Dk" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/FY23InvestorPresentationDk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T11:05:39</CreateDate>
    <NodeName Default="FY23 Investor Presentation Dk" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wttl4ika/fy23-investor-presentation-dk.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>