<?xml version="1.0" encoding="utf-8"?>
<Media Key="f041efbb-fcf7-4de2-8385-8d95699297f8" Alias="FY23 Investor Presentation Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/FY23InvestorPresentationListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T02:36:22</CreateDate>
    <NodeName Default="FY23 Investor Presentation Listing" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xxxfd2hx/fy23-investor-presentation_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>