<?xml version="1.0" encoding="utf-8"?>
<Media Key="a196fb18-427f-42ba-942d-888dbc9ef069" Alias="FY23 Preliminary Final Report (1)" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/FY23PreliminaryFinalReport1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:21:32</CreateDate>
    <NodeName Default="FY23 Preliminary Final Report (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d13jnil5/fy23-preliminary-final-report.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>