<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a8f7335-c06d-4019-9cfe-c589db870d4f" Alias="FY23 Preliminary Final Report" Level="3">
  <Info>
    <Parent Key="cd110c3b-f84a-445e-961f-0ed8aa772639">Investor Page Downloads</Parent>
    <Path>/Documents/InvestorPageDownloads/FY23PreliminaryFinalReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-02T11:07:13</CreateDate>
    <NodeName Default="FY23 Preliminary Final Report" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnzj40tn/fy23-preliminary-final-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>