<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3611c35-868f-4123-9c65-8c6a657ef27b" Alias="FY23 Investor Presentation" Level="3">
  <Info>
    <Parent Key="cd110c3b-f84a-445e-961f-0ed8aa772639">Investor Page Downloads</Parent>
    <Path>/Documents/InvestorPageDownloads/FY23InvestorPresentation</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-02T11:07:13</CreateDate>
    <NodeName Default="FY23 Investor Presentation" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dmogdy2p/fy23-investor-presentation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>