<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bec28c5-aefa-45f9-80aa-bd75f27543c8" Alias="FY23 Annual Report" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FY23AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-10-02T11:15:38</CreateDate>
    <NodeName Default="FY23 Annual Report" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3muoyg50/fy23-annual-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>