<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f24c891-8ce1-4aa8-b95f-eaab353ae241" Alias="FY24 Cover Pic 1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FY24CoverPic11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T11:21:38</CreateDate>
    <NodeName Default="FY24 Cover Pic 1 (1)" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s5eci55b/fy24-cover-pic-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>