<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fb40d69-9ee5-42fd-907b-00fa7fee19a4" Alias="FY24 Annual Report De" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/FY24AnnualReportDe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T09:51:54</CreateDate>
    <NodeName Default="FY24 Annual Report De" />
    <SortOrder>133</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n2gljh5f/fy24-annual-report-de.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>