<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d8dfaa8-ccd5-42c7-ad6b-a2f74ffaea3c" Alias="German Britische (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GermanBritische1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T12:38:46</CreateDate>
    <NodeName Default="German Britische (1)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v13i0dov/german-britische.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>