<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f1edf3e-f48d-4429-b154-b91322f698e6" Alias="Germany Expansion Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/GermanyExpansionListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T03:56:10</CreateDate>
    <NodeName Default="Germany Expansion Listing" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hdpb2l2n/germany-expansion_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>