<?xml version="1.0" encoding="utf-8"?>
<Media Key="673183f5-5a06-48cb-9fef-d71bfc01a03c" Alias="German Brochure Thumbnail 2" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/GermanBrochureThumbnail2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-19T16:22:10</CreateDate>
    <NodeName Default="German Brochure Thumbnail 2" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4obdczyg/german-brochure-thumbnail-2.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>