<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c85661-28fb-4002-b105-dc7faf136f93" Alias="German Car Park" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/GermanCarPark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T11:41:59</CreateDate>
    <NodeName Default="German Car Park" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/m3lmre51/german-car-park.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>