<?xml version="1.0" encoding="utf-8"?>
<Media Key="8564141d-39b0-4da6-b1a1-3d560193f3c1" Alias="German Signage" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/GermanSignage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T11:41:59</CreateDate>
    <NodeName Default="German Signage" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dmkgjbnq/german-signage.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>