<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d1a36b9-873f-46a3-b63d-579745b5a231" Alias="Germany" Level="2">
  <Info>
    <Parent Key="4cdac8f3-3c22-4032-87d5-fc17f740f5b7">Documents</Parent>
    <Path>/Documents/Germany</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-04T09:12:17</CreateDate>
    <NodeName Default="Germany" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>