<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee4a0c30-f7db-424f-9e7c-25fe360d3a1e" Alias="German Car Park Full Resized" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/GermanCarParkFullResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T10:28:56</CreateDate>
    <NodeName Default="German Car Park Full Resized" />
    <SortOrder>131</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gygev1w1/german-car-park-full-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>