<?xml version="1.0" encoding="utf-8"?>
<Media Key="b55ad46e-b514-4190-832b-f2abf2c87511" Alias="Germany Connects Up May 22" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/GermanyConnectsUpMay22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-30T13:36:33</CreateDate>
    <NodeName Default="Germany Connects Up May 22" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ndkfvniu/germany-connects-up-may-22.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>