<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cde0052-f79f-4879-b95f-d4e72bb62689" Alias="Germany Article Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GermanyArticleImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T01:58:36</CreateDate>
    <NodeName Default="Germany Article Image" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kqan2le5/germany-article-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>