<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3f77cfc-0e7e-4cb0-a80d-488ef7b864dd" Alias="Germany Expansion Lower" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/GermanyExpansionLower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T03:56:09</CreateDate>
    <NodeName Default="Germany Expansion Lower" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5j4ppy14/germany-expansion_lower.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>