<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c24d02d-441d-4290-bc1c-69247454da1e" Alias="Golf Lr" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/GolfLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T13:42:50</CreateDate>
    <NodeName Default="Golf Lr" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fpicita3/golf-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>