<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c8ea716-3ee9-4b12-ab6b-b8b623efe6a2" Alias="Golf Car Park Resized" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/GolfCarParkResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T16:32:34</CreateDate>
    <NodeName Default="Golf Car Park Resized" />
    <SortOrder>132</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cctj3hhj/golf-car-park-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>