<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c0617c3-50dc-4075-800a-730279b3b553" Alias="Graphic Testimonial" Level="3">
  <Info>
    <Parent Key="06ab7228-501b-42a4-9b8d-79a105b10b92">Graphics</Parent>
    <Path>/Images/Graphics/GraphicTestimonial</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-09T16:23:01</CreateDate>
    <NodeName Default="Graphic Testimonial" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ilbmlg2/graphic-testimonial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>