<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4447439-ada3-45e7-ade0-694812c6e66a" Alias="Graphic System1" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/GraphicSystem1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-21T16:15:07</CreateDate>
    <NodeName Default="Graphic System1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bb0ejrfd/graphic-system1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>