<?xml version="1.0" encoding="utf-8"?>
<Media Key="041b09db-f94e-469d-8619-0816444fb0ec" Alias="GT Logo" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/GTLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-13T10:32:07</CreateDate>
    <NodeName Default="GT Logo" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1uebwbco/gt-logo.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>