<?xml version="1.0" encoding="utf-8"?>
<Media Key="3125d66e-4452-47eb-8789-848f2896806b" Alias="Gym Lr (2)" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/GymLr2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T13:49:38</CreateDate>
    <NodeName Default="Gym Lr (2)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ndlckmks/gym-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>