<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed7ea6c6-25c9-4ea6-ba05-b48bc41612c2" Alias="Gym" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/Gym</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T11:26:39</CreateDate>
    <NodeName Default="Gym" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ycth31oj/gym.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>