<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf033e8-143d-418b-a393-5dee1bd4def4" Alias="H1 FY23 Interim Report Cover (1)" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/H1FY23InterimReportCover1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T01:44:15</CreateDate>
    <NodeName Default="H1 FY23 Interim Report Cover (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3yzpboz3/h1-fy23-interim-report-cover.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>