<?xml version="1.0" encoding="utf-8"?>
<Media Key="b369191d-bb1e-4951-854f-d8acb20d18ba" Alias="H1 FY24 Investor Presentation V7" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/H1FY24InvestorPresentationV7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-21T09:56:05</CreateDate>
    <NodeName Default="H1 FY24 Investor Presentation V7" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dmmhtmy4/h1-fy24-investor-presentation-v7.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>