<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8b70501-79e5-465a-95d4-26ce22b2ab97" Alias="H1 FY24 Investor Presentation German" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/H1FY24InvestorPresentationGerman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T10:56:14</CreateDate>
    <NodeName Default="H1 FY24 Investor Presentation German" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a2clpkhf/h1-fy24-investor-presentation-german.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>