<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d1d70ac-cc1d-491d-a691-dd99224d2d7d" Alias="H1 FY24 Interim Report (1)" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/H1FY24InterimReport1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-02-21T09:41:23</CreateDate>
    <NodeName Default="H1 FY24 Interim Report (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qjyb05i3/h1-fy24-interim-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>