<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6d4de47-5d1e-48ee-974b-a08ef1624cc6" Alias="H1 FY24 Investor Presentation German (1)" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/H1FY24InvestorPresentationGerman1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T10:57:08</CreateDate>
    <NodeName Default="H1 FY24 Investor Presentation German (1)" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ihpnjrq4/h1-fy24-investor-presentation-german.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>