<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac060258-9eea-406a-a073-a8d22832e759" Alias="H1 FY24 Investor Presentation (1)" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/H1FY24InvestorPresentation1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-02-21T08:58:22</CreateDate>
    <NodeName Default="H1 FY24 Investor Presentation (1)" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oybanlhk/h1-fy24-investor-presentation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>