<?xml version="1.0" encoding="utf-8"?>
<Media Key="45b73c5f-2cf4-4d0b-ac6c-a4431ceaa39e" Alias="H1 FY24 Interim Report DK" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/H1FY24InterimReportDK</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T11:14:30</CreateDate>
    <NodeName Default="H1 FY24 Interim Report DK" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/le4lorpu/h1-fy24-interim-report-dk.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>