<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d945ea-4b50-4d0c-8177-da1899898371" Alias="H200 C360x200 Q80 (10)" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/H200C360x200Q8010</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-16T15:49:30</CreateDate>
    <NodeName Default="H200 C360x200 Q80 (10)" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3rcnsvcq/h200-c360x200-q80-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>