<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b1b2d68-9483-4a74-977a-5a8e80f5b31d" Alias="H200 C360x200 Q80 (9)" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/H200C360x200Q809</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-16T15:36:55</CreateDate>
    <NodeName Default="H200 C360x200 Q80 (9)" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nywbwk2d/h200-c360x200-q80.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>