<?xml version="1.0" encoding="utf-8"?>
<Media Key="8290a79c-429c-4396-8d16-7b3a9c83358c" Alias="Hand Shake Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/HandShakeLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T15:07:25</CreateDate>
    <NodeName Default="Hand Shake Lr" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tktjbau2/hand-shake-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>