<?xml version="1.0" encoding="utf-8"?>
<Media Key="deeaa8e1-d398-40e9-b32b-eadf6c2727a3" Alias="Hand Shake Low Res" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/HandShakeLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-19T15:43:33</CreateDate>
    <NodeName Default="Hand Shake Low Res" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/24uovxuy/hand-shake-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>