<?xml version="1.0" encoding="utf-8"?>
<Media Key="46b2fe3c-47d2-41a1-99fc-883406cc53c1" Alias="Happy Family" Level="4">
  <Info>
    <Parent Key="bac52416-1632-4213-aa9f-e38967c4c751">Supermarkets</Parent>
    <Path>/Images/Industries/Supermarkets/HappyFamily</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T17:00:00</CreateDate>
    <NodeName Default="Happy Family" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hl5lerws/happy-family.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>