<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3c508c6-984e-44f3-a878-251c73ec368f" Alias="Hero Hex" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/HeroHex</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-12T09:57:53</CreateDate>
    <NodeName Default="Hero Hex" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yaemli0o/hero-hex.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>