<?xml version="1.0" encoding="utf-8"?>
<Media Key="83a0df93-b2eb-4427-acc1-78b830da75ce" Alias="Hexagon Hollow" Level="3">
  <Info>
    <Parent Key="06ab7228-501b-42a4-9b8d-79a105b10b92">Graphics</Parent>
    <Path>/Images/Graphics/HexagonHollow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-09T16:22:00</CreateDate>
    <NodeName Default="Hexagon Hollow" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulplba5l/hexagon-hollow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>