<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b16667-bdb5-4bd3-9c82-a316ced97f0f" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-09T16:31:36</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties />
</Media>