<?xml version="1.0" encoding="utf-8"?>
<Media Key="56cf9a11-8b24-4380-a88a-fac9799072a8" Alias="Hospitals &amp; Medical Centres Hero" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/HospitalsMedicalCentresHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T00:01:59</CreateDate>
    <NodeName Default="Hospitals &amp; Medical Centres Hero" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c4nm4vre/hospitals-medical-centres-hero.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>