<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1c0e40c-5c34-4f31-bf15-2c9c44381d5f" Alias="Hospital Lr" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/HospitalLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:42:51</CreateDate>
    <NodeName Default="Hospital Lr" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/blsmbqju/hospital-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>