<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d9cf1fe-d86b-46bb-a3ae-4d552befacd6" Alias="Hotels &amp; Hospitality" Level="3">
  <Info>
    <Parent Key="245178b8-4f48-452b-b1ad-5c9b78cca6c1">Industries</Parent>
    <Path>/Images/Industries/HotelsHospitality</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-09T16:24:13</CreateDate>
    <NodeName Default="Hotels &amp; Hospitality" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>