<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0e6d7a9-30bd-43e5-a652-eee70cacaf14" Alias="Hotels &amp; Gastgewerbe Summary Cropped" Level="3">
  <Info>
    <Parent Key="d43923ca-fb6e-40f3-8f30-7a6df56fdacc">Industry summary images</Parent>
    <Path>/GermanyImages/IndustrySummaryImages/HotelsGastgewerbeSummaryCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-13T09:22:03</CreateDate>
    <NodeName Default="Hotels &amp; Gastgewerbe Summary Cropped" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v5lpnyf3/hotels-gastgewerbe-summary-cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>