<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4353451-f00f-4881-bcc0-6621ad11a322" Alias="Hotel Car Park Low Res" Level="4">
  <Info>
    <Parent Key="5d9cf1fe-d86b-46bb-a3ae-4d552befacd6">Hotels &amp; Hospitality</Parent>
    <Path>/Images/Industries/HotelsHospitality/HotelCarParkLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:17:34</CreateDate>
    <NodeName Default="Hotel Car Park Low Res" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k20dlnap/hotel-car-park-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>