<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb7e274a-967b-420c-8a02-b891838cfc78" Alias="Hotel Reception Lr" Level="4">
  <Info>
    <Parent Key="5d9cf1fe-d86b-46bb-a3ae-4d552befacd6">Hotels &amp; Hospitality</Parent>
    <Path>/Images/Industries/HotelsHospitality/HotelReceptionLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:18:59</CreateDate>
    <NodeName Default="Hotel Reception Lr" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jqth3s11/hotel-reception-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>