<?xml version="1.0" encoding="utf-8"?>
<Media Key="09de71d3-c261-43d8-ad65-d31dab845966" Alias="Hotel Car Park" Level="4">
  <Info>
    <Parent Key="5d9cf1fe-d86b-46bb-a3ae-4d552befacd6">Hotels &amp; Hospitality</Parent>
    <Path>/Images/Industries/HotelsHospitality/HotelCarPark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T13:48:16</CreateDate>
    <NodeName Default="Hotel Car Park" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0vyn2clb/hotel-car-park.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>