<?xml version="1.0" encoding="utf-8"?>
<Media Key="fad8035d-79c4-42d3-9535-799397d76055" Alias="Hotel Reception" Level="4">
  <Info>
    <Parent Key="5d9cf1fe-d86b-46bb-a3ae-4d552befacd6">Hotels &amp; Hospitality</Parent>
    <Path>/Images/Industries/HotelsHospitality/HotelReception</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T11:06:51</CreateDate>
    <NodeName Default="Hotel Reception" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lmbnr4we/hotel-reception.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>