<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7e2f83a-4f60-443d-a958-9e0ce2b5327f" Alias="Icon Hotels" Level="2">
  <Info>
    <Parent Key="8a0a9d6e-89b0-45e3-afc0-3ec1c1e35877">Icons</Parent>
    <Path>/Icons/IconHotels</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-08T15:23:04</CreateDate>
    <NodeName Default="Icon Hotels" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bp2of31a/icon-hotels.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>