<?xml version="1.0" encoding="utf-8"?>
<Media Key="99e8f78b-eae7-4ac1-bfd0-093c80508617" Alias="Icon Smartcloud" Level="2">
  <Info>
    <Parent Key="8a0a9d6e-89b0-45e3-afc0-3ec1c1e35877">Icons</Parent>
    <Path>/Icons/IconSmartcloud</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T15:34:38</CreateDate>
    <NodeName Default="Icon Smartcloud" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rx1prgph/icon-smartcloud.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>