<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdc31713-1be9-4329-b4b0-af851ee1d339" Alias="Icon Smart Hub" Level="2">
  <Info>
    <Parent Key="8a0a9d6e-89b0-45e3-afc0-3ec1c1e35877">Icons</Parent>
    <Path>/Icons/IconSmartHub</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T15:35:35</CreateDate>
    <NodeName Default="Icon Smart Hub" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/culnhppj/icon-smart-hub.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>