<?xml version="1.0" encoding="utf-8"?>
<Media Key="346aec4d-a4d2-4816-9528-fe950960c753" Alias="Icons" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-10T14:56:11</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>