<?xml version="1.0" encoding="utf-8"?>
<Media Key="156c08f7-ac84-4308-8d61-503345e9ee78" Alias="Icon Leisure" Level="2">
  <Info>
    <Parent Key="8a0a9d6e-89b0-45e3-afc0-3ec1c1e35877">Icons</Parent>
    <Path>/Icons/IconLeisure</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-08T15:23:44</CreateDate>
    <NodeName Default="Icon Leisure" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yyegyfme/icon-leisure.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>