<?xml version="1.0" encoding="utf-8"?>
<Media Key="86754854-bc76-4a5f-91f2-473436ea41ba" Alias="Imagebroschüre A4 SP 2024" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImagebroschuReA4SP2024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-11-13T12:09:28</CreateDate>
    <NodeName Default="Imagebroschüre A4 SP 2024" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjehlbtw/imagebroschu-re_a4_sp_2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>