<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2746de-d5ee-43a3-b80c-286e431623d9" Alias="Imagebroschüre A4 Smartparking 2022 Digital" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ImagebroschuReA4Smartparking2022Digital</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-14T09:29:39</CreateDate>
    <NodeName Default="Imagebroschüre A4 Smartparking 2022 Digital" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4bdcps5o/imagebroschu-re_a4_smartparking_2022_digital.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>