<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eec7c86-49b7-48bc-b0b1-257a38f88eb5" Alias="Imagebroschüre A4 Smartparking" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImagebroschuereA4Smartparking</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-28T15:01:53</CreateDate>
    <NodeName Default="Imagebroschüre A4 Smartparking" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vb4oy1vx/imagebroschuere_a4_smartparking.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>