<?xml version="1.0" encoding="utf-8"?>
<Media Key="65f48081-c321-4c5c-a53f-43cb34f9b1a9" Alias="Imagebroschüre A4 Smartparking" Level="2">
  <Info>
    <Parent Key="4cdac8f3-3c22-4032-87d5-fc17f740f5b7">Documents</Parent>
    <Path>/Documents/ImagebroschuereA4Smartparking</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-28T15:01:16</CreateDate>
    <NodeName Default="Imagebroschüre A4 Smartparking" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v4apizjb/imagebroschuere_a4_smartparking.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>