<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e8920c2-570e-4f5b-b91b-29bf4bfe4065" Alias="Immobilienverwalter &amp; Entwickler Summary Cropped" Level="3">
  <Info>
    <Parent Key="d43923ca-fb6e-40f3-8f30-7a6df56fdacc">Industry summary images</Parent>
    <Path>/GermanyImages/IndustrySummaryImages/ImmobilienverwalterEntwicklerSummaryCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-13T09:20:38</CreateDate>
    <NodeName Default="Immobilienverwalter &amp; Entwickler Summary Cropped" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yqqithqo/immobilienverwalter-entwickler-summary-cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>