<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aacd587-9cfd-4a54-919d-7c08ac36d0c9" Alias="Innovatives Parkraummanagament Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/InnovativesParkraummanagamentLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:48:14</CreateDate>
    <NodeName Default="Innovatives Parkraummanagament Lr" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qhklzgx3/innovatives-parkraummanagament-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>