<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae30c8cc-ef9c-4358-ab12-f076ed58379e" Alias="Inside Church Lr" Level="4">
  <Info>
    <Parent Key="0af6123a-664a-41d3-8dc2-2c0bad074ed0">Places of Worship</Parent>
    <Path>/Images/Industries/PlacesOfWorship/InsideChurchLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:23:26</CreateDate>
    <NodeName Default="Inside Church Lr" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zledblu2/inside-church-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>