<?xml version="1.0" encoding="utf-8"?>
<Media Key="634e2d50-6913-419b-890f-82ec5fd75fb7" Alias="Instagram" Level="4">
  <Info>
    <Parent Key="902b6e00-721d-46e1-ab54-7aada9c9fb2b">Social Media</Parent>
    <Path>/Images/Icons/SocialMedia/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-11-22T18:22:50</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mewf2yyt/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>