<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd01f94a-2b81-4950-9204-3b0224db4a39" Alias="Investor Centre Resized" Level="3">
  <Info>
    <Parent Key="f3061ccc-2649-409f-bbeb-9574d1d82c59">Banners</Parent>
    <Path>/Images/Banners/InvestorCentreResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T10:11:01</CreateDate>
    <NodeName Default="Investor Centre Resized" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jt2bdtmb/investor-centre-resized.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>