<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1b34b25-8398-43b2-bfd8-f24d5b449aa1" Alias="Iso 9001 (1) (1)" Level="3">
  <Info>
    <Parent Key="fcef954a-8e3a-4039-9c23-b437f78b51b5">Accreditations and Partnerships</Parent>
    <Path>/Images/AccreditationsAndPartnerships/Iso900111</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T14:38:34</CreateDate>
    <NodeName Default="Iso 9001 (1) (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/enflhimy/iso-9001-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>