<?xml version="1.0" encoding="utf-8"?>
<Media Key="665b7365-43bb-46f0-b62c-f0cdd31c3cf2" Alias="Istockphoto 1360018838 612X612" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Istockphoto1360018838612X612</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-13T13:30:29</CreateDate>
    <NodeName Default="Istockphoto 1360018838 612X612" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mnzfwzv1/istockphoto-1360018838-612x612.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>