<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e38fd3e-91fe-4313-b81a-9edcdf3d8750" Alias="Istock Pub Internal Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockPubInternalResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-14T03:06:55</CreateDate>
    <NodeName Default="Istock Pub Internal Resized" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hd4dq5x4/istock-pub-internal-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>