<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc1b2251-2d33-4a69-87be-ffaf7958849a" Alias="Istock British Pound Sign Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockBritishPoundSignResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T02:34:36</CreateDate>
    <NodeName Default="Istock British Pound Sign Resized" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k2rbx5bt/istock-british-pound-sign-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>