<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f084c68-c238-40b7-8e6e-5fcef431d24d" Alias="Istock Kid Parking Scooter Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockKidParkingScooterResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-07T04:30:09</CreateDate>
    <NodeName Default="Istock Kid Parking Scooter Resized" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nzgaqlzy/istock-kid-parking-scooter-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>