<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddda4900-e0b5-423d-a1e1-463d84b0650f" Alias="Istock Open Plan Office Resized 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockOpenPlanOfficeResized2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-04T00:25:25</CreateDate>
    <NodeName Default="Istock Open Plan Office Resized 2" />
    <SortOrder>128</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/azenvxnv/istock-open-plan-office-resized-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>