<?xml version="1.0" encoding="utf-8"?>
<Media Key="d51f5c0d-004a-46ee-94ad-9b51f9ea0539" Alias="Istock Theatre Curtain Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockTheatreCurtainResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-09T00:20:47</CreateDate>
    <NodeName Default="Istock Theatre Curtain Resized" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bnob5vkk/istock-theatre-curtain-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>