<?xml version="1.0" encoding="utf-8"?>
<Media Key="760c4503-7d1a-4a01-b3b7-96bebffceae0" Alias="Istock Car On Driveway Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockCarOnDrivewayResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-10T23:49:30</CreateDate>
    <NodeName Default="Istock Car On Driveway Resized" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/avcby3q0/istock-car-on-driveway-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>