<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7775d22-ca60-4196-a984-592340ff3468" Alias="Istock Auckland Skyline Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockAucklandSkylineResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-23T06:04:34</CreateDate>
    <NodeName Default="Istock Auckland Skyline Resized" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/erohp31a/istock-auckland-skyline-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>