<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a206f44-cd0d-4e39-a0d1-e9f6c1a436d3" Alias="Istock Noosa Marina 3 Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockNoosaMarina3Resized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-16T05:28:00</CreateDate>
    <NodeName Default="Istock Noosa Marina 3 Resized" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ijxdbgqn/istock-noosa-marina-3-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>