<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cf459da-3a78-480e-aca4-deefc9ee91c2" Alias="Istock Aus $100 Dollar Sign Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockAus100DollarSignResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T02:40:43</CreateDate>
    <NodeName Default="Istock Aus $100 Dollar Sign Resized" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1rmpildy/istock-aus-100-dollar-sign-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>