<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2b4eb9-6f68-47e1-84a6-8dfaaca23b44" Alias="Istock Euro Sign Gold Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockEuroSignGoldResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-23T05:44:54</CreateDate>
    <NodeName Default="Istock Euro Sign Gold Resized" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x3hcxs1i/istock-euro-sign-gold-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>