<?xml version="1.0" encoding="utf-8"?>
<Media Key="24f19038-b5ff-4c8c-b790-ff23821f3581" Alias="Istock New Zealand Money Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockNewZealandMoneyResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T02:47:04</CreateDate>
    <NodeName Default="Istock New Zealand Money Resized" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/h0ipcjh5/istock-new-zealand-money-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>