<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bb8c774-1e38-4d67-93db-d5c7923b1fc8" Alias="Istock Christmas Tree In The Dark Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockChristmasTreeInTheDarkResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T23:05:19</CreateDate>
    <NodeName Default="Istock Christmas Tree In The Dark Resized" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oldlrgzy/istock-christmas-tree-in-the-dark-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>