<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f9011d2-c437-4a8d-8fcc-6d155d9fdcca" Alias="Istock Uk Train Resized" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IstockUkTrainResized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-20T01:59:08</CreateDate>
    <NodeName Default="Istock Uk Train Resized" />
    <SortOrder>126</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0qijaxzx/istock-uk-train-resized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>