<?xml version="1.0" encoding="utf-8"?>
<Media Key="2688d873-682d-4eb1-8187-6dd0b28a7586" Alias="Jo 1" Level="3">
  <Info>
    <Parent Key="735f23ff-e058-4210-9e61-1976a0bc85ed">Leadership team</Parent>
    <Path>/Images/LeadershipTeam/Jo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-11T14:52:01</CreateDate>
    <NodeName Default="Jo 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oxmiqjrn/jo-1.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>