<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d8b715a-d1e6-4f8a-8e80-ee5d78469fce" Alias="Kein Park&amp;Ride" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/KeinParkRide</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-31T10:35:42</CreateDate>
    <NodeName Default="Kein Park&amp;Ride" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lryjwdpg/kein-parkride.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>