<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcf05810-64a1-48b3-930f-f5aadf645cad" Alias="Kin Sized" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/KinSized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T09:08:16</CreateDate>
    <NodeName Default="Kin Sized" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/czmpb5fb/kin-sized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>