<?xml version="1.0" encoding="utf-8"?>
<Media Key="001480b9-de4e-48f3-b8b2-f570045d7d7a" Alias="Kostendruck Reduzieren Und Umsatz Generieren Mit Unserer Kamerabsiereten Kennzeichenerfassung Lr Crop" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/KostendruckReduzierenUndUmsatzGenerierenMitUnsererKamerabsieretenKennzeichenerfassungLrCrop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:32:42</CreateDate>
    <NodeName Default="Kostendruck Reduzieren Und Umsatz Generieren Mit Unserer Kamerabsiereten Kennzeichenerfassung Lr Crop" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x4abiaco/kostendruck-reduzieren-und-umsatz-generieren-mit-unserer-kamerabsiereten-kennzeichenerfassung-lr-crop.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>