<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b5d98df-8d14-4bec-8379-0f28167a2825" Alias="Kostendruck Reduzieren Und Umsatz Generieren Mit Unserer Kamerabsiereten Kennzeichenerfassung Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/KostendruckReduzierenUndUmsatzGenerierenMitUnsererKamerabsieretenKennzeichenerfassungLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:06:16</CreateDate>
    <NodeName Default="Kostendruck Reduzieren Und Umsatz Generieren Mit Unserer Kamerabsiereten Kennzeichenerfassung Lr" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1gmf0gyu/kostendruck-reduzieren-und-umsatz-generieren-mit-unserer-kamerabsiereten-kennzeichenerfassung-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>