<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f4a7894-9000-4340-80b3-a89c36373a25" Alias="Logo2" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/Logo2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T16:44:46</CreateDate>
    <NodeName Default="Logo2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sj2evdya/logo2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>