<?xml version="1.0" encoding="utf-8"?>
<Media Key="bed7b87a-d52d-4a5e-90b1-4571bd6c8af9" Alias="Logo5" Level="2">
  <Info>
    <Parent Key="4c747f82-459a-456b-b202-e5828350bedc">Logos</Parent>
    <Path>/Logos/Logo5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-31T14:38:40</CreateDate>
    <NodeName Default="Logo5" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ps2npprn/logo5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>