<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5713a71-2864-4293-9832-91d25a52ed23" Alias="Logo6" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/Logo6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T16:45:44</CreateDate>
    <NodeName Default="Logo6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o23hdnle/logo6.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>