<?xml version="1.0" encoding="utf-8"?>
<Media Key="275384e0-7cb3-4420-9c27-e5302b8bcb79" Alias="Logo4" Level="2">
  <Info>
    <Parent Key="4c747f82-459a-456b-b202-e5828350bedc">Logos</Parent>
    <Path>/Logos/Logo4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-31T14:38:31</CreateDate>
    <NodeName Default="Logo4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/20cfgj3t/logo4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>