<?xml version="1.0" encoding="utf-8"?>
<Media Key="c20103e1-70eb-42bf-94f5-259838ab6dcf" Alias="Logo3" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/Logo3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T16:45:02</CreateDate>
    <NodeName Default="Logo3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/22bbdqxl/logo3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>