<?xml version="1.0" encoding="utf-8"?>
<Media Key="30a0dc69-8010-421d-9525-2d757e55ab06" Alias="Logo1" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T16:44:25</CreateDate>
    <NodeName Default="Logo1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n5okamaq/logo1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>