<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcaa3beb-85d8-4e49-bb78-e8e79a4dd8aa" Alias="Logo4" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/Logo4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-09T16:45:17</CreateDate>
    <NodeName Default="Logo4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3u3lvpgy/logo4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>