<?xml version="1.0" encoding="utf-8"?>
<Media Key="e102946d-b1af-4b47-be8e-e2896d4515d0" Alias="Lykke Nielsen" Level="3">
  <Info>
    <Parent Key="e2002676-dc38-4f9b-bdcf-e3573752f76f">Medarbejdere</Parent>
    <Path>/Denmark/Medarbejdere/LykkeNielsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-13T08:05:23</CreateDate>
    <NodeName Default="Lykke Nielsen" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nokafynp/lykke-nielsen.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>