<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2b83bee-f11c-4bc9-996d-de55157ac749" Alias="Managed Car Park Lr 4" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkLr4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T10:24:29</CreateDate>
    <NodeName Default="Managed Car Park Lr 4" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3a3lriq2/managed-car-park-lr-4.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>