<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2fb3d19-9d68-436c-922f-6b4ff2ff298b" Alias="Managed Car Park Lr 5" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkLr5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T10:30:27</CreateDate>
    <NodeName Default="Managed Car Park Lr 5" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d24pxiti/managed-car-park-lr-5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>