<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b982caa-9917-4685-aa3b-1e32f8384f9e" Alias="Managed Car Park Offices" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkOffices</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T11:06:43</CreateDate>
    <NodeName Default="Managed Car Park Offices" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vqwjrcyx/managed-car-park-offices.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>