<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a0c5f4-d62d-4916-ad41-50fab8073954" Alias="Managed Car Park Lr" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T13:53:23</CreateDate>
    <NodeName Default="Managed Car Park Lr" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4lclbqzn/managed-car-park-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>