<?xml version="1.0" encoding="utf-8"?>
<Media Key="67e0ad41-54e5-4b6d-a70b-031207578165" Alias="Managed Car Park Lr 3" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkLr3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T10:24:29</CreateDate>
    <NodeName Default="Managed Car Park Lr 3" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i4wpaz5f/managed-car-park-lr-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>