<?xml version="1.0" encoding="utf-8"?>
<Media Key="8edc519c-1f07-4d2d-a2ea-7d23ea77ab7c" Alias="Managed Car Park Offices (1)" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ManagedCarParkOffices1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T11:18:50</CreateDate>
    <NodeName Default="Managed Car Park Offices (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tjinzdqh/managed-car-park-offices.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>