<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e4ff20c-364c-4a49-8659-b7c2f5cfe8ea" Alias="Map1" Level="3">
  <Info>
    <Parent Key="d0b16667-bdb5-4bd3-9c82-a316ced97f0f">Home Page</Parent>
    <Path>/Images/HomePage/Map1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-04T17:06:52</CreateDate>
    <NodeName Default="Map1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hxze45sm/map1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>