<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e80a8df-e451-4588-a2b9-5b2f5078b21b" Alias="Marting Jørgensen" Level="3">
  <Info>
    <Parent Key="e2002676-dc38-4f9b-bdcf-e3573752f76f">Medarbejdere</Parent>
    <Path>/Denmark/Medarbejdere/MartingJoergensen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-13T08:04:58</CreateDate>
    <NodeName Default="Marting Jørgensen" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1guialsr/marting-joergensen.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>