<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2002676-dc38-4f9b-bdcf-e3573752f76f" Alias="Medarbejdere" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Medarbejdere</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-13T08:03:51</CreateDate>
    <NodeName Default="Medarbejdere" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties />
</Media>