<?xml version="1.0" encoding="utf-8"?>
<Media Key="5acf4175-74c5-44c9-a0c6-239d33473e28" Alias="Medical Centre" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/MedicalCentre</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T13:53:12</CreateDate>
    <NodeName Default="Medical Centre" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/onan4wwf/medical-centre.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>