<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad023e78-6c1f-4bdb-b8f8-c2363f1c9c63" Alias="Medical Centre Lr" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/MedicalCentreLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:39:41</CreateDate>
    <NodeName Default="Medical Centre Lr" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/py5afli5/medical-centre-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>