<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc27f47a-d0cc-434c-8c12-57cd69d14ed3" Alias="Medical Summmary Page 1" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/MedicalSummmaryPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T10:10:52</CreateDate>
    <NodeName Default="Medical Summmary Page 1" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pt0cpxgm/medical-summmary-page-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>