<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2540612-56e2-4f93-b871-3775a3d9de0f" Alias="Mit Robusten Parkautomaten Kontaktlos Zahlen Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/MitRobustenParkautomatenKontaktlosZahlenLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:04:24</CreateDate>
    <NodeName Default="Mit Robusten Parkautomaten Kontaktlos Zahlen Lr" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cqdfjuxc/mit-robusten-parkautomaten-kontaktlos-zahlen-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>