<?xml version="1.0" encoding="utf-8"?>
<Media Key="e021ed92-a3ef-4b0e-b975-b07fa77bb84c" Alias="Mobile Attendant Lr" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/MobileAttendantLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:20:34</CreateDate>
    <NodeName Default="Mobile Attendant Lr" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/stwddyhp/mobile-attendant-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>