<?xml version="1.0" encoding="utf-8"?>
<Media Key="19b1c659-9bda-4dfb-8dc5-6e6d9b11657d" Alias="Mobile Patrols Icon (1)" Level="2">
  <Info>
    <Parent Key="8a0a9d6e-89b0-45e3-afc0-3ec1c1e35877">Icons</Parent>
    <Path>/Icons/MobilePatrolsIcon1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T13:08:46</CreateDate>
    <NodeName Default="Mobile Patrols Icon (1)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l5dlcgo0/mobile-patrols-icon-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>