<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b9298fb-a0a7-446b-8129-4094865c05ea" Alias="Momsparkering" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Momsparkering</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-29T08:18:04</CreateDate>
    <NodeName Default="Momsparkering" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5wmjes3h/momsparkering.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>