<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2be952e-6f4c-4f09-b6aa-6f7e9bb33ea6" Alias="MPS Picture Lr" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/MPSPictureLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-16T07:45:52</CreateDate>
    <NodeName Default="MPS Picture Lr" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fckl3ysm/mps-picture-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>