<?xml version="1.0" encoding="utf-8"?>
<Media Key="298d3cd2-f2db-47b9-93cf-c92bf145afc4" Alias="New Melb Sites Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NewMelbSitesListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T23:11:46</CreateDate>
    <NodeName Default="New Melb Sites Listing" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0q4i0ko1/new-melb-sites-listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>