<?xml version="1.0" encoding="utf-8"?>
<Media Key="d68137dc-1368-476f-94ff-acc7031dbc5b" Alias="New Melb Sites Featured" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NewMelbSitesFeatured</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T23:11:31</CreateDate>
    <NodeName Default="New Melb Sites Featured" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1i1jdvti/new-melb-sites-featured.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>