<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f8d369a-8272-4beb-b6e4-c79183bf0589" Alias="NHS 2" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/NHS2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-31T13:57:36</CreateDate>
    <NodeName Default="NHS 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tq1i0d1s/nhs-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>