<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9dbb4b9-57f1-4c69-a66b-b728583bd13e" Alias="NICEIC Logo (1) (1)" Level="3">
  <Info>
    <Parent Key="dcded300-50c3-43de-a9bd-eda707e97ddf">Logos</Parent>
    <Path>/Images/Logos/NICEICLogo11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-21T14:55:16</CreateDate>
    <NodeName Default="NICEIC Logo (1) (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x40nx0pr/niceic_logo-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>