<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bf37521-97b3-4aef-8b31-67284258d93b" Alias="Nre German Installation Featured (1)" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationFeatured1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T02:39:05</CreateDate>
    <NodeName Default="Nre German Installation Featured (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e30pgc3t/nre-german-installation_featured.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>