<?xml version="1.0" encoding="utf-8"?>
<Media Key="077c8bc5-9464-4cb7-888c-35e250f82882" Alias="Nre German Installation Lower (1)" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationLower1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T02:39:04</CreateDate>
    <NodeName Default="Nre German Installation Lower (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yofhyb1e/nre-german-installation_lower.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>