<?xml version="1.0" encoding="utf-8"?>
<Media Key="a75cd267-cbe7-449f-bda6-a8f50437de40" Alias="Nre German Installation Lower" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationLower</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T03:24:04</CreateDate>
    <NodeName Default="Nre German Installation Lower" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mhjfzj5h/nre-german-installation_lower.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>