<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2905b3d-907b-46a6-a336-54767b5bfce0" Alias="Nre German Installation Lower (2)" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationLower2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T02:45:21</CreateDate>
    <NodeName Default="Nre German Installation Lower (2)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hnnjbit1/nre-german-installation_lower.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>