<?xml version="1.0" encoding="utf-8"?>
<Media Key="90f655d7-7209-45c5-bedc-eaea2ff57f73" Alias="Nre German Installation Featured" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationFeatured</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T03:24:01</CreateDate>
    <NodeName Default="Nre German Installation Featured" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0fkpneaj/nre-german-installation_featured.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>