<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fca65c1-b8da-4b85-8e4e-84c2f807ee33" Alias="Nre German Installation Listing (1)" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/NreGermanInstallationListing1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T02:39:04</CreateDate>
    <NodeName Default="Nre German Installation Listing (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y3snvh40/nre-german-installation_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>