<?xml version="1.0" encoding="utf-8"?>
<Media Key="aca5af7e-b773-4a5f-83ec-7c84501489d5" Alias="NZ Car Park Lr 5" Level="3">
  <Info>
    <Parent Key="62bc5965-149f-439a-a5c7-13da909310fb">New Zealand</Parent>
    <Path>/Images/NewZealand/NZCarParkLr5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-08T15:51:51</CreateDate>
    <NodeName Default="NZ Car Park Lr 5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pcxllldt/nz-car-park-lr-5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>