<?xml version="1.0" encoding="utf-8"?>
<Media Key="28f045bf-15c0-47ae-ba4f-5258b2269d07" Alias="NZ Church Ls (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NZChurchLs4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-01T14:24:26</CreateDate>
    <NodeName Default="NZ Church Ls (4)" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xfcpakga/nz-church-ls.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>