<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd49d407-d9e6-400f-8c0f-986c1b1b7c11" Alias="NZ Church Ls" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NZChurchLs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-01T14:17:38</CreateDate>
    <NodeName Default="NZ Church Ls" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ahkettpg/nz-church-ls.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>