<?xml version="1.0" encoding="utf-8"?>
<Media Key="e674480f-772d-4f28-b559-0ea55b4d1ad6" Alias="NZ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NZ</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-30T12:38:33</CreateDate>
    <NodeName Default="NZ" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties />
</Media>