<?xml version="1.0" encoding="utf-8"?>
<Media Key="0af49622-69f1-46d5-8b32-76cbfd477f65" Alias="Oelde Website (1) (1)" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/OeldeWebsite11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-03T13:55:52</CreateDate>
    <NodeName Default="Oelde Website (1) (1)" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eslpicxr/oelde-website-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>