<?xml version="1.0" encoding="utf-8"?>
<Media Key="24634566-e6b4-42c1-bcfe-5b767fe93e88" Alias="Our System Hero Image" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/OurSystemHeroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-31T00:22:41</CreateDate>
    <NodeName Default="Our System Hero Image" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mbchgjfu/our-system-hero-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>