<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3a20a2a-8fa7-49c6-849c-45371e2e7e14" Alias="Our System Hero Image V2" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/OurSystemHeroImageV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-31T01:32:13</CreateDate>
    <NodeName Default="Our System Hero Image V2" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fqfkfu3h/our-system-hero-image_v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>