<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5b5bd18-88f2-414a-8d07-d6a1560f09a6" Alias="Our System Hero Image (1)" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/OurSystemHeroImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-31T00:25:05</CreateDate>
    <NodeName Default="Our System Hero Image (1)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d04lljps/our-system-hero-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>