<?xml version="1.0" encoding="utf-8"?>
<Media Key="f43b024d-d22e-4de4-bb3c-7742bd4784b7" Alias="Overhead Car Park" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/OverheadCarPark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T11:41:59</CreateDate>
    <NodeName Default="Overhead Car Park" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jmbdx3bo/overhead-car-park.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>