<?xml version="1.0" encoding="utf-8"?>
<Media Key="93070b1f-9dde-47d8-aecf-45f470f00919" Alias="PA Accredited Partner Logo For Website" Level="3">
  <Info>
    <Parent Key="fcef954a-8e3a-4039-9c23-b437f78b51b5">Accreditations and Partnerships</Parent>
    <Path>/Images/AccreditationsAndPartnerships/PAAccreditedPartnerLogoForWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T23:15:25</CreateDate>
    <NodeName Default="PA Accredited Partner Logo For Website" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/defbpe44/pa-accredited-partner-logo-for-website.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>