<?xml version="1.0" encoding="utf-8"?>
<Media Key="c08777ef-bba5-4d1e-81e3-d316996fb39e" Alias="Parkplatzkontrolle Mit Parkscheibe Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkplatzkontrolleMitParkscheibeLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:32:13</CreateDate>
    <NodeName Default="Parkplatzkontrolle Mit Parkscheibe Lr" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3f1jpqff/parkplatzkontrolle-mit-parkscheibe-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>