<?xml version="1.0" encoding="utf-8"?>
<Media Key="865d666a-8113-401a-ab31-d277707268f1" Alias="Parkraummanagement Für Supermärkte Und Discounter Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkraummanagementFuerSupermaerkteUndDiscounterLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T10:39:33</CreateDate>
    <NodeName Default="Parkraummanagement Für Supermärkte Und Discounter Lr" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nrtf1bqt/parkraummanagement-fuer-supermaerkte-und-discounter-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>