<?xml version="1.0" encoding="utf-8"?>
<Media Key="16205491-a166-43f4-b71e-f3ce168417e9" Alias="Parkeringsskilt" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Parkeringsskilt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:00:57</CreateDate>
    <NodeName Default="Parkeringsskilt" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s3kcaftg/parkeringsskilt.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>