<?xml version="1.0" encoding="utf-8"?>
<Media Key="ace05a7f-8df8-4358-8448-5b6d1c0a69db" Alias="Parkraumbewirtschaftung Für Krankenhäuser Und Medizinische Einrichtungen Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkraumbewirtschaftungFuerKrankenhaeuserUndMedizinischeEinrichtungenLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:32:42</CreateDate>
    <NodeName Default="Parkraumbewirtschaftung Für Krankenhäuser Und Medizinische Einrichtungen Lr" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pfnoblhy/parkraumbewirtschaftung-fuer-krankenhaeuser-und-medizinische-einrichtungen-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>