<?xml version="1.0" encoding="utf-8"?>
<Media Key="f03197b0-ceb5-48a9-a353-f03143fb62ac" Alias="Parkinnovation Featured" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/ParkinnovationFeatured</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-01T03:15:23</CreateDate>
    <NodeName Default="Parkinnovation Featured" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w0ldd2fv/parkinnovation_featured.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>