<?xml version="1.0" encoding="utf-8"?>
<Media Key="58d66953-cae8-4833-8ec5-f685367e1e69" Alias="Parkering (3)" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Parkering3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:18:59</CreateDate>
    <NodeName Default="Parkering (3)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kvunmwhi/parkering.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>