<?xml version="1.0" encoding="utf-8"?>
<Media Key="b063795b-4557-476f-9034-ed7affb390f5" Alias="Parkzeitverkauf Via Automaten &amp; App Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkzeitverkaufViaAutomatenAppLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:53:28</CreateDate>
    <NodeName Default="Parkzeitverkauf Via Automaten &amp; App Lr" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lv2hhmcx/parkzeitverkauf-via-automaten-app-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>