<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ea92dda-ff9d-40da-9f31-f994e94606bb" Alias="Parkraumbewirtschaftung Für Immobilienverwalter Und Entwickler Lr Crop" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkraumbewirtschaftungFuerImmobilienverwalterUndEntwicklerLrCrop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:30:29</CreateDate>
    <NodeName Default="Parkraumbewirtschaftung Für Immobilienverwalter Und Entwickler Lr Crop" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1qwltdu3/parkraumbewirtschaftung-fuer-immobilienverwalter-und-entwickler-lr-crop.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>