<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c16d9b-acc2-4289-a787-610767f125e2" Alias="Parking Sensor Lr" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/ParkingSensorLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:22:53</CreateDate>
    <NodeName Default="Parking Sensor Lr" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tvwncegc/parking-sensor-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>