<?xml version="1.0" encoding="utf-8"?>
<Media Key="e630f090-aa35-4cdc-961d-a8e03ba86cb1" Alias="Parking Sensor" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/ParkingSensor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-11T10:43:49</CreateDate>
    <NodeName Default="Parking Sensor" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s1ydbzrv/parking-sensor.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>