<?xml version="1.0" encoding="utf-8"?>
<Media Key="520ffd67-a725-482b-8c3c-242ca1257520" Alias="Parkeringsklagenævnet V4" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/ParkeringsklagenaevnetV4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T13:50:41</CreateDate>
    <NodeName Default="Parkeringsklagenævnet V4" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mh4b4urf/parkeringsklagenaevnet-v4.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>