<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c8de190-343e-41e7-a887-64ed5adee538" Alias="Parkeringsreglermini" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/Parkeringsreglermini</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-29T08:28:36</CreateDate>
    <NodeName Default="Parkeringsreglermini" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s1qj0xb4/parkeringsreglermini.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>