<?xml version="1.0" encoding="utf-8"?>
<Media Key="a161152a-7584-4826-89c0-cb8416691757" Alias="Parkraummanagement Für Supermärkte Und Discounter Lr (1)" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/ParkraummanagementFuerSupermaerkteUndDiscounterLr1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T10:47:13</CreateDate>
    <NodeName Default="Parkraummanagement Für Supermärkte Und Discounter Lr (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fqkhdime/parkraummanagement-fuer-supermaerkte-und-discounter-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>