<?xml version="1.0" encoding="utf-8"?>
<Media Key="290d47c7-c345-4cdc-b3d3-37aac24f50d3" Alias="Parkeringsklagenaevnet Logo" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/ParkeringsklagenaevnetLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-15T08:44:21</CreateDate>
    <NodeName Default="Parkeringsklagenaevnet Logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yfdb0kkf/parkeringsklagenaevnet-logo.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>