<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5d55cb5-6e62-42ea-8cfe-bda7fe476b47" Alias="Parkende" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/Parkende</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-21T15:13:28</CreateDate>
    <NodeName Default="Parkende" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wnonljlc/parkende.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>