<?xml version="1.0" encoding="utf-8"?>
<Media Key="da7ff28f-71f5-40f3-8750-00cc98bc574b" Alias="Paul Hires Colour Cropped" Level="4">
  <Info>
    <Parent Key="42727e41-3797-446d-8a59-048e030fa2eb">Board of Directors</Parent>
    <Path>/Images/Team/BoardOfDirectors/PaulHiresColourCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T02:50:58</CreateDate>
    <NodeName Default="Paul Hires Colour Cropped" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rhzh5wxv/paul_hires_colour_cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>