<?xml version="1.0" encoding="utf-8"?>
<Media Key="2256e884-66a6-4444-a461-6d01a3e14fb4" Alias="Paull Gillespie" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/PaullGillespie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-21T15:19:44</CreateDate>
    <NodeName Default="Paull Gillespie" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qlufmivg/paull-gillespie.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>