<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f8fe276-cd3a-4313-aa47-5ddaadaeb126" Alias="Paul Gillespie" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/PaulGillespie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-21T15:23:00</CreateDate>
    <NodeName Default="Paul Gillespie" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/odri4lz0/paul-gillespie.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>