<?xml version="1.0" encoding="utf-8"?>
<Media Key="751e03e7-19c7-45eb-b77d-33e43d4fa7ba" Alias="Pay And Walk" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/PayAndWalk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-29T09:01:04</CreateDate>
    <NodeName Default="Pay And Walk" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2ebb23oh/pay-and-walk.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>