<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa16fb3b-b173-4339-8f7f-7790d778bf1f" Alias="Pay And Walk Icon V2" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/PayAndWalkIconV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-31T11:42:27</CreateDate>
    <NodeName Default="Pay And Walk Icon V2" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hx3bnktt/pay-and-walk-icon-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>