<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3f72167-90a5-4035-b6ca-bb508e7dacdb" Alias="Payment Machine" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/PaymentMachine</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T11:42:00</CreateDate>
    <NodeName Default="Payment Machine" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/meqpp23f/payment-machine.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>