<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ce7648-08e6-440b-8f87-9b6a97cca567" Alias="Pharmacy Lr" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/PharmacyLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:47:58</CreateDate>
    <NodeName Default="Pharmacy Lr" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jz1m3ahg/pharmacy-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>