<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3af4601-65bc-4cc6-bf51-91648fcff9b8" Alias="Pharmacy" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/Pharmacy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T14:35:52</CreateDate>
    <NodeName Default="Pharmacy" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a3dk5i32/pharmacy.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>