<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9e7a6f8-8602-4a23-b602-0daebdb30c48" Alias="Pinterest" Level="4">
  <Info>
    <Parent Key="902b6e00-721d-46e1-ab54-7aada9c9fb2b">Social Media</Parent>
    <Path>/Images/Icons/SocialMedia/Pinterest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-11-22T18:22:41</CreateDate>
    <NodeName Default="Pinterest" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zgtopsic/pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>