<?xml version="1.0" encoding="utf-8"?>
<Media Key="0af6123a-664a-41d3-8dc2-2c0bad074ed0" Alias="Places of Worship" Level="3">
  <Info>
    <Parent Key="245178b8-4f48-452b-b1ad-5c9b78cca6c1">Industries</Parent>
    <Path>/Images/Industries/PlacesOfWorship</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-09T16:27:05</CreateDate>
    <NodeName Default="Places of Worship" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>