<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e5aa75c-1446-409c-b992-b498077730cf" Alias="Places Of Worship" Level="4">
  <Info>
    <Parent Key="0af6123a-664a-41d3-8dc2-2c0bad074ed0">Places of Worship</Parent>
    <Path>/Images/Industries/PlacesOfWorship/PlacesOfWorship</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T16:47:42</CreateDate>
    <NodeName Default="Places Of Worship" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lktfutsg/places-of-worship.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>