<?xml version="1.0" encoding="utf-8"?>
<Media Key="8baed1c4-9d1a-4ccd-aa0c-b15732f49a6a" Alias="PR Smartparking Beschluss Steuer (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PRSmartparkingBeschlussSteuer1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-08T15:23:02</CreateDate>
    <NodeName Default="PR Smartparking Beschluss Steuer (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3lil3cy0/pr-smartparking_beschluss-steuer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>