<?xml version="1.0" encoding="utf-8"?>
<Media Key="685f24f0-824f-49e6-b958-fda61657c0e2" Alias="PR Smartparking Beschluss Steuer (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PRSmartparkingBeschlussSteuer2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-09T09:41:25</CreateDate>
    <NodeName Default="PR Smartparking Beschluss Steuer (2)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ysf40cp/pr-smartparking_beschluss-steuer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>