<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3a83a7e-25af-4d56-8fd5-ead4b10689b5" Alias="PR Smartparking Beschluss Steuer" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/PRSmartparkingBeschlussSteuer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-09T08:56:22</CreateDate>
    <NodeName Default="PR Smartparking Beschluss Steuer" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ka3kry3p/pr-smartparking_beschluss-steuer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>