<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb8643db-e175-4c79-818c-f8cc0901606d" Alias="PR Smartparking Beschluss Steuer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PRSmartparkingBeschlussSteuer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T15:16:39</CreateDate>
    <NodeName Default="PR Smartparking Beschluss Steuer" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1vbjn01v/pr-smartparking_beschluss-steuer.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>