<?xml version="1.0" encoding="utf-8"?>
<Media Key="77c00793-90c9-428b-9fc5-ef072ddce570" Alias="Profile pics" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/ProfilePics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-02T12:19:24</CreateDate>
    <NodeName Default="Profile pics" />
    <SortOrder>123</SortOrder>
  </Info>
  <Properties />
</Media>