<?xml version="1.0" encoding="utf-8"?>
<Media Key="1eab4282-e257-429d-9076-3f25d6ccb5fc" Alias="Profile Placeholder" Level="3">
  <Info>
    <Parent Key="18dc4470-45b0-4484-b933-7bf7255c1c42">Placeholders</Parent>
    <Path>/Images/Placeholders/ProfilePlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-02T11:32:48</CreateDate>
    <NodeName Default="Profile Placeholder" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qrbkwhsx/profile-placeholder.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>