<?xml version="1.0" encoding="utf-8"?>
<Media Key="adb5eb2d-896a-48eb-b317-0300a4c8d557" Alias="Property Managers &amp; Developers Hex Image V2" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/PropertyManagersDevelopersHexImageV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T00:45:42</CreateDate>
    <NodeName Default="Property Managers &amp; Developers Hex Image V2" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fpvllllk/property-managers-developers-hex-image_v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>