<?xml version="1.0" encoding="utf-8"?>
<Media Key="932e2c5c-2b64-45e1-95a2-8b79ee534ed9" Alias="Proptech+Denmark,+Colored+(Dark)" Level="2">
  <Info>
    <Parent Key="83069be6-ad1e-4e37-b2f8-2e4035476945">Denmark (1)</Parent>
    <Path>/Denmark1/ProptechplusDenmarkPlusColoredplusDark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-25T16:49:14</CreateDate>
    <NodeName Default="Proptech+Denmark,+Colored+(Dark)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/liwc3e1e/proptechplusdenmark-pluscoloredplus-dark.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>