<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4f6b94e-083e-4520-8a75-99e52789dd9f" Alias="Property Managers &amp; Developers Hex Image Aus" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/PropertyManagersDevelopersHexImageAus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T00:45:39</CreateDate>
    <NodeName Default="Property Managers &amp; Developers Hex Image Aus" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jc2pnnb4/property-managers-developers-hex-image_aus.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>