<?xml version="1.0" encoding="utf-8"?>
<Media Key="1db0fc03-94c7-422f-8afa-27ab3e5ccbd4" Alias="Raife Sized V2" Level="2">
  <Info>
    <Parent Key="e674480f-772d-4f28-b559-0ea55b4d1ad6">NZ</Parent>
    <Path>/NZ/RaifeSizedV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T14:33:10</CreateDate>
    <NodeName Default="Raife Sized V2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ax4lahoh/raife-sized-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>