<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f7e2532-f279-4330-ac2f-0640305717f1" Alias="Raife Sized (1)" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/RaifeSized1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T09:04:13</CreateDate>
    <NodeName Default="Raife Sized (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gqsh2t1z/raife-sized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>