<?xml version="1.0" encoding="utf-8"?>
<Media Key="9393ddbf-41b4-4849-870e-ddcdac7ffb0d" Alias="Rebecca" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/Rebecca</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-24T16:48:15</CreateDate>
    <NodeName Default="Rebecca" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xhojhe3u/rebecca.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>