<?xml version="1.0" encoding="utf-8"?>
<Media Key="7da12df1-fbf7-4c4b-a950-3580c2f39910" Alias="Residential Parking 1 Low Res" Level="4">
  <Info>
    <Parent Key="e792b24f-04cd-49fb-ac75-f1160209ee6e">Residential</Parent>
    <Path>/Images/Industries/Residential/ResidentialParking1LowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-11T13:05:35</CreateDate>
    <NodeName Default="Residential Parking 1 Low Res" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/42wlc5px/residential-parking-1-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>