<?xml version="1.0" encoding="utf-8"?>
<Media Key="0191bc1d-6941-45ac-b2c3-0bd993d7af2a" Alias="Residential Parking 1 Low Res With Signage" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/ResidentialParking1LowResWithSignage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T10:44:30</CreateDate>
    <NodeName Default="Residential Parking 1 Low Res With Signage" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/do4jcakb/residential-parking-1-low-res-with-signage.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>