<?xml version="1.0" encoding="utf-8"?>
<Media Key="97b9e229-514a-497a-b417-e3462c02f52f" Alias="Residential Parking 1 Low Res With Signage" Level="4">
  <Info>
    <Parent Key="e792b24f-04cd-49fb-ac75-f1160209ee6e">Residential</Parent>
    <Path>/Images/Industries/Residential/ResidentialParking1LowResWithSignage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T10:55:11</CreateDate>
    <NodeName Default="Residential Parking 1 Low Res With Signage" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/f5rltf0k/residential-parking-1-low-res-with-signage.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>