<?xml version="1.0" encoding="utf-8"?>
<Media Key="660952e2-8774-4524-a514-d647336c7520" Alias="Residential Parking 1 Low Res" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/ResidentialParking1LowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-12T17:02:40</CreateDate>
    <NodeName Default="Residential Parking 1 Low Res" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2rjasztu/residential-parking-1-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>