<?xml version="1.0" encoding="utf-8"?>
<Media Key="20a651ea-20c7-43b4-b129-f40947a1c555" Alias="Residential Tetimonial Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ResidentialTetimonialImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-01T12:30:45</CreateDate>
    <NodeName Default="Residential Tetimonial Image" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3rilmigh/residential-tetimonial-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>