<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a2b59c3-5a91-45f3-85a4-1920f87e42c0" Alias="Residential Tetimonial Image" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ResidentialTetimonialImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T21:20:38</CreateDate>
    <NodeName Default="Residential Tetimonial Image" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yvmdwcur/residential-tetimonial-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>