<?xml version="1.0" encoding="utf-8"?>
<Media Key="de61a658-4a64-4baa-a2e2-0d28e7522f18" Alias="Residential Parking Lr V2" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ResidentialParkingLrV2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T13:55:58</CreateDate>
    <NodeName Default="Residential Parking Lr V2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l0tgdxte/residential-parking-lr-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>