<?xml version="1.0" encoding="utf-8"?>
<Media Key="f00166ac-d23a-46e9-850c-46257a7c02f1" Alias="Residential Parking" Level="4">
  <Info>
    <Parent Key="a96154d0-6a9f-44cf-b04a-075699db93f3">Property Managers &amp; Agents</Parent>
    <Path>/Images/Industries/PropertyManagersAgents/ResidentialParking</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:23:22</CreateDate>
    <NodeName Default="Residential Parking" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vjtad2b0/residential-parking.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>