<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c0cc0ca-bcf2-4c37-b617-e1364f8cb7b1" Alias="Residential Parking 3 Low Res" Level="4">
  <Info>
    <Parent Key="e792b24f-04cd-49fb-ac75-f1160209ee6e">Residential</Parent>
    <Path>/Images/Industries/Residential/ResidentialParking3LowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T09:10:47</CreateDate>
    <NodeName Default="Residential Parking 3 Low Res" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ztaayths/residential-parking-3-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>