<?xml version="1.0" encoding="utf-8"?>
<Media Key="777e8330-b511-4580-85b4-3d1a851055c2" Alias="Restaurant 6 Low Res" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/Restaurant6LowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-27T12:28:07</CreateDate>
    <NodeName Default="Restaurant 6 Low Res" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g0bh23yr/restaurant-6-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>