<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4063060-15aa-4985-b3c2-6d64bb37a06e" Alias="Restaurants &amp; Eateries" Level="3">
  <Info>
    <Parent Key="245178b8-4f48-452b-b1ad-5c9b78cca6c1">Industries</Parent>
    <Path>/Images/Industries/RestaurantsEateries</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-09T16:26:46</CreateDate>
    <NodeName Default="Restaurants &amp; Eateries" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>