<?xml version="1.0" encoding="utf-8"?>
<Media Key="2edecb6f-fb52-4f6b-9ea2-e4eaf7f4b809" Alias="Restaurant 3 Lr" Level="4">
  <Info>
    <Parent Key="e4063060-15aa-4985-b3c2-6d64bb37a06e">Restaurants &amp; Eateries</Parent>
    <Path>/Images/Industries/RestaurantsEateries/Restaurant3Lr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:02:04</CreateDate>
    <NodeName Default="Restaurant 3 Lr" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nhfn2lss/restaurant-3-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>