<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1177f37-c793-407b-8115-72df1f3b85a8" Alias="Restaurant" Level="4">
  <Info>
    <Parent Key="e4063060-15aa-4985-b3c2-6d64bb37a06e">Restaurants &amp; Eateries</Parent>
    <Path>/Images/Industries/RestaurantsEateries/Restaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T16:51:17</CreateDate>
    <NodeName Default="Restaurant" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gf5bpqmt/restaurant.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>