<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4f670c5-78dd-4ce8-b555-d748aae62ee0" Alias="Restaurants &amp; Gastronomie Summary Cropped" Level="3">
  <Info>
    <Parent Key="d43923ca-fb6e-40f3-8f30-7a6df56fdacc">Industry summary images</Parent>
    <Path>/GermanyImages/IndustrySummaryImages/RestaurantsGastronomieSummaryCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-13T09:20:39</CreateDate>
    <NodeName Default="Restaurants &amp; Gastronomie Summary Cropped" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ynypnjg3/restaurants-gastronomie-summary-cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>