<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6330b23-9e13-49d7-8d33-a27f68488965" Alias="Retail Park Low Res Photo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RetailParkLowResPhoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T05:45:09</CreateDate>
    <NodeName Default="Retail Park Low Res Photo" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eufdhvqt/retail-park-low-res-photo.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>