<?xml version="1.0" encoding="utf-8"?>
<Media Key="94d7f022-8d39-41b5-8ea0-399d535f16cc" Alias="Retail Summmary Page 1 V2" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/RetailSummmaryPage1V2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T10:51:12</CreateDate>
    <NodeName Default="Retail Summmary Page 1 V2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/etynpfbz/retail-summmary-page-1-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>