<?xml version="1.0" encoding="utf-8"?>
<Media Key="53990a26-336a-40db-abb4-f18c4a2d6ba0" Alias="Richard V2 (1)" Level="2">
  <Info>
    <Parent Key="e674480f-772d-4f28-b559-0ea55b4d1ad6">NZ</Parent>
    <Path>/NZ/RichardV21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T12:51:48</CreateDate>
    <NodeName Default="Richard V2 (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eafjsu1k/richard-v2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>