<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc8f64f4-90c2-4bb7-8bf5-6620ee4506bb" Alias="Richard Sized" Level="3">
  <Info>
    <Parent Key="1d78ede9-b498-4ba1-8249-d16a76bfe677">Team</Parent>
    <Path>/Images/Team/RichardSized</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T08:59:58</CreateDate>
    <NodeName Default="Richard Sized" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4jsi5tgc/richard-sized.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>