<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e177acd-d8bb-4127-a54c-bced0c86fe24" Alias="Sample 960X540" Level="2">
  <Info>
    <Parent Key="8b51451e-3419-4769-a2c2-506b0f6e0c97">Videos</Parent>
    <Path>/Videos/Sample960X540</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2022-03-22T10:44:11</CreateDate>
    <NodeName Default="Sample 960X540" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2v3botv1/sample_960x540.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>