<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc4a7105-c9ff-452d-8617-57803308a2ad" Alias="Security Checklist V1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SecurityChecklistV1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-23T16:12:50</CreateDate>
    <NodeName Default="Security Checklist V1" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fnyfvxh5/security-checklist-v1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>