<?xml version="1.0" encoding="utf-8"?>
<Media Key="7964c47c-3442-426f-a6fd-5ec6fec81671" Alias="Shopper Putting Bags In Car Lr" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShopperPuttingBagsInCarLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:29:13</CreateDate>
    <NodeName Default="Shopper Putting Bags In Car Lr" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/plcgi4kc/shopper-putting-bags-in-car-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>