<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb625758-a630-48a3-ad5c-ddb784288ba0" Alias="Shopping Centre Istock 181996772" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShoppingCentreIstock181996772</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T15:20:38</CreateDate>
    <NodeName Default="Shopping Centre Istock 181996772" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lzlhfozq/shopping-centre-istock-181996772.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>