<?xml version="1.0" encoding="utf-8"?>
<Media Key="83643b8d-59b2-4282-b773-a1312fe5a76a" Alias="Shoppers In UK Istock 838851288" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShoppersInUKIstock838851288</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-10T15:20:37</CreateDate>
    <NodeName Default="Shoppers In UK Istock 838851288" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rm3hja3s/shoppers-in-uk-istock-838851288.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>