<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e13df1b-7a4f-43d7-b09e-4618b018af20" Alias="Shopping Centre Car Park 1" Level="4">
  <Info>
    <Parent Key="bac52416-1632-4213-aa9f-e38967c4c751">Supermarkets</Parent>
    <Path>/Images/Industries/Supermarkets/ShoppingCentreCarPark1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-09T17:00:00</CreateDate>
    <NodeName Default="Shopping Centre Car Park 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dxpbhhsp/shopping-centre-car-park-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>