<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb64cd69-8207-4bfa-a303-7fd4c9da2759" Alias="Shopping Centres Header Image" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShoppingCentresHeaderImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-30T22:08:51</CreateDate>
    <NodeName Default="Shopping Centres Header Image" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n5ghjsyh/shopping-centres-header-image.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>