<?xml version="1.0" encoding="utf-8"?>
<Media Key="dded41d6-b445-4e81-994a-e641fab10e8d" Alias="Shopper Putting Bags In Car Istock 627541056" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShopperPuttingBagsInCarIstock627541056</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:12:24</CreateDate>
    <NodeName Default="Shopper Putting Bags In Car Istock 627541056" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0bap1xkf/shopper-putting-bags-in-car-istock-627541056.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>