<?xml version="1.0" encoding="utf-8"?>
<Media Key="10e59f74-8b97-479e-b59f-ed41a3848c81" Alias="Shopper Putting Bags In Car Low Res" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShopperPuttingBagsInCarLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-19T13:05:41</CreateDate>
    <NodeName Default="Shopper Putting Bags In Car Low Res" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/okppkeex/shopper-putting-bags-in-car-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>