<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2b6135b-239a-48ba-9565-b129ad1fe16f" Alias="Shoppers In UK Lr" Level="4">
  <Info>
    <Parent Key="35a758af-4077-47d7-a7bf-2327e4c2f260">Shopping Centres &amp; Retail</Parent>
    <Path>/Images/Industries/ShoppingCentresRetail/ShoppersInUKLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:31:27</CreateDate>
    <NodeName Default="Shoppers In UK Lr" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lujlnqu0/shoppers-in-uk-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>