<?xml version="1.0" encoding="utf-8"?>
<Media Key="74db9e3e-23a7-4e2a-8058-ae1ab383a872" Alias="Smart Parking Restaurant" Level="4">
  <Info>
    <Parent Key="e4063060-15aa-4985-b3c2-6d64bb37a06e">Restaurants &amp; Eateries</Parent>
    <Path>/Images/Industries/RestaurantsEateries/SmartParkingRestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T11:22:23</CreateDate>
    <NodeName Default="Smart Parking Restaurant" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hcpnw3fh/smart-parking-restaurant.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>