<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e68e39e-bbcc-4792-9dc3-8f96829388a5" Alias="Smart Hub Lr" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/SmartHubLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T14:18:08</CreateDate>
    <NodeName Default="Smart Hub Lr" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tdrhrdwm/smart-hub-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>