<?xml version="1.0" encoding="utf-8"?>
<Media Key="47e4a336-2828-48f7-9539-7c1dbed54d6c" Alias="Smart Cloud Image Lr" Level="3">
  <Info>
    <Parent Key="4c0a8496-3732-45c0-952f-59bacf552d2b">System</Parent>
    <Path>/Images/System/SmartCloudImageLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:27:03</CreateDate>
    <NodeName Default="Smart Cloud Image Lr" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gcrpirzi/smart-cloud-image-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>