<?xml version="1.0" encoding="utf-8"?>
<Media Key="604dac05-5d9a-4436-9f7d-610c02ebdbfa" Alias="Smart Parking Annual Report FY22 LATEST F Cover" Level="3">
  <Info>
    <Parent Key="761f66c0-02bd-4abd-941a-6127ce685770">Investor Centre</Parent>
    <Path>/Images/InvestorCentre/SmartParkingAnnualReportFY22LATESTFCover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T01:46:56</CreateDate>
    <NodeName Default="Smart Parking Annual Report FY22 LATEST F Cover" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aowe0ye0/smart-parking-annual-report-fy22_latest_f_cover.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>