<?xml version="1.0" encoding="utf-8"?>
<Media Key="344e2017-ea41-431a-af84-68abcabe1294" Alias="Smartparking Anastasiajobson 2 3" Level="3">
  <Info>
    <Parent Key="77c00793-90c9-428b-9fc5-ef072ddce570">Profile pics</Parent>
    <Path>/Images/ProfilePics/SmartparkingAnastasiajobson23</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T12:19:30</CreateDate>
    <NodeName Default="Smartparking Anastasiajobson 2 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ceqe2ncb/smartparking-anastasiajobson-2-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>