<?xml version="1.0" encoding="utf-8"?>
<Media Key="c014c848-daf8-4f02-824a-d9c047eb0e28" Alias="Smart Parking Leisure 1" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/SmartParkingLeisure1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-13T11:43:07</CreateDate>
    <NodeName Default="Smart Parking Leisure 1" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j1ebjqhy/smart-parking-leisure-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>