<?xml version="1.0" encoding="utf-8"?>
<Media Key="49e0c608-311f-4327-952e-5630aeac473c" Alias="Smart Parking Guidance System" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/SmartParkingGuidanceSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-14T12:50:48</CreateDate>
    <NodeName Default="Smart Parking Guidance System" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/b1doasi5/smart-parking-guidance-system.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>