<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a3f05c6-4fbb-43c2-b96e-c45de5cd6a0d" Alias="Smartparking Anastasiajobson 2" Level="3">
  <Info>
    <Parent Key="77c00793-90c9-428b-9fc5-ef072ddce570">Profile pics</Parent>
    <Path>/Images/ProfilePics/SmartparkingAnastasiajobson2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T12:19:30</CreateDate>
    <NodeName Default="Smartparking Anastasiajobson 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yacd4ov1/smartparking-anastasiajobson-2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>