<?xml version="1.0" encoding="utf-8"?>
<Media Key="646b8290-7aba-40c3-8b94-db17bf52de09" Alias="Smart Parking Schützt Parkplätze Vor Falschparkern Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/SmartParkingSchuetztParkplaetzeVorFalschparkernLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T11:58:17</CreateDate>
    <NodeName Default="Smart Parking Schützt Parkplätze Vor Falschparkern Lr" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/s0bgwzf0/smart-parking-schuetzt-parkplaetze-vor-falschparkern-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>