<?xml version="1.0" encoding="utf-8"?>
<Media Key="b28d2e8e-294f-4563-bc58-6343bc59e80c" Alias="Smart Parking Unterstützt Ronald Mcdonald 3" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/SmartParkingUnterstuetztRonaldMcdonald3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T13:02:50</CreateDate>
    <NodeName Default="Smart Parking Unterstützt Ronald Mcdonald 3" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/raxi1msp/smart-parking-unterstuetzt-ronald-mcdonald-3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>