<?xml version="1.0" encoding="utf-8"?>
<Media Key="902b6e00-721d-46e1-ab54-7aada9c9fb2b" Alias="Social Media" Level="3">
  <Info>
    <Parent Key="346aec4d-a4d2-4816-9528-fe950960c753">Icons</Parent>
    <Path>/Images/Icons/SocialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-11-22T18:21:43</CreateDate>
    <NodeName Default="Social Media" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>