<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d943f92-80ee-4482-b307-8a25f406a1f1" Alias="Solutions" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/Solutions</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-28T14:12:11</CreateDate>
    <NodeName Default="Solutions" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties />
</Media>