<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc0c6728-c5ab-43fb-932a-ba108834d3e2" Alias="Sparen Sie Zeit Und Geld Bei Der Verwaltung Ihres Parkplatzes Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/SparenSieZeitUndGeldBeiDerVerwaltungIhresParkplatzesLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T12:47:21</CreateDate>
    <NodeName Default="Sparen Sie Zeit Und Geld Bei Der Verwaltung Ihres Parkplatzes Lr" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fztbzpfl/sparen-sie-zeit-und-geld-bei-der-verwaltung-ihres-parkplatzes-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>