<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c9acf15-8384-41f2-b865-601b4137183c" Alias="Sports Club (1)" Level="4">
  <Info>
    <Parent Key="45915f01-8028-486a-a191-5afb531d7763">Leisure &amp; Tourism</Parent>
    <Path>/Images/Industries/LeisureTourism/SportsClub1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:00:03</CreateDate>
    <NodeName Default="Sports Club (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cphjudee/sports-club.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>