<?xml version="1.0" encoding="utf-8"?>
<Media Key="382fc720-645d-4f30-8f2d-88fec068e210" Alias="SPZ 2023 Corporate Directory" Level="3">
  <Info>
    <Parent Key="cd110c3b-f84a-445e-961f-0ed8aa772639">Investor Page Downloads</Parent>
    <Path>/Documents/InvestorPageDownloads/SPZ2023CorporateDirectory</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-02T22:53:31</CreateDate>
    <NodeName Default="SPZ 2023 Corporate Directory" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b1dd4oc3/spz-2023-corporate-directory.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>