<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd9bc702-bf4f-456d-8fb8-68b024860113" Alias="SPZ 2022 Council Principles &amp; Recommendations" Level="3">
  <Info>
    <Parent Key="cd110c3b-f84a-445e-961f-0ed8aa772639">Investor Page Downloads</Parent>
    <Path>/Documents/InvestorPageDownloads/SPZ2022CouncilPrinciplesRecommendations</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-07-05T04:09:12</CreateDate>
    <NodeName Default="SPZ 2022 Council Principles &amp; Recommendations" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftdjx5kp/spz-2022-council-principles-recommendations.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>