<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aafbde7-6484-4400-be5d-c3d95e9ccbb0" Alias="SPZ 2022 Corporate Governance Statement" Level="3">
  <Info>
    <Parent Key="cd110c3b-f84a-445e-961f-0ed8aa772639">Investor Page Downloads</Parent>
    <Path>/Documents/InvestorPageDownloads/SPZ2022CorporateGovernanceStatement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-07-05T04:09:11</CreateDate>
    <NodeName Default="SPZ 2022 Corporate Governance Statement" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zg4l4kue/spz-2022-corporate-governance-statement.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>