<?xml version="1.0" encoding="utf-8"?>
<Media Key="23dac763-e00e-47fd-90ba-c9f4f4cfe9a3" Alias="Standortgerechtes Parkraum Managemenent Für Bahnhöfe Und Flughäfen Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/StandortgerechtesParkraumManagemenentFuerBahnhoefeUndFlughaefenLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:15:26</CreateDate>
    <NodeName Default="Standortgerechtes Parkraum Managemenent Für Bahnhöfe Und Flughäfen Lr" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mxdnuiyo/standortgerechtes-parkraum-managemenent-fuer-bahnhoefe-und-flughaefen-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>