<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c891495-4302-41b7-82b2-5fac66e76188" Alias="Steigerung Der Effizienz Und Auslastung Ihres Parkplatzes Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/SteigerungDerEffizienzUndAuslastungIhresParkplatzesLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:18:12</CreateDate>
    <NodeName Default="Steigerung Der Effizienz Und Auslastung Ihres Parkplatzes Lr" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/smkislac/steigerung-der-effizienz-und-auslastung-ihres-parkplatzes-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>