<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f87f6a5-2114-4308-b49d-b9ea87448bc5" Alias="Stressfreies Parkerlebnis Für Besucher Lr" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/StressfreiesParkerlebnisFuerBesucherLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T16:22:53</CreateDate>
    <NodeName Default="Stressfreies Parkerlebnis Für Besucher Lr" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/up1ioxyu/stressfreies-parkerlebnis-fuer-besucher-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>