<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d279570-42cf-456f-a994-ad18bb9a6d98" Alias="Students Low Res" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/StudentsLowRes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-27T12:34:28</CreateDate>
    <NodeName Default="Students Low Res" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o0kdo1op/students-low-res.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>