<?xml version="1.0" encoding="utf-8"?>
<Media Key="64dde047-f1ae-4d81-ba7f-be6afe37aeb1" Alias="Students Lr" Level="4">
  <Info>
    <Parent Key="2f31f768-bf7b-46df-8f63-069e788dd25a">Universities &amp; Education</Parent>
    <Path>/Images/Industries/UniversitiesEducation/StudentsLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:35:44</CreateDate>
    <NodeName Default="Students Lr" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ihqn0zfo/students-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>