<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfeb5e83-557a-478e-919d-472e1138afea" Alias="Supermärkte &amp; Discounter Summary Cropped" Level="3">
  <Info>
    <Parent Key="d43923ca-fb6e-40f3-8f30-7a6df56fdacc">Industry summary images</Parent>
    <Path>/GermanyImages/IndustrySummaryImages/SupermaerkteDiscounterSummaryCropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-13T09:20:39</CreateDate>
    <NodeName Default="Supermärkte &amp; Discounter Summary Cropped" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qvpoxt10/supermaerkte-discounter-summary-cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>