<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c0a8496-3732-45c0-952f-59bacf552d2b" Alias="System" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/System</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-29T05:08:20</CreateDate>
    <NodeName Default="System" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties />
</Media>