<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d78ede9-b498-4ba1-8249-d16a76bfe677" Alias="Team" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-21T15:19:17</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>