<?xml version="1.0" encoding="utf-8"?>
<Media Key="e694dc33-f2e7-47bf-894d-6d45eec6d720" Alias="Tessera Launch Listing" Level="3">
  <Info>
    <Parent Key="15455730-3b8b-44a1-a366-1e538c06ad78">Articles</Parent>
    <Path>/Images/Articles/TesseraLaunchListing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-14T21:31:18</CreateDate>
    <NodeName Default="Tessera Launch Listing" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gxojjzxh/tessera-launch_listing.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>