<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff0a0825-e04b-4cf2-9cd7-9f32bd1579b6" Alias="Tessera 2" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/Tessera2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-11T10:54:10</CreateDate>
    <NodeName Default="Tessera 2" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/emeav50l/tessera-2.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>