<?xml version="1.0" encoding="utf-8"?>
<Media Key="13330d25-ccbf-4336-844e-3c3ca6407589" Alias="University Summmary Page 1" Level="4">
  <Info>
    <Parent Key="2f31f768-bf7b-46df-8f63-069e788dd25a">Universities &amp; Education</Parent>
    <Path>/Images/Industries/UniversitiesEducation/UniversitySummmaryPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T10:29:38</CreateDate>
    <NodeName Default="University Summmary Page 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/emgdge35/university-summmary-page-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>