<?xml version="1.0" encoding="utf-8"?>
<Media Key="fab64d68-6988-4388-952c-0b274b630daf" Alias="Vehicle Detection Sensors (1) (1)" Level="2">
  <Info>
    <Parent Key="259047fd-51af-458c-9cf1-325f10231bc5">Images</Parent>
    <Path>/Images/VehicleDetectionSensors11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-14T14:58:41</CreateDate>
    <NodeName Default="Vehicle Detection Sensors (1) (1)" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nzgln4ui/vehicle-detection-sensors-1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>