<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fa3a1cf-71bf-4172-abce-8af97db60a21" Alias="Vets Lr" Level="4">
  <Info>
    <Parent Key="0492f897-c5b4-4a1f-9226-290a8bace914">Hospitals &amp; Medical Centres</Parent>
    <Path>/Images/Industries/HospitalsMedicalCentres/VetsLr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-28T11:42:50</CreateDate>
    <NodeName Default="Vets Lr" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zgqlg535/vets-lr.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>