<?xml version="1.0" encoding="utf-8"?>
<Media Key="426d2871-7dbd-403e-8239-bfe0f80bf472" Alias="Vision House HQ News" Level="2">
  <Info>
    <Parent Key="d293b0d2-1fe1-45a9-8d04-f2a53e1dadc6">Denmark</Parent>
    <Path>/Denmark/VisionHouseHQNews</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-23T11:05:10</CreateDate>
    <NodeName Default="Vision House HQ News" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/o2ug0qv3/vision-house-hq-news.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>