<?xml version="1.0" encoding="utf-8"?>
<Media Key="9efa115a-317d-4053-b93d-cb2c7ad6dfbc" Alias="Wir Sagen Falschparkern Den Kampf An" Level="2">
  <Info>
    <Parent Key="918711a8-6db3-4c8a-be0e-c6a7883fb530">Germany images</Parent>
    <Path>/GermanyImages/WirSagenFalschparkernDenKampfAn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T13:38:09</CreateDate>
    <NodeName Default="Wir Sagen Falschparkern Den Kampf An" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lqipvht3/wir-sagen-falschparkern-den-kampf-an.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>