<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33e3e69b-f205-4aba-969f-8c0272d3f832" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="518d4afb-dfb6-412d-a002-b6b4b344956d">navigationProperties</Composition>
      <Composition Key="3beb5d80-c0fd-4dcc-90b8-6de65cfbd3f3">seoProperties</Composition>
      <Composition Key="6b0616e6-3fab-4737-b4e7-ff8535577e04">sitemapProperties</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="084b149c-f6fb-4d0c-96ee-426a26e91b72">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e2f0fd57-b680-457f-a03b-bbcd6e99cdb6" SortOrder="0">generalContent</ContentType>
    <ContentType Key="f7e6c3df-f152-4248-94bd-0338001b4b15" SortOrder="1">websiteSettings</ContentType>
    <ContentType Key="035ef486-008f-4dc1-aae0-576b7612a25a" SortOrder="2">industries</ContentType>
    <ContentType Key="e2e571ee-69e1-4d47-bce2-6a14fcefb2fc" SortOrder="3">whyChooseUs</ContentType>
    <ContentType Key="ea7d1e5a-22f5-40a8-97de-8dded9c19199" SortOrder="4">ourSystem</ContentType>
    <ContentType Key="d93b656b-b012-4128-8c30-081f51fae996" SortOrder="5">about</ContentType>
    <ContentType Key="2679ab3d-8de4-4bc4-96e4-10affded0657" SortOrder="6">handlingParkingCharges</ContentType>
    <ContentType Key="553e020e-77ff-46f2-8190-ec5f5e579624" SortOrder="7">appealingCharges</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1efe54bd-c731-45ba-868d-2a7eef4e5bb0</Key>
      <Name>CTA Lower</Name>
      <Alias>cTALower</Alias>
      <Definition>fd65852e-665c-4728-a1f1-d4050a57f18a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>989df9e8-649a-45a0-ae8c-9205d185ec90</Key>
      <Name>CTA Section</Name>
      <Alias>cTASection</Alias>
      <Definition>fd65852e-665c-4728-a1f1-d4050a57f18a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d60e66fb-3f01-42d1-9ae7-f77d16522e79</Key>
      <Name>CTA With Double Image</Name>
      <Alias>cTAWithDoubleImage</Alias>
      <Definition>85aac011-8120-4613-87f2-823253b7eb8c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a854ee30-e97c-4c52-bca6-4d91ce8e71ee</Key>
      <Name>Header Text</Name>
      <Alias>headerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headerSection">Header Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf21339f-58f8-4eff-8b08-f64b176099fd</Key>
      <Name>Link Button 1</Name>
      <Alias>linkButton1</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="headerSection">Header Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b904bf28-b714-4256-9461-3280f6c8882e</Key>
      <Name>Link Button 2</Name>
      <Alias>linkButton2</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="headerSection">Header Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14c2741f-6d7b-46fa-b80a-2844fa72920b</Key>
      <Name>Partners</Name>
      <Alias>partners</Alias>
      <Definition>525faba8-79c0-44fa-a236-3fcc21d308c8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab3169ee-c0da-475a-984d-96c041ee38ca</Key>
      <Name>Solution Cards</Name>
      <Alias>solutionCards</Alias>
      <Definition>a00abace-df8f-4e04-8d27-faf8e6e7603b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c757e68d-3783-4fee-a911-24138b6223ea</Key>
      <Name>Summary Text</Name>
      <Alias>summaryText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="headerSection">Header Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49f0710c-24e3-45c3-ac45-5ad3a5e5f011</Key>
      <Name>System Components</Name>
      <Alias>systemComponents</Alias>
      <Definition>3102287d-8e13-435d-b2ae-f1b42a714027</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b56047df-4a00-44b5-83d0-754b1a9e5b1d</Key>
      <Name>Testimonial</Name>
      <Alias>testimonial</Alias>
      <Definition>23a8e85d-dded-4ef9-b444-4aa1ab1454e0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1343442b-98ce-43b9-a901-333199b3e4a0</Key>
      <Name>Video Link</Name>
      <Alias>videoLink</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="headerSection">Header Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bace99bb-9913-496d-9552-9cf33b81116f</Key>
      <Caption>Header Section</Caption>
      <Alias>headerSection</Alias>
      <Type>Group</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
    <Tab>
      <Key>43dc3d96-754e-47e2-bb69-add750e6ba7b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>