<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea7d1e5a-22f5-40a8-97de-8dded9c19199" Alias="ourSystem" Level="2">
  <Info>
    <Name>Our System</Name>
    <Icon>icon-mindmap color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="518d4afb-dfb6-412d-a002-b6b4b344956d">navigationProperties</Composition>
      <Composition Key="3beb5d80-c0fd-4dcc-90b8-6de65cfbd3f3">seoProperties</Composition>
      <Composition Key="6b0616e6-3fab-4737-b4e7-ff8535577e04">sitemapProperties</Composition>
    </Compositions>
    <DefaultTemplate>OurSystem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a9f23441-13a1-4c7b-b252-df9a0583feac">OurSystem</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3266fd8b-c0ea-41df-8cc2-606102f4aea2" SortOrder="0">systemUnit</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cc4d05b9-40b4-474d-9847-00be8866343e</Key>
      <Name>Dropdown Header Text</Name>
      <Alias>dropdownHeaderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dropdownMenuDetails">Dropdown Menu Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6be6935-2cfc-42ab-a054-6349c7b1aaa8</Key>
      <Name>Dropdown Link Button</Name>
      <Alias>dropdownLinkButton</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="dropdownMenuDetails">Dropdown Menu Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>455182dc-a243-4fe4-8a88-3a16384fe7d3</Key>
      <Name>Dropdown Summary Text</Name>
      <Alias>dropdownSummaryText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dropdownMenuDetails">Dropdown Menu Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68d9592b-21f8-43be-adc9-5e9caa1910de</Key>
      <Name>Header Text</Name>
      <Alias>headerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9adafd01-9f70-4730-a2ef-191341401e52</Key>
      <Name>Link Button 1</Name>
      <Alias>linkButton1</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d194d82b-6273-46bf-9d72-22cfea0cc367</Key>
      <Name>Link Button 2</Name>
      <Alias>linkButton2</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>022a1412-6fd4-4c34-bf10-486cd5baf14c</Key>
      <Name>Middle Image</Name>
      <Alias>middleImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66028ba4-01fc-4e65-a655-9eca21d4c959</Key>
      <Name>Related News</Name>
      <Alias>relatedNews</Alias>
      <Definition>7fb0d55c-b89d-424b-9584-852174a4ceb9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will automatically populated with most recent if none selected]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e571fffe-3922-40af-9772-c41b45f8814f</Key>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>447430b0-bb48-44cd-9d44-4413a67963cb</Key>
      <Name>System Component List</Name>
      <Alias>systemComponentList</Alias>
      <Definition>9be88695-2a87-438a-be72-e5d45d1cc3c7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d24d2ee8-c091-431e-8fbe-be3a97d541bb</Key>
      <Name>System Components</Name>
      <Alias>systemComponents</Alias>
      <Definition>5f6133c5-84a1-40eb-89a5-96c85fdabb14</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="dropdownMenuDetails">Dropdown Menu Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a11ed276-67c1-47cf-9e6b-8cb0d99d4e1d</Key>
      <Name>System Features Left</Name>
      <Alias>systemFeaturesLeft</Alias>
      <Definition>d706d4eb-d887-4c89-916b-87c6a0cf43b3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10c8efc8-8ee2-4e24-a2b5-6ecf9d619aaf</Key>
      <Name>System Features Right</Name>
      <Alias>systemFeaturesRight</Alias>
      <Definition>9e839adc-9d03-4e9b-a285-51eb129dcadd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35f07d7f-f515-46a0-85ac-40762b7bcbc1</Key>
      <Name>Testimonial</Name>
      <Alias>testimonial</Alias>
      <Definition>23a8e85d-dded-4ef9-b444-4aa1ab1454e0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>362cf7aa-0f1b-4bf5-9062-34a7f4c75106</Key>
      <Name>Video Link</Name>
      <Alias>videoLink</Alias>
      <Definition>ac1ef083-de90-4ce7-9bee-17850d763241</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fd1fe43b-f644-45e5-b48a-222436875735</Key>
      <Caption>Dropdown Menu Details</Caption>
      <Alias>dropdownMenuDetails</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>171098f2-bcf4-4556-b1e1-2a5d1bf5305b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>