<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d554569-8750-4913-86e8-6227649336b3" Alias="sitemapXml" Level="2">
  <Info>
    <Name>Sitemap XML</Name>
    <Icon>icon-globe-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="518d4afb-dfb6-412d-a002-b6b4b344956d">navigationProperties</Composition>
      <Composition Key="3beb5d80-c0fd-4dcc-90b8-6de65cfbd3f3">seoProperties</Composition>
      <Composition Key="6b0616e6-3fab-4737-b4e7-ff8535577e04">sitemapProperties</Composition>
    </Compositions>
    <DefaultTemplate>SitemapXml</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38115df4-5de6-4f2c-917d-d6a155577ee0">SitemapXml</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>