<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b77e916b-7849-436d-92ed-51890f23af97" Alias="Blog Tags" Level="2">
  <Info>
    <Name>Blog Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "blog",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>