<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5cc750b-2142-469e-9801-dca2abcd24b6" Alias="Contact Location" Level="3">
  <Info>
    <Name>Contact Location</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contactLocation",
      "ncTabAlias": "Content",
      "nameTemplate": "{{locationName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>