<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85aac011-8120-4613-87f2-823253b7eb8c" Alias="CTA Left Double Image Right" Level="3">
  <Info>
    <Name>CTA Left Double Image Right</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "cTALeftPlusDoubleImageRight",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>