<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9280d68-c721-4d73-a9e3-cae342e004c0" Alias="Downloads Block" Level="3">
  <Info>
    <Name>Downloads Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerText",
      "ncTabAlias": "Content",
      "nameTemplate": "{{headerText}}"
    },
    {
      "ncAlias": "standaloneTextbox",
      "ncTabAlias": "Content",
      "nameTemplate": "Summary"
    },
    {
      "ncAlias": "dowloadLinkExtended",
      "ncTabAlias": "Content",
      "nameTemplate": "{{description}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>