<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ad0ab88-f97c-4aaa-ada2-50775168999d" Alias="Email Address List" Level="2">
  <Info>
    <Name>Email Address List</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Minimum": 1,
  "Maximum": 0
}]]></Config>
</DataType>