<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d00dbac0-cbd7-42b4-a544-69ac056eda3b" Alias="Forms Theme Picker" Level="1">
  <Info>
    <Name>Forms Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>