<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f51d8876-9616-4e3f-b226-d17815f55fd5" Alias="Industry Children" Level="3">
  <Info>
    <Name>Industry Children</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "industryBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>