<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac1ef083-de90-4ce7-9bee-17850d763241" Alias="Link (Max 1)" Level="3">
  <Info>
    <Name>Link (Max 1)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>