<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fb0d55c-b89d-424b-9584-852174a4ceb9" Alias="News Article Picker" Level="3">
  <Info>
    <Name>News Article Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/blog",
    "id": null
  },
  "Filter": "blogArticle",
  "MinNumber": 0,
  "MaxNumber": 3,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>