<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3d43861-baec-4144-b98a-5c57f193a4c4" Alias="Page Builder - Grouped Content Items" Level="3">
  <Info>
    <Name>Page Builder - Grouped Content Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "groupedContentItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Item - {{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>