<?xml version="1.0" encoding="utf-8"?>
<DataType Key="525faba8-79c0-44fa-a236-3fcc21d308c8" Alias="Partners Block" Level="3">
  <Info>
    <Name>Partners Block</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerText",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "imagePlusLink",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>