<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d076a071-36ea-4c5d-a9e5-26f7ad75f2d8" Alias="Social Media Links" Level="2">
  <Info>
    <Name>Social Media Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textImageLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 10,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>