<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a00abace-df8f-4e04-8d27-faf8e6e7603b" Alias="Solution Cards" Level="3">
  <Info>
    <Name>Solution Cards</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerText",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    },
    {
      "ncAlias": "solutionCard",
      "ncTabAlias": "Content",
      "nameTemplate": "{{headerText}}"
    },
    {
      "ncAlias": "standaloneTextbox",
      "ncTabAlias": "Content",
      "nameTemplate": "Summary"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>