<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f6133c5-84a1-40eb-89a5-96c85fdabb14" Alias="System Picker" Level="3">
  <Info>
    <Name>System Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$current",
    "id": null
  },
  "Filter": "systemUnit",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>