<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37b20087-780f-40f7-b07b-04e8ccb512b3" Alias="Text Image" Level="3">
  <Info>
    <Name>Text Image</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textImage",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>