<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa5c4726-1638-47b7-89eb-d87773434175" Alias="Text Image Link" Level="3">
  <Info>
    <Name>Text Image Link</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textImageLink",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>