<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb81bb4c-e98b-45d5-8d6b-821d24e5d7bb" Alias="Time Picker" Level="2">
  <Info>
    <Name>Time Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>