<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf49a5fe-1048-47a8-bc36-e19a59dda1aa" Alias="2020" Level="3">
  <Info>
    <Parent Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6">Latest</Parent>
    <Path>/Home/Latest/</Path>
    <Trashed>false</Trashed>
    <ContentType>yearFolder</ContentType>
    <CreateDate>2023-06-14T11:40:54</CreateDate>
    <NodeName Default="2020">
      <Name Culture="en-gb">2020</Name>
      <Name Culture="en-au">2020</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>