<?xml version="1.0" encoding="utf-8"?>
<Content Key="b669add7-15d9-4e80-93a9-fbeb58ef4cba" Alias="2021" Level="3">
  <Info>
    <Parent Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6">Latest</Parent>
    <Path>/Home/Latest/</Path>
    <Trashed>false</Trashed>
    <ContentType>yearFolder</ContentType>
    <CreateDate>2023-04-14T12:50:22</CreateDate>
    <NodeName Default="2021">
      <Name Culture="en-gb">2021</Name>
      <Name Culture="de-de">2021</Name>
      <Name Culture="en-au">2021</Name>
      <Name Culture="en-nz">2021</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>