<?xml version="1.0" encoding="utf-8"?>
<Content Key="87c0d1dd-7660-473e-ab90-39c2eada7d1c" Alias="2022" Level="3">
  <Info>
    <Parent Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6">Latest</Parent>
    <Path>/Home/Latest/</Path>
    <Trashed>false</Trashed>
    <ContentType>yearFolder</ContentType>
    <CreateDate>2022-04-01T15:47:56</CreateDate>
    <NodeName Default="2022">
      <Name Culture="en-gb">2022</Name>
      <Name Culture="de-de">2022</Name>
      <Name Culture="en-au">2022</Name>
      <Name Culture="en-nz">2022</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>