<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec7c75a0-efec-4858-941a-6c34164baa69" Alias="2024" Level="3">
  <Info>
    <Parent Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6">Latest</Parent>
    <Path>/Home/Latest/</Path>
    <Trashed>false</Trashed>
    <ContentType>yearFolder</ContentType>
    <CreateDate>2024-01-08T15:18:37</CreateDate>
    <NodeName Default="2024">
      <Name Culture="de-de">2024</Name>
      <Name Culture="da-dk">2024</Name>
      <Name Culture="en-gb">2024</Name>
      <Name Culture="en-au">2024</Name>
      <Name Culture="en-nz">2024</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>