<?xml version="1.0" encoding="utf-8"?>
<Content Key="533bb08a-e367-4f3b-ae6d-ef9b08897803" Alias="404" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>error</ContentType>
    <CreateDate>2022-03-17T16:12:06</CreateDate>
    <NodeName Default="404">
      <Name Culture="en-gb">404</Name>
      <Name Culture="de-de">404</Name>
      <Name Culture="en-au">404</Name>
      <Name Culture="en-nz">404</Name>
      <Name Culture="da-dk">404</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="5f1f48b8-1d22-4d61-8c18-6d06f52622a6">Error</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <errorMessage>
      <Value Culture="en-gb"><![CDATA[Sorry, the page you are looking for has not been found.]]></Value>
      <Value Culture="de-de"><![CDATA[Seite nicht gefunden - Fehler 404 ]]></Value>
      <Value Culture="en-au"><![CDATA[Sorry, the page you are looking for has not been found.]]></Value>
      <Value Culture="en-nz"><![CDATA[Sorry, the page you are looking for has not been found.]]></Value>
      <Value Culture="da-dk"><![CDATA[Beklager, siden du leder efter, kunne ikke findes. Prøv igen! 😊]]></Value>
    </errorMessage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Ups, da liegt ein Fehler vor. Die Seite wurde nicht gefunden. ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-de"><![CDATA[404 - Seite nicht gefunden]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>