<?xml version="1.0" encoding="utf-8"?>
<Content Key="5973d322-0a64-4352-9d08-e6b01625db1a" Alias="A SmartPark guidance system at Ormiston Town Centre enhances the customer experience in one of NZ’s newest community hubs. (1)" Level="5">
  <Info>
    <Parent Key="b3e952cb-bf4e-446c-9395-29c9fcafe076">September</Parent>
    <Path>/Home/Latest//September/ASmartParkGuidanceSystemAtOrmistonTownCentreEnhancesTheCustomerExperienceInOneOfNZSNewestCommunityHubs1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-17T13:56:51</CreateDate>
    <NodeName Default="A SmartPark guidance system at Ormiston Town Centre enhances the customer experience in one of NZ’s newest community hubs. (1)">
      <Name Culture="en-nz">A SmartPark guidance system at Ormiston Town Centre enhances the customer experience in one of NZ’s newest community hubs.</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p>We have installed our SmartPark guidance system across two floors in the carpark, with <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-sensors" target="_blank">overhead indicator sensors</a> (OHIs) that change from green LEDs to red once a car is parked in an individual bay. This makes it very easy for motorists to ascertain at a glance whether there is a free parking spot along a row of cars.</p>
<p>As well, car park congestion will be mitigated as <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-signs" target="_blank">variable message signs</a> (VMS) display live feed availability of parking bays across different car park areas and floors.</p>
<p>Our system also enables monitoring of car numbers parking on the rooftop by installing an ANPR camera that counts cars entering and exiting the rooftop, which also feeds into the VMS sign displays in the same way the OHIs do. This is a great way to utilise the same operating system to display occupancy in the open-air areas of a car park that doesn’t lend itself to the installation of OHIs.</p>
<p>As well as catering to shoppers and patrons, Ormiston Town Centre management can generate detailed, customised reports in our <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-cloud" target="_blank">SmartCloud</a> management platform. This affords them clarity around statistics such as visitor numbers and peak times, average length of stay, influxes during special events at The Market, and much more.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2021-09-20T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "dafd7613-7968-4b69-ad6e-fb3a20c6ba52",
    "mediaKey": "49e0c608-311f-4327-952e-5630aeac473c"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "95d1c0c8-1620-410f-a443-3ef78600ba05",
    "mediaKey": "b76c04c4-bd35-41a9-bd37-59cd7879f12b"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "2fdafc1b-737d-4401-87a4-f8ed81de76ce",
    "mediaKey": "b76c04c4-bd35-41a9-bd37-59cd7879f12b"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[A SmartPark guidance system at Ormiston Town Centre enhances the customer experience in one of NZ’s newest community hubs.]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Ormiston Town Centre, located in Auckland’s south, is a brand new town centre and market designed to be the heart of the local community.

Not only does it house over 90 specialty stores and kiosks, it also offers dining options and ‘The Market’ – a covered outdoor area that will play host to events such as Christmas markets, food stalls, farmers' markets, night markets or creative community events.

Smart Parking worked with Ormiston’s developers to ensure that the car park facilities they offer cater for large visitor numbers - affording visitors an easy customer experience when parking.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"03da62ef-590a-408b-85e9-0f8847b0a5b1","name":"Rebecca Grainger  - GENERAL MANAGER SALES AND OPERATIONS – NEW ZEALAND","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking are very proud to be working with Ormiston Town Centre, and look forward to continuing to be a part of this exciting community and smart city project.","position":"Rebecca Grainger ","company":"GENERAL MANAGER SALES AND OPERATIONS – NEW ZEALAND","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>