<?xml version="1.0" encoding="utf-8"?>
<Content Key="88c37663-6382-4d33-9917-5405ff9a0462" Alias="April" Level="4">
  <Info>
    <Parent Key="cf49a5fe-1048-47a8-bc36-e19a59dda1aa">2020</Parent>
    <Path>/Home/Latest//April</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-06-16T15:38:02</CreateDate>
    <NodeName Default="April">
      <Name Culture="en-gb">April</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>