<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9259a5e-1167-4568-afe6-1f6e241b129f" Alias="April" Level="4">
  <Info>
    <Parent Key="87c0d1dd-7660-473e-ab90-39c2eada7d1c">2022</Parent>
    <Path>/Home/Latest//April</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2022-04-01T15:47:59</CreateDate>
    <NodeName Default="April">
      <Name Culture="en-gb">April</Name>
      <Name Culture="en-au">April</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>