<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1cbfb0d-ec26-4555-9aa1-ee9c5856b35e" Alias="August (4) (1) (1) (1) (1) (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//August41111111</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-09-11T12:23:07</CreateDate>
    <NodeName Default="August (4) (1) (1) (1) (1) (1) (1) (1)">
      <Name Culture="de-de">August (4) (1) (1) (1) (1) (1) (1) (1)</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>