<?xml version="1.0" encoding="utf-8"?>
<Content Key="9346226d-0452-4fe4-9599-5118b9cdfc0d" Alias="August" Level="4">
  <Info>
    <Parent Key="cf49a5fe-1048-47a8-bc36-e19a59dda1aa">2020</Parent>
    <Path>/Home/Latest//August</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-06-14T12:34:26</CreateDate>
    <NodeName Default="August">
      <Name Culture="en-gb">August</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>