<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d3496f2-a341-40e5-83ee-2c4780423513" Alias="August (2)" Level="4">
  <Info>
    <Parent Key="6600f561-ef08-4463-b46e-cb22b40059c4">2023</Parent>
    <Path>/Home/Latest//August2</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-03-31T16:15:04</CreateDate>
    <NodeName Default="August (2)">
      <Name Culture="en-gb">August</Name>
      <Name Culture="en-nz">August</Name>
      <Name Culture="en-au">August</Name>
      <Name Culture="da-dk">August</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>