<?xml version="1.0" encoding="utf-8"?>
<Content Key="92aab424-8acd-4cb4-8fe9-0eab7e300fd9" Alias="August (1) (1)" Level="4">
  <Info>
    <Parent Key="6600f561-ef08-4463-b46e-cb22b40059c4">2023</Parent>
    <Path>/Home/Latest//August11</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-02-02T14:34:17</CreateDate>
    <NodeName Default="August (1) (1)">
      <Name Culture="de-de">August (1) (1)</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>