<?xml version="1.0" encoding="utf-8"?>
<Content Key="16db93c8-8230-4366-90d6-6cab04566c47" Alias="Baupatenschaft für Ronald McDonald Haus in Hamburg-Altona" Level="5">
  <Info>
    <Parent Key="14df13f6-ae5a-4a00-8e39-9ad628d3e128">July</Parent>
    <Path>/Home/Latest//July/BaupatenschaftFuerRonaldMcDonaldHausInHamburgAltona</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-16T13:03:34</CreateDate>
    <NodeName Default="Baupatenschaft für Ronald McDonald Haus in Hamburg-Altona">
      <Name Culture="de-de">Baupatenschaft für Ronald McDonald Haus in Hamburg-Altona</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="de-de"><![CDATA[<p>In einem Ronald McDonald Haus finden Eltern und Geschwister schwer kranker Kinder ein vorübergehendes Zuhause, das ihnen Geborgenheit und etwas Normalität bietet. Durch die unmittelbare Nähe zum Krankenhaus können sie Kräfte sparen und sind ausgeruhter, wenn sie sich um das kranke Kind kümmern. Die konstante Anwesenheit von Eltern und Geschwistern fördert den Heilungsprozess des kranken Kindes.</p>
<p>Wir sind stolz darauf, das Ronald McDonald Haus Hamburg-Altona bei seinem Erweiterungsbau zu unterstützen und damit die Kapazität des Hauses zu erweitern. Das Apartment ist der Klinik Asklepios direkt angegliedert. So kann noch mehr Familien bei der Genesung und Heilung des Kindes geholfen werden. Es ist uns eine Herzensangelegenheit, dieses wunderbare Projekt zu unterstützen!</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="de-de"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="de-de"><![CDATA[2024-07-10T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "f7f8b861-3e84-4f6a-9957-6dbabb341597",
    "mediaKey": "8aa14512-ee1a-468e-9965-008ee68a4ed0"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "99a50139-204d-48c5-aa82-fe045ba381c2",
    "mediaKey": "f7987ea7-b3ac-4a1d-9e46-a7c62eb8718d"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "5848b8c3-7482-4417-b466-042896d0792f",
    "mediaKey": "b28d2e8e-294f-4563-bc58-6343bc59e80c"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Smart Parking Germany unterstützt das Ronald McDonald Haus in Hamburg Altona mit einer Baupatenschaft.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-de"><![CDATA[Baupatenschaft für Ronald McDonald]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="de-de"><![CDATA[Baupatenschaft für Ronald McDonald Haus in Hamburg-Altona]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="de-de"><![CDATA[Smart Parking übernimmt die Baupatenschaft für ein Apartment im Ronald-McDonald-Haus in Hamburg Altona. Ein Projekt, das uns sehr am Herzen liegt!]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>