<?xml version="1.0" encoding="utf-8"?>
<Content Key="adcd4287-c202-406c-8a23-a264c075156d" Alias="Bespoke parking for your Medical Centre or GP car park" Level="5">
  <Info>
    <Parent Key="0d21211f-97bf-4528-8fa1-bbeb0f891a73">November (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1)</Parent>
    <Path>/Home/Latest//November1111111111111/BespokeParkingForYourMedicalCentreOrGPCarPark</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-11-25T04:27:11</CreateDate>
    <NodeName Default="Bespoke parking for your Medical Centre or GP car park">
      <Name Culture="en-au">Bespoke parking for your Medical Centre or GP car park</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">Your car park is a valuable commodity to many people, patients, staff and visitors.  Often car parking problems take up too much of the reception staff’s time and energy.  It is better to have an expert company such as Smart Parking solve the parking woes for you.  Common problems include not having enough parking for everyone which is where optimal use of all the spaces is key.  Monitoring the fair use of car park spaces is what Smart Parking do.</p>
<p style="font-weight: 400;">The parking policy could offer free parking for staff and a limited free period for patients coinciding with their appointments.  After this complimentary window, all patients and visitors would be required to pay for parking.  This ensures that popular sites are not used for a doctor’s appointment, and the car is left there for an extended time while shopping or socialising.</p>
<p style="font-weight: 400;">Alternatively, your car park may be a valuable revenue stream, and under so much pressure, paid parking is a must for staff and patients alike.  By managing the parking properly, patients have better access to available parking spaces, and therefore, they are unlikely to be late for appointments.  Staff can be added to exclusion lists or given flexible weekly or monthly permits for parking.  Smart Parking will provide a bespoke solution to help manage the car park at your Medical Centre.</p>
<p style="font-weight: 400;"> </p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-11-25T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "d83ccd4e-210c-44a9-b8e5-2e83e4a09028",
    "mediaKey": "84df5a6d-20af-4b6c-9c42-574d8fe9d95c"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "18f50b7b-aff3-41da-80b0-74cc03bad01a",
    "mediaKey": "84df5a6d-20af-4b6c-9c42-574d8fe9d95c"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "358cbc29-fdd3-4f9e-a3c7-832c8ec8a07a",
    "mediaKey": "84df5a6d-20af-4b6c-9c42-574d8fe9d95c"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[Bespoke parking for your Medical Centre or GP car park | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Bespoke parking for your Medical Centre or GP car park ]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"43abee73-67ee-4816-b58a-08a4058203d6","name":"Manager  - Medical Centre","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"As soon as we engaged Smart Parking the difference was not only noticeable, but it was also incredible. Our car park was visibly vacant with spaces, and both our clients and we were overjoyed.","position":"Manager ","company":"Medical Centre","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>