<?xml version="1.0" encoding="utf-8"?>
<Content Key="82b488d7-bfbe-420c-9799-b368b56b5f92" Alias="Car Park Management for Events (1)" Level="5">
  <Info>
    <Parent Key="f8309209-4104-4e6b-834b-30ccfeb61782">August (2)</Parent>
    <Path>/Home/Latest//August2/CarParkManagementForEvents1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-02T11:49:23</CreateDate>
    <NodeName Default="Car Park Management for Events (1)">
      <Name Culture="en-gb">Car Park Management for Events</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>At Smart Parking, we ensure that your guests remember their special occasion for all the right reasons. With over 30 years of experience managing event parking, we focus on providing your visitors with a seamless and stress-free parking experience. The customer experience starts and finishes when they enter and exit your car park and so, your valued guests must find the parking smooth and easy.</p>
<p>Smart Parking is well-equipped to oversee your car park with cutting-edge technology, a leading reporting platform, experienced account managers and mobile attendants. We aim to prevent car park abuse so spaces are free for those who need them. One of the methods we use to do this is by installing Automatic Number Plate Recognition (ANPR) cameras, to ensure compliance. We install this technology at no cost to you.</p>
<p>We excel in handling high traffic volumes during peak times, so you can rest assured your car park is well managed. It is also possible to introduce new revenue streams for your car park with flexible payment options. Our market-leading technology and services help support some of the country’s most reputable venues.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-gb"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2024-08-20T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "cfac7811-ea0f-454e-b6c4-a81a39158da0",
    "mediaKey": "3634c69c-84bf-4ed1-abbe-025803bbbdfc"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "b71273cd-8360-4953-971d-414950dda171",
    "mediaKey": "3634c69c-84bf-4ed1-abbe-025803bbbdfc"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "d8629d3e-72cf-495e-81b1-aae11e45169e",
    "mediaKey": "9d2f750f-8763-43dc-a3b2-ea4cf9f3ebed"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[Car Park Management for Events]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[At Smart Parking, we ensure that your guests remember their special occasion for all the right reasons. With over 30 years of experience managing event parking, we focus on providing your visitors with a seamless and stress-free parking experience. ]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-gb"><![CDATA[[{"key":"002ef1dd-7706-4ad3-94a0-cfe6f62f85b4","name":"General Manager - Large Entertainment Venue","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Since introducing Smart Parking and their car park management systems to our site, we have had a considerable reduction in car park abuse, meaning genuine customers can now find a space. \n\nThe data and reporting provided to us is also invaluable and the working relationship we have couldn’t be better.\n","position":"General Manager","company":"Large Entertainment Venue","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>