<?xml version="1.0" encoding="utf-8"?>
<Content Key="97f6abe2-c9ae-4955-8bdf-b90df153a84d" Alias="Car Park Data to help with key business decisions | Smart Parking" Level="5">
  <Info>
    <Parent Key="1ddf7d1a-7c94-4686-a743-308eb186cb65">September (1)</Parent>
    <Path>/Home/Latest//September1/CarParkDataToHelpWithKeyBusinessDecisionsSmartParking</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-10T05:42:27</CreateDate>
    <NodeName Default="Car Park Data to help with key business decisions | Smart Parking">
      <Name Culture="en-nz">Car Park Data to help with key business decisions | Smart Parking</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p>Making key business decisions becomes a lot easier when you have the right information to support you. Landowners may manage their car park with 20 spaces, or possibly 1000 spaces, or anywhere in between. The method in which you do this will depend on many different factors and pressures relating to the location of the car park and what it is mostly used for. There are decisions to be made like how much to charge per hour, and whether to allow 1/2/3 hours of free parking. Other factors, such as, what parking meters to use, and whether to use ANPR (Automatic Number Plate Recognition) cameras to capture cars arriving and leaving the car park.</p>
<p>Smart Parking uses a varied approach depending on your requirements. Our systems will allow you to have extremely good data at your fingertips to help make the necessary decisions about the car parking spaces you manage. We can offer insight like how many cars use the car park per day. The average length of time they stay, and how many people are avoiding the car park charges. We have over 30 years’ experience managing car parks.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2024-09-10T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "04e37abe-b11b-443f-a9e1-327ae27d3633",
    "mediaKey": "235ce08b-7d5f-4f88-8780-3ffe1acdadc3"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "a6053461-267b-43c3-95b1-5a6dc3135213",
    "mediaKey": "235ce08b-7d5f-4f88-8780-3ffe1acdadc3"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "569d18d8-1cce-449f-b614-6c2f093da659",
    "mediaKey": "235ce08b-7d5f-4f88-8780-3ffe1acdadc3"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-nz"><![CDATA[Car Park Data to help with key business decisions | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[Car Park Data to help with key business decisions]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Car Park Data to help with key business decisions
]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"1be76dab-25e8-4cce-9058-37a382fe7357","name":"General Manager - Leisure Park","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"The level of data reporting and analysis Smart Parking provides is developing a great deal of business intelligence about the site, which will support our future business decisions.  The information available is invaluable.  Thank you Smart Parking.","position":"General Manager","company":"Leisure Park","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>