<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0f5cc14-85e0-4e88-b9e1-ed0ebb7f152c" Alias="Change Password" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/ChangePassword</Path>
    <Trashed>false</Trashed>
    <ContentType>changePassword</ContentType>
    <CreateDate>2022-03-11T11:02:04</CreateDate>
    <NodeName Default="Change Password" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="2e0044f2-cc66-4aa2-8f14-07b2eda1f485">ChangePassword</Template>
  </Info>
  <Properties />
</Content>