<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9a5993c-61c6-44b6-88a8-c0a2fa67b225" Alias="City centre car parks must prioritise fair use and access for customers" Level="5">
  <Info>
    <Parent Key="0d21211f-97bf-4528-8fa1-bbeb0f891a73">November (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1)</Parent>
    <Path>/Home/Latest//November1111111111111/CityCentreCarParksMustPrioritiseFairUseAndAccessForCustomers</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-11-12T23:17:44</CreateDate>
    <NodeName Default="City centre car parks must prioritise fair use and access for customers">
      <Name Culture="en-au">City centre car parks must prioritise fair use and access for customers</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">Parking is at a premium where spaces are scarce.  In a city centre, there is even more need to ensure that your parking management partner is doing an excellent job.  Smart Parking uses modern technology to monitor their car parks and ensure they are being used by the people they are meant for.  The most efficient method for protecting these spaces is by using ANPR (Automatic Number Plate Recognition) cameras at the entrance and exit of the car park. If action needs to be taken against people who abuse the time limits, then a non-intrusive PBN (Parking Breach Notice) can be sent via the post to deter them in the future.  This system eliminates verbal or physical abuse when a traffic warden attempts to place a PBN on a vehicle's windscreen.  Thereby keeping people safe and the car park well managed.</p>
<p style="font-weight: 400;">The primary objective for maintaining spaces running at peak efficiency is to ensure that customers, tenants, and owners, among others, have somewhere to park when they need it.   At Smart Parking, we provide a stress-free solution that uses technology to deter misuse and encourage optimal space turnover, hence increasing revenue for local companies.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-11-13T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "ac32e765-fdda-4a8a-b18e-3d01c9732e49",
    "mediaKey": "07adad04-d228-4a7c-ad84-e49a7c5cdac3"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "b0dd3a1c-11e3-4a20-9f68-54a559d30137",
    "mediaKey": "07adad04-d228-4a7c-ad84-e49a7c5cdac3"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "494df31c-d9a0-44f2-84c0-b2db0d4fa8d7",
    "mediaKey": "07adad04-d228-4a7c-ad84-e49a7c5cdac3"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[City centre car parks must prioritise fair use and access for customers | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[City centre car parks must prioritise fair use and access for customers]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"f5f5652f-bf41-4ed5-b287-08dd22740a0e","name":"Store Manager - City Centre Delicatessen","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are very happy with the parking system you have installed; it is deterring non-customers from parking in our car park which is much appreciated.  Our assigned account manager is fantastic, very quick, and eager to help, and extremely responsive.  Installation was simple and very professional; the whole process was very easy for us.  We are very happy with the service and would highly recommend Smart Parking.","position":"Store Manager","company":"City Centre Delicatessen","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>