<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d4a518b-6bc1-40f8-a5e8-74232421aa62" Alias="December (1)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//December1</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-12-04T02:16:44</CreateDate>
    <NodeName Default="December (1)">
      <Name Culture="en-nz">December (1) (1)</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>