<?xml version="1.0" encoding="utf-8"?>
<Content Key="6df32870-4672-4404-b655-f08e605ab475" Alias="Employee 2" Level="3">
  <Info>
    <Parent Key="7207b8b7-173d-441c-bc77-4c7468f35568">Our Team</Parent>
    <Path>/Home/OurTeam/Employee2</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2023-02-01T15:39:00</CreateDate>
    <NodeName Default="Employee 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <employeeName>
      <Value><![CDATA[]]></Value>
    </employeeName>
    <image>
      <Value><![CDATA[[
  {
    "key": "bef5bd02-3bf0-409b-98b6-a5bcc9666600",
    "mediaKey": "1eab4282-e257-429d-9076-3f25d6ccb5fc"
  }
]]]></Value>
    </image>
    <jobRole>
      <Value><![CDATA[Engineer]]></Value>
    </jobRole>
  </Properties>
</Content>