<?xml version="1.0" encoding="utf-8"?>
<Content Key="0568354e-7004-4088-92e6-4a786b5faf9b" Alias="Employee 1" Level="3">
  <Info>
    <Parent Key="7207b8b7-173d-441c-bc77-4c7468f35568">Our Team</Parent>
    <Path>/Home/OurTeam/Employee1</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2023-02-01T15:38:34</CreateDate>
    <NodeName Default="Employee 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <employeeName>
      <Value><![CDATA[]]></Value>
    </employeeName>
    <image>
      <Value><![CDATA[[
  {
    "key": "ea1d2ddc-4d18-4417-aa10-411ac8a74778",
    "mediaKey": "1eab4282-e257-429d-9076-3f25d6ccb5fc"
  }
]]]></Value>
    </image>
    <jobRole>
      <Value><![CDATA[Manager]]></Value>
    </jobRole>
  </Properties>
</Content>