<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b0e0617-2e09-4743-80e3-a05949ba0698" Alias="Employee 3" Level="3">
  <Info>
    <Parent Key="7207b8b7-173d-441c-bc77-4c7468f35568">Our Team</Parent>
    <Path>/Home/OurTeam/Employee3</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2023-02-01T15:39:49</CreateDate>
    <NodeName Default="Employee 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <employeeName>
      <Value><![CDATA[]]></Value>
    </employeeName>
    <image>
      <Value><![CDATA[[
  {
    "key": "247b9ee6-fbc7-47e7-8586-5fd53026ac7e",
    "mediaKey": "1eab4282-e257-429d-9076-3f25d6ccb5fc"
  }
]]]></Value>
    </image>
    <jobRole>
      <Value><![CDATA[HR]]></Value>
    </jobRole>
  </Properties>
</Content>