<?xml version="1.0" encoding="utf-8"?>
<Content Key="e66e2600-385b-4236-a047-f4a82a24eabf" Alias="Fast Food restaurants – fixing their unique car park requirements" Level="5">
  <Info>
    <Parent Key="48e274dd-7f61-4cf1-9aff-cdcb4a886dfc">October (1)</Parent>
    <Path>/Home/Latest//October1/FastFoodRestaurantsFixingTheirUniqueCarParkRequirements</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-02T05:05:04</CreateDate>
    <NodeName Default="Fast Food restaurants – fixing their unique car park requirements">
      <Name Culture="en-au">Fast Food restaurants – fixing their unique car park requirements</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">We have the perfect car park solutions to allow Fast Food restaurants to run at their best. The results are higher turnover, happier customers and staff, and less hassle for the owners/managers when dealing with parking issues. Another added benefit is a reduction in anti-social behaviour and parking abuse.</p>
<p style="font-weight: 400;">These are just some of the solutions we can offer:</p>
<ul>
<li>Free parking for a set period for guests (determined by owner/manager)</li>
<li>Free parking beyond the free parking period (e.g. for children’s birthday parties) thanks to our smart tablet solution</li>
<li>Staff/supplier parking is managed through our technology</li>
<li>Option of additional paid parking beyond the initial free parking period</li>
</ul>
<p style="font-weight: 400;">Fast Food restaurants are often found on the corner of prominent crossroads and in busy areas.  This encourages people to use their car park for other purposes, such as shopping/commuting, whilst never intending to eat there.  Without proper management these facilities are often overused, preventing legitimate customer access.  Thereby creating customer complaints and undermining business performance. </p>
<p style="font-weight: 400;">Smart Parking has been reinventing the parking experience for over 30 years.  They can help fix unauthorised parking at your venue.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-10-02T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "14eee588-5c3e-4b2d-b09c-3779dd9e7ff0",
    "mediaKey": "3c81a768-7f22-4bff-8b85-28f106a1a08f"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "11080a70-cd59-4283-b212-bfc20b566a5f",
    "mediaKey": "3c81a768-7f22-4bff-8b85-28f106a1a08f"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "a1d85b15-f02e-4772-993f-c9394e550946",
    "mediaKey": "3c81a768-7f22-4bff-8b85-28f106a1a08f"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[Fast Food restaurants – fixing their unique car park requirements | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Fast Food restaurants – fixing their unique car park requirements]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"65e118c4-fcf5-47e3-8f52-00b5d85270d3","name":"Director & Franchisee - Fast Food Chain","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Since Smart Parking has taken over the management of my site, I have seen a huge improvement in service levels, and also in the control and monitoring of the car park.","position":"Director & Franchisee","company":"Fast Food Chain","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>