<?xml version="1.0" encoding="utf-8"?>
<Content Key="604d34d4-5ccc-4d2f-8695-562d200d749c" Alias="FY24 AGM Presentation" Level="5">
  <Info>
    <Parent Key="ccee8095-0793-4085-b928-1ed375fb4756">November (2) (1) (1) (1) (1) (1) (1) (1) (1) (1)</Parent>
    <Path>/Home/Latest//November2111111111/FY24AGMPresentation</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-11-19T12:19:19</CreateDate>
    <NodeName Default="FY24 AGM Presentation">
      <Name Culture="en-nz">FY24 AGM Presentation</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p>Highlights include:</p>
<ul>
<li>Q1 FY25 growth continuing with traction in new markets.</li>
<li>Long term 1,500 ANPR site target achieved ahead of time due to enhanced sales capability and strong traction in new territories.</li>
<li>YTD ANPR site count:  UK: 1,180, New Zealand: 195, Germany: 71, Denmark: 12, Australia: 71.</li>
<li>Improving profitability growth in Germany and Denmark improving performance - profitability expected in CY25.</li>
<li>Site installation pipeline strong with further 30 installations complete and waiting to go live.</li>
<li>Good growth in PBN issuance across all territories.</li>
<li>UK PBN's increased 26,532 vs PCP, up 15%.</li>
<li>57,287 PBN's issued in New Zealand and Germany - driven by new site additions.</li>
<li>PBN's issuance commenced in Denmark in June 2024 - new contracts with retails and hospitality driving estate growth.</li>
<li>Geographic mix of PBN's balancing as new territories increase share of total insurance.</li>
</ul>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2024-11-15T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "5b93832b-c54e-48e5-a1f6-0b7e5ba6d513",
    "mediaKey": "a2e1c3a0-804c-46a5-9ad9-571421c405f6"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "8cb15248-42d6-4a20-8f2e-609266a40872",
    "mediaKey": "a2e1c3a0-804c-46a5-9ad9-571421c405f6"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "d1065d72-f937-4ae7-bac9-e56bb1dbaef0",
    "mediaKey": "a2e1c3a0-804c-46a5-9ad9-571421c405f6"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[FY24 AGM Presentation]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Smart Parking are pleased to report that we have achieved our long term target of 1,500 ANPR sites under management by December 2024 and re-sets the long term organic target to 3,000 sites. ]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>