<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1b8c321-4fc6-45a7-b16e-3194548dff96" Alias="GJ23 Bekanntgabe der Ergebnisse" Level="5">
  <Info>
    <Parent Key="92aab424-8acd-4cb4-8fe9-0eab7e300fd9">August (1) (1)</Parent>
    <Path>/Home/Latest//August11/GJ23BekanntgabeDerErgebnisse</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-02T14:40:54</CreateDate>
    <NodeName Default="GJ23 Bekanntgabe der Ergebnisse">
      <Name Culture="de-de">GJ23 Bekanntgabe der Ergebnisse</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="de-de"><![CDATA[<p>Unser Hauptaugenmerk liegt auf der Erreichung von 1.500 Standorten bis Juni 2025 und wir sind auf dem besten Weg, diesen Meilenstein zu übertreffen.</p>
<p>Zu den Highlights gehören:</p>
<ul>
<li>    Gruppenumsatz von 45,1 Mio. (46,1 Mio, plus 21 %)</li>
<li>    Bereinigtes EBITDA von 11,5 Mio. (11,8 Mio. plus 35 %)</li>
<li>    Bereinigte EBITDA-Marge von 25,5 % (plus 266 Basispunkte)</li>
<li>    Wachstum bei Parkverstößen weltweit um 29%</li>
<li>    Wachstum in APAC/Deutschland bei Parkverstößen um 271%</li>
<li>    1.112 ANPR-Standorte der Gruppe insgesamt unter Verwaltung</li>
<li>    Barmittel in Höhe von 10,7 Mio. zur Eigenfinanzierung von organischem Wachstum, Expansion in neue Gebiete und ergänzenden Akquisitionsmöglichkeiten</li>
</ul>
<p>    (Alle Umsatzzahlen sind in konstanten Wechselkursen angegeben (GJ 22 Wechselkurs))</p>
<p>Unser Hauptaugenmerk liegt weiterhin auf der Erreichung von 1.500 Standorten bis Juni 2025, und wir sind auf dem besten Weg, diesen Meilenstein zu übertreffen.</p>
<p>Unsere Wachstumsstrategie bleibt intakt, und mit unserer Bilanz und unserem positiven Cashflow sind wir gut kapitalisiert, um organische und anorganische Chancen zu nutzen, sobald sie sich ergeben.</p>
<p>Smart Parking freut sich darauf, seine Aktionäre in naher Zukunft über die positiven Fortschritte auf dem Laufenden zu halten, und dankt den globalen Teams für die herausragenden Ergebnisse.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="de-de"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="de-de"><![CDATA[2023-08-21T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "5a322ab9-8375-4c7f-9111-83daf0c39822",
    "mediaKey": "f1d1a5a0-814b-4261-a5d2-ecbe6b6a4d21"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "e6b381f1-93cb-4111-b0ae-5baa2f9076fc",
    "mediaKey": "f041efbb-fcf7-4de2-8385-8d95699297f8"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "1bb327ec-9af7-455f-8bc2-bb2cc6cea529",
    "mediaKey": "a0726454-ac90-42fe-a7da-6794b733d113"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Smart Parking freut sich über die Fortschritte des Geschäftsjahres 2023, das in einem herausfordernden makroökonomischen Umfeld Rekordergebnisse lieferte.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="de-de"><![CDATA[GJ23 Bekanntgabe der Ergebnisse ]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="de-de"><![CDATA[Smart Parking freut sich über die Fortschritte des Geschäftsjahres 2023, das in einem herausfordernden makroökonomischen Umfeld Rekordergebnisse lieferte. 
Wir freuen uns darauf, im Geschäftsjahr 2024 weiteres Wachstum und starke Ergebnisse zu erzielen.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>