<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce443e90-98f1-48ef-b20b-c6f82099ceca" Alias="Home" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContent</ContentType>
    <CreateDate>2023-08-17T02:31:48</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-nz">Home</Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="false">
      <Published Culture="en-nz">false</Published>
    </Published>
    <Schedule />
    <Template Key="79c81462-3595-49e3-9294-89c3c2ef1bb6">GeneralContent</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <centralImage>
      <Value Culture="en-nz"><![CDATA[[]]]></Value>
    </centralImage>
    <headerText>
      <Value Culture="en-nz"><![CDATA[We lead the way in car park management]]></Value>
    </headerText>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <icon>
      <Value Culture="en-nz"><![CDATA[[]]]></Value>
    </icon>
    <linkButton1>
      <Value><![CDATA[]]></Value>
    </linkButton1>
    <linkButton2>
      <Value><![CDATA[]]></Value>
    </linkButton2>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageBuilderItems>
      <Value><![CDATA[]]></Value>
    </pageBuilderItems>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summary>
      <Value Culture="en-nz"><![CDATA[With offices in New Zealand, the UK, Germany and Australia , we aim to bring intelligent technology and integrated parking services to the world.]]></Value>
    </summary>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <videoLink>
      <Value><![CDATA[]]></Value>
    </videoLink>
  </Properties>
</Content>