<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2ecee0a-c1a0-419e-a436-5c407a825eb1" Alias="Hotel Car Parks - how to ensure great guest satisfaction when they arrive and leave | Smart Parking" Level="5">
  <Info>
    <Parent Key="4cd39bfe-2c36-4391-8088-cb6d935c1425">September (2)</Parent>
    <Path>/Home/Latest//September2/HotelCarParksHowToEnsureGreatGuestSatisfactionWhenTheyArriveAndLeaveSmartParking</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-30T06:22:03</CreateDate>
    <NodeName Default="Hotel Car Parks - how to ensure great guest satisfaction when they arrive and leave | Smart Parking">
      <Name Culture="en-au">Hotel Car Parks - how to ensure great guest satisfaction when they arrive and leave | Smart Parking</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p>Your hotel guest wants to know if their car firstly, has a space when they arrive and, secondly that paying for it is simple, (if required).  Hotel car parks are valuable assets, but they can be difficult to organise.  The main problems often befall busy Reception Staff who have other important demands on their time.  Smart Parking’s technology solutions help to relieve the uncertainties and raise guest satisfaction.  Reception Staff can use our integrated portal to log guest cars when they arrive and allow for the duration of their stay, even if they need to use their car whilst there.</p>
<p style="font-weight: 400;">Smart Parking’s system is seamless for the guest.  In addition, the ANPR (Automatic Number Plate Recognition) cameras will prevent/deter unauthorised cars from parking at the Hotel.  The benefit is that the spaces are kept free for genuine paying guests.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-09-30T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "ad6d6c10-3682-4150-afee-a4fbbec5aa74",
    "mediaKey": "80823201-4ab0-4f26-980f-90d885f55140"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "9149344a-068e-4e45-b786-560673bca770",
    "mediaKey": "80823201-4ab0-4f26-980f-90d885f55140"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "9ec3a3ed-4a24-4d3e-ac36-33ca32d0b3b2",
    "mediaKey": "80823201-4ab0-4f26-980f-90d885f55140"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[Hotel Car Parks - how to ensure great guest satisfaction when they arrive and leave | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Hotel Car Parks - how to ensure great guest satisfaction when they arrive and leave]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"781e83b6-2f87-4e42-9c79-fcc8da079f1b","name":"Hotel Manager - Hotel Chain","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are really happy with the service provided by Smart Parking; the installation was very smooth and seamless, and also very prompt.  After the installation, we had no issues whatsoever, anytime we needed help, we always got your support. Having you on board has enhanced our overall customer experience and we couldn’t be happier.","position":"Hotel Manager","company":"Hotel Chain","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>