<?xml version="1.0" encoding="utf-8"?>
<Content Key="a534eecc-ddea-4445-8ee6-4cc7f8e05c73" Alias="How to maximise your business’s earning potential" Level="5">
  <Info>
    <Parent Key="12aa96d1-655e-462a-9f73-0baca8f2f4da">October (2)</Parent>
    <Path>/Home/Latest//October2/HowToMaximiseYourBusinessSEarningPotential</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-22T02:47:55</CreateDate>
    <NodeName Default="How to maximise your business’s earning potential">
      <Name Culture="en-nz">How to maximise your business’s earning potential</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p style="font-weight: 400;">Your car park is a large part of your success.  Offering an extended period of free parking time for genuine customers increases the likelihood of them spending money at the surrounding shops near your facility.  As a result, the businesses and tenants nearby benefit from the higher foot traffic.  Smart Parking helps you achieve this by carefully managing the ‘parking rules’.  These preferred rules are determined by the property owners or managing agents of the car park.  They might include a 3-hour free parking period, followed by a fee for longer stays.  In this scenario, the local shops benefit from having happy customers who have access to free parking, as well as flexible options available to them if they prefer to stay longer.  Additionally, there is a clear revenue stream from the paid parking on site.</p>
<p style="font-weight: 400;">We aim to provide convenient parking with many different payment options to offer customers a stress-free experience, which will encourage return visits.  By installing ANPR (Automatic Number Plate Recognition) cameras at the entrance(s) and exit(s) to the car park, motorists can be monitored to check they have followed the rules set for that car park.  Smart Parking install these at little to no cost to the property owner and manages the genuine staff parking via a ‘whitelist’ to ensure proper use. </p>
<p style="font-weight: 400;">Creating a flexible parking solution ensures a memorable experience and keeps customers returning time and time again.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2024-10-22T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "1fd33f0b-541b-4a5c-919d-658671ffbe65",
    "mediaKey": "24f19038-b5ff-4c8c-b790-ff23821f3581"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "9a3088f4-eec8-45fd-b5a2-ec430ec07105",
    "mediaKey": "24f19038-b5ff-4c8c-b790-ff23821f3581"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "beb8ebbc-3867-4602-ae9f-77e9a1fb74b1",
    "mediaKey": "24f19038-b5ff-4c8c-b790-ff23821f3581"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-nz"><![CDATA[How to maximise your business’s earning potential | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[How to maximise your business’s earning potential ]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"272a9b5e-dc64-4c1d-b646-4b9a8c6f71b2","name":"Procurement Manager - Group of Large Retail Parks","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking offers us professionalism, flexibility, and outstanding knowledge of the parking industry, not only knowing the sector inside and out, but also being part of the organisations that shape the parking industry for the future.  \n","position":"Procurement Manager","company":"Group of Large Retail Parks","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>