<?xml version="1.0" encoding="utf-8"?>
<Content Key="831d233b-b708-4c15-8170-6fa0e2577c8f" Alias="Hvorfor ikke vælge en P-plads med omtanke?" Level="5">
  <Info>
    <Parent Key="951498c7-8f2f-4654-936b-07e6ec6fc2fc">November (4)</Parent>
    <Path>/Home/Latest//November4/HvorforIkkeVaelgeEnPPladsMedOmtanke</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-11-25T13:15:04</CreateDate>
    <NodeName Default="Hvorfor ikke vælge en P-plads med omtanke?">
      <Name Culture="da-dk">Hvorfor ikke vælge en P-plads med omtanke?</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="da-dk"><![CDATA[<h2>Træer der skaber fremtiden</h2>
<p>Hvert år bidrager vi til at skabe ny skovnatur i Danmark. Den 13. november var vi med til at indvie Himmelev Folkeskov nord for Roskilde, hvor de første 600 træer blev plantet af vores team og mere end 130 engagerede børn og voksne. De mange træer og buske dækker et område svarende til 56 fodboldbaner – en indsats, der både reducerer CO₂ og styrker biodiversiteten.</p>
<h2>Vi planter mere end bare træer</h2>
<p>“Vi ønsker at kombinere smarte parkeringsløsninger med ansvar for miljøet,” siger Michael Pagh-Schou, direktør i Smart Parking Danmark. <em>“For os betyder bæredygtighed, at vi gentager indsatsen hvert år, så vores parkeringspladser løbende bidrager til en grønnere fremtid. Samtidig tænker vi helhedsorienteret, hvor vi også planlægger at opsætte insekthoteller på udvalgte P-pladser – en hjælpende hånd til bier, sommerfugle og andre vigtige insekter, selv midt i byen.”</em></p>
<h2>Et samarbejde der skaber resultater</h2>
<p>Growing Trees Network roser initiativet som en inspirerende løsning, hvor parkeringspladser bliver til mere end bare beton. <em>“Smart Parking Danmark viser, hvordan virksomheder kan bidrage til både klimaet og biodiversiteten,”</em> udtaler Kim Nielsen, CEO i Growing Trees Network. <em>“Det giver ejere af P-pladserne og deres gæster en følelse af, at de aktivt bidrager til en grønnere fremtid.”</em></p>
<h2>Himmelev Folkeskov – et grønt åndehul</h2>
<p>Vores bidrag er en del af et større projekt i Himmelev Skov, hvor over 65.000 træer og buske allerede pryder området. Skoven ligger over et vigtigt grundvandsmagasin, der sikrer drikkevand til 120.000 borgere, og samtidig skaber den nye stier og naturoplevelser for besøgende. Samarbejdet mellem HOFOR, Roskilde Kommune og Naturstyrelsen gør denne indsats mulig.</p>
<h2>Fakta:</h2>
<ul>
<li>Ét træ pr. parkeringsbås skaber 2,5 m² ny skovnatur om året.</li>
<li>Folkeskovene tilplantes med 4.000 træer og buske pr. hektar.</li>
<li>Skovene etableres med åbne sletter, vandhuller og stier for at fremme biodiversitet og oplevelsesmuligheder.</li>
</ul>
<h2>Bæredygtighed som en del af parkeringen</h2>
<p>Når du vælger Smart Parking Danmark, vælger du ikke bare en praktisk parkeringsløsning – du bidrager også til en grønnere fremtid. Sammen kan vi gøre en forskel, der rækker langt ud over parkeringspladsens grænser.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="da-dk"><![CDATA[umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="da-dk"><![CDATA[2024-11-25T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "593ceb7d-5ada-4e88-9163-78135604e337",
    "mediaKey": "f0588480-36b0-47db-9913-0c97d6aed5b7"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "51c1fd88-ad4e-42f8-a50f-37dee2c384ba",
    "mediaKey": "f0588480-36b0-47db-9913-0c97d6aed5b7"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "dbc927f8-f3f1-46d3-9238-50bf0ae4a5f5",
    "mediaKey": "f0588480-36b0-47db-9913-0c97d6aed5b7"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="da-dk"><![CDATA[Hvorfor ikke vælge en P-plads med omtanke?]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="da-dk"><![CDATA[Hos Smart Parking Danmark handler parkering om mere end bare biler – det handler om at skabe værdi for både miljøet og lokalsamfundet. Derfor har vi indgået et stærkt partnerskab med Growing Trees Network, hvor vi planter ét træ for hver P-bås, vi administrerer. Det er vores måde at gøre en forskel på – én parkeringsplads ad gangen.
]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>