<?xml version="1.0" encoding="utf-8"?>
<Content Key="d92c01c5-3f15-4ea7-bc4e-8b4783978500" Alias="Introducing the SmartCloud Hub – a car park management solution" Level="5">
  <Info>
    <Parent Key="48e274dd-7f61-4cf1-9aff-cdcb4a886dfc">October (1)</Parent>
    <Path>/Home/Latest//October1/IntroducingTheSmartCloudHubACarParkManagementSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-30T04:42:12</CreateDate>
    <NodeName Default="Introducing the SmartCloud Hub – a car park management solution">
      <Name Culture="en-au">Introducing the SmartCloud Hub – a car park management solution</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">Imagine having all the data analytics about your car park on your desktop computer.  The data included provides:</p>
<ul>
<li>An overview of your car park activity – the number of cars that go in and out</li>
<li>Current stay duration and concession parking</li>
<li>Compliance revenue</li>
<li>Visible stats about parking events daily, weekly or monthly</li>
</ul>
<p style="font-weight: 400;">This is what Smart Parking offers to help you make good business decisions and manage your car park in the way you choose.  By working side-by-side with Smart Parking, which will reduce car park abuse and overstays, the relationship will co-exist easily due to the SmartCloud Hub technology platform.  The added flexibility this gives property managers/owners:</p>
<ul>
<li>The ability to manage ‘exemption lists’/whitelists yourselves i.e. staff parking</li>
<li>Vehicles can be added to the Hub by your ‘own’ staff for temporary timeframes i.e. if a contractor needs to work there for a few days/weeks</li>
<li>Reports about your site are easy to print and understand</li>
<li>Developed using Google Cloud</li>
<li>Serverless, secure, cloud-based platform with access via standard web browsers</li>
</ul>
<p style="font-weight: 400;">The SmartCloud Hub is a unique offering in the car park management business.  It was created exclusively with our clients in mind and gives them direct access to the power of information.  It offers flexibility and speed, which is important in this industry.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-10-30T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "5b8a6ef9-1b06-437d-be5c-120142a94617",
    "mediaKey": "8e68e39e-bbcc-4792-9dc3-8f96829388a5"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "472b260f-43e4-4919-9911-2f62a13565b2",
    "mediaKey": "8e68e39e-bbcc-4792-9dc3-8f96829388a5"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "d3b9479b-7672-4f8a-85ef-f1607fae5789",
    "mediaKey": "8e68e39e-bbcc-4792-9dc3-8f96829388a5"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[Introducing the SmartCloud Hub – a car park management solution | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Introducing the SmartCloud Hub – a car park management solution]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"5fc367ff-f116-4ee9-a1eb-61c4cee6d199","name":"Network Process & Strategy Lead - Logistics","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking’s intelligent Smart Cloud platform has given us access to a whole host of different data sets from each of our sites, which now allows us to review certain business processes and make more informed operational decisions.\n \n\n","position":"Network Process & Strategy Lead","company":"Logistics","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>