<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ab603a9-6c40-49b4-a86c-f8cd1ecbfeb9" Alias="January" Level="4">
  <Info>
    <Parent Key="87c0d1dd-7660-473e-ab90-39c2eada7d1c">2022</Parent>
    <Path>/Home/Latest//January</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-06-07T14:11:08</CreateDate>
    <NodeName Default="January">
      <Name Culture="en-gb">January</Name>
      <Name Culture="de-de">January</Name>
      <Name Culture="en-au">January</Name>
      <Name Culture="en-nz">January</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>