<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bca1905-0d1a-4b8b-af0d-9f71ddf66d1e" Alias="July" Level="4">
  <Info>
    <Parent Key="6600f561-ef08-4463-b46e-cb22b40059c4">2023</Parent>
    <Path>/Home/Latest//July</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-04-25T14:59:02</CreateDate>
    <NodeName Default="July">
      <Name Culture="en-gb">July</Name>
      <Name Culture="de-de">July</Name>
      <Name Culture="en-nz">July</Name>
      <Name Culture="en-au">July</Name>
      <Name Culture="da-dk">July</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>