<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff6f7873-80bb-4b62-86a7-fbe0edc07b5d" Alias="July" Level="4">
  <Info>
    <Parent Key="cf49a5fe-1048-47a8-bc36-e19a59dda1aa">2020</Parent>
    <Path>/Home/Latest//July</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-06-14T13:31:17</CreateDate>
    <NodeName Default="July">
      <Name Culture="en-gb">July</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>