<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ae99c7d-7f79-4f74-b65a-796866232aa0" Alias="June" Level="4">
  <Info>
    <Parent Key="cf49a5fe-1048-47a8-bc36-e19a59dda1aa">2020</Parent>
    <Path>/Home/Latest//June</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-06-14T13:43:41</CreateDate>
    <NodeName Default="June">
      <Name Culture="en-gb">June</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>