<?xml version="1.0" encoding="utf-8"?>
<Content Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6" Alias="Latest" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/Latest</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-04-01T15:41:44</CreateDate>
    <NodeName Default="Latest">
      <Name Culture="en-gb">Latest</Name>
      <Name Culture="de-de">News und Fallstudien</Name>
      <Name Culture="en-au">Latest</Name>
      <Name Culture="en-nz">Latest</Name>
      <Name Culture="da-dk">Senest</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="e6136e0f-6926-48fb-809c-ff3c03aad5b1">Blog</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <headerText>
      <Value Culture="en-gb"><![CDATA[Latest]]></Value>
      <Value Culture="de-de"><![CDATA[News]]></Value>
      <Value Culture="en-au"><![CDATA[Latest]]></Value>
      <Value Culture="en-nz"><![CDATA[Latest]]></Value>
      <Value Culture="da-dk"><![CDATA[ Senest]]></Value>
    </headerText>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <itemsPerPage>
      <Value Culture="en-gb"><![CDATA[9]]></Value>
      <Value Culture="de-de"><![CDATA[9]]></Value>
      <Value Culture="en-au"><![CDATA[9]]></Value>
      <Value Culture="en-nz"><![CDATA[9]]></Value>
      <Value Culture="da-dk"><![CDATA[9]]></Value>
    </itemsPerPage>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Neueste Artikel und Fallstudien von Smart Parking.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-de"><![CDATA[["News"]]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-de"><![CDATA[News - aktuelle Neuigkeiten]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[Here you will find some of our latest news articles and case studies.  We hope our website has given you a taste of what Smart Parking can do to make parking a stress-free experience for both you and your customers.]]></Value>
      <Value Culture="de-de"><![CDATA[Hier finden Sie einige unserer neuesten Artikel und Fallstudien. Wir hoffen, dass unsere Website Ihnen einen Vorgeschmack darauf gegeben hat, was Smart Parking tun kann, um das Parken zu einem stressfreien Erlebnis für Sie und Ihre Kunden zu machen.]]></Value>
      <Value Culture="en-au"><![CDATA[Here you will find some of our latest news articles and case studies.  We hope our website has given you a taste of what Smart Parking can do to make parking a stress-free experience for both you and your customers.]]></Value>
      <Value Culture="en-nz"><![CDATA[Here you will find some of our latest news articles and case studies. We hope our website has given you a taste of what Smart Parking can do to make parking a stress-free experience for both you and your customers.]]></Value>
      <Value Culture="da-dk"><![CDATA[Her finder du nogle af vores seneste nyhedsartikler og casestudier. Vi håber, at vores hjemmeside har givet dig en forsmag på, hvad Smart Parking kan gøre for at gøre parkering til en stressfri oplevelse for både dig og dine kunder.]]></Value>
    </summaryText>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>