<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e9be7a8-3ce7-4a58-98cc-eb2031327cb6" Alias="Mai" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//Mai</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-05-31T10:30:27</CreateDate>
    <NodeName Default="Mai">
      <Name Culture="de-de">Mai</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>