<?xml version="1.0" encoding="utf-8"?>
<Content Key="c89e3b61-838b-4896-9c27-38ed2c9003a0" Alias="May" Level="4">
  <Info>
    <Parent Key="87c0d1dd-7660-473e-ab90-39c2eada7d1c">2022</Parent>
    <Path>/Home/Latest//May</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-04-14T12:39:51</CreateDate>
    <NodeName Default="May">
      <Name Culture="en-gb">May</Name>
      <Name Culture="de-de">May</Name>
      <Name Culture="en-au">May</Name>
      <Name Culture="en-nz">May 2022</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>