<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b759d04-dcf3-499c-8fda-0d6ee03d8948" Alias="Meddelelse om resultatet for regnskabsåret 2023" Level="5">
  <Info>
    <Parent Key="3d3496f2-a341-40e5-83ee-2c4780423513">August (2)</Parent>
    <Path>/Home/Latest//August2/MeddelelseOmResultatetForRegnskabsaaret2023</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-15T13:59:04</CreateDate>
    <NodeName Default="Meddelelse om resultatet for regnskabsåret 2023">
      <Name Culture="da-dk">Meddelelse om resultatet for regnskabsåret 2023</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="da-dk"><![CDATA[<p>Vores hovedfokus er fortsat at levere 1.500 anlæg inden juni 2025, og vi er godt på vej til at opnå denne milepæl.</p>
<p>Højdepunkter inkluderer:</p>
<ul>
<li>Koncernens omsætning landede på $45,1 mio. ($46,1 mio., en stigning på 21%)</li>
<li>Justeret EBITDA landede på $11,5 mio. ($11,8 mio., en stigning på 35%)</li>
<li>Justeret EBITDA-margin (indtjening før renter, skat, afskrivninger og amortiseringer) landede på 25,5% (en stigning på 266 basispoint)</li>
<li>Væksten i globale parkeringsafgifter steg med 29%</li>
<li>Væksten i APAC/Tyskland parkeringsafgifter steg med 271%</li>
<li>1.112 ANPR-anlæg i alt under forvaltning</li>
<li>Kontanter på $10,7 mio. til selvfinansiering af organisk vækst, ekspansion til nye territorier og supplerende opkøbsmuligheder<br /><br />(Alle omsætningstal er i konstant valuta (Regnskabsår 22-valutakurser))</li>
</ul>
<p>Vores hovedfokus er fortsat at levere 1.500 anlæg inden juni 2025, og vi er godt på vej til at opnå denne milepæl.<br />Vores vækststrategi forbliver intakt, og med vores balance og positive pengestrømme er vi godt rustet til at udnytte organiske og uorganiske muligheder, når de opstår.</p>
<p>Smart Parking ser frem til fortsat at opdatere vores aktionærer om positive fremskridt i den nærmeste fremtid og vil gerne takke vores globale team for deres fremragende bidrag i løbet af året.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="da-dk"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="da-dk"><![CDATA[2023-08-21T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "80616b0a-2c31-421c-abb7-9170364f587d",
    "mediaKey": "f1d1a5a0-814b-4261-a5d2-ecbe6b6a4d21"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "50f48114-f774-4645-9440-06a2735b3809",
    "mediaKey": "f041efbb-fcf7-4de2-8385-8d95699297f8"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "b5b11103-5277-4d41-8f49-4766fdbeac06",
    "mediaKey": "8b6c7401-4693-4d50-b909-f5b6e6b480e3"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="da-dk"><![CDATA[Meddelelse om resultatet for regnskabsåret 2023]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="da-dk"><![CDATA[Smart Parking er glade for de fremskridt vi har opnået i regnskabsåret 2023, hvor vi har leveret rekordresultater i et udfordrende makromiljø, og ser frem til at levere fortsat vækst og stærke resultater i regnskabsåret 2024.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>