<?xml version="1.0" encoding="utf-8"?>
<Content Key="57e3d938-d653-4d17-af4b-1edb824a60bc" Alias="Members Area Example" Level="3">
  <Info>
    <Parent Key="91fb694b-708d-409d-9a36-dbbb074752b9">Secure</Parent>
    <Path>/Home/Secure/MembersAreaExample</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContent</ContentType>
    <CreateDate>2022-03-11T11:03:43</CreateDate>
    <NodeName Default="Members Area Example">
      <Name Culture="en-gb">Members Area Example</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="79c81462-3595-49e3-9294-89c3c2ef1bb6">GeneralContent</Template>
  </Info>
  <Properties>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <centralImage>
      <Value><![CDATA[]]></Value>
    </centralImage>
    <headerText>
      <Value><![CDATA[]]></Value>
    </headerText>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <icon>
      <Value><![CDATA[]]></Value>
    </icon>
    <linkButton1>
      <Value><![CDATA[]]></Value>
    </linkButton1>
    <linkButton2>
      <Value><![CDATA[]]></Value>
    </linkButton2>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageBuilderItems>
      <Value><![CDATA[]]></Value>
    </pageBuilderItems>
    <searchEnginePriority>
      <Value><![CDATA[0]]></Value>
    </searchEnginePriority>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <videoLink>
      <Value><![CDATA[]]></Value>
    </videoLink>
  </Properties>
</Content>