<?xml version="1.0" encoding="utf-8"?>
<Content Key="d775fa42-3ddb-4e79-abca-9530cbadd3aa" Alias="Moreton Bay confirms Prequalified Panel of Suppliers for Smart Cities (1)" Level="5">
  <Info>
    <Parent Key="ff6f7873-80bb-4b62-86a7-fbe0edc07b5d">July</Parent>
    <Path>/Home/Latest//July/MoretonBayConfirmsPrequalifiedPanelOfSuppliersForSmartCities1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-17T14:06:59</CreateDate>
    <NodeName Default="Moreton Bay confirms Prequalified Panel of Suppliers for Smart Cities (1)">
      <Name Culture="en-nz">Moreton Bay confirms Prequalified Panel of Suppliers for Smart Cities</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p>Moreton Bay embarked on this tender process with the view to having a range of IoT technology vendors vetted and prequalified as part of their smart city initiative. This means that a lot of the inevitable red tape is removed from a project, and smart city services that include parking, communications, contravention, and more, can be streamlined to deliver various improvements that benefit their community in a cohesive matter.</p>
<p>Located in Queensland, Australia, Moreton Bay experiences high influxes of visitors and residents to its attractions, and having a smart city roadmap means they will be well set up to serve their community for years to come.</p>
<p>Smart Parking’s long standing <a rel="noopener" href="https://www.smartparking.com/news/moreton-bay-s-bug-about-parking-finds-a-solution-in-smart-parking" target="_blank">relationship</a> with Moreton Bay has been very positive and mutually beneficial – in 2018 we were selected to install our parking management system in the North Lakes area, which we still support to this day. This project included over 350 <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-sensors" target="_blank">vehicle detection sensors</a>, <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-signs" target="_blank">VMS signage</a>, and a customised wayfinding and car park availability <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-app" target="_blank">app</a>.</p>
<p>The Council is already using and familiar with <a rel="noopener" href="https://www.smartparking.com/smartpark-system/smart-cloud" target="_blank">SmartCloud</a> – our online management platform – and as such enjoy greater visibility and control of their North Lakes parking site. Our system is infinitely scalable and can have any number of specific parking controls applied at a macro or micro level, meaning we can seamlessly integrate any project that eventuates under the prequalified supplier status.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2020-07-06T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "672c4410-5e1e-4295-97f2-7f9ec76bd63c",
    "mediaKey": "ca095618-a5d9-4ac1-bcfa-63924fbb2f32"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "62b9ec29-06f1-44cd-81c7-1119c017c714",
    "mediaKey": "ca095618-a5d9-4ac1-bcfa-63924fbb2f32"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "14ae016b-60c4-4994-8073-702f6ebf1c20",
    "mediaKey": "ca095618-a5d9-4ac1-bcfa-63924fbb2f32"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[Moreton Bay confirms Prequalified Panel of Suppliers for Smart Cities]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Smart Parking is pleased to announce that we’ve recently been appointed by Moreton Bay Regional Council to their Prequalified Panel of Suppliers – Smart Cities. ]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"ee780f31-7e79-4eb1-bca8-406d257113e0","name":"General Manager - Australia - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We have enjoyed an excellent relationship with Moreton Bay Regional Council thus far, and applaud their foresight in creating this panel of preferred suppliers for smart city projects. By being forward-thinking and proactive in their procurement process, Moreton Bay will encounter less roadblocks and a far more streamlined way to achieve their smart city goals.","position":"General Manager - Australia","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>