<?xml version="1.0" encoding="utf-8"?>
<Content Key="04e19c9b-16d2-4ea1-af0a-51448fd4d11b" Alias="November (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//November311111111111</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-11-11T03:51:59</CreateDate>
    <NodeName Default="November (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1)">
      <Name Culture="de-de">November (3) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1) (1)</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>