<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccee8095-0793-4085-b928-1ed375fb4756" Alias="November (2) (1) (1) (1) (1) (1) (1) (1) (1) (1)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//November2111111111</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-11-06T04:06:24</CreateDate>
    <NodeName Default="November (2) (1) (1) (1) (1) (1) (1) (1) (1) (1)">
      <Name Culture="en-nz">November (2) (1) (1) (1) (1) (1) (1) (1) (1) (1)</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>