<?xml version="1.0" encoding="utf-8"?>
<Content Key="2824d552-c77b-444a-ad97-cb0a4d105a86" Alias="October (4)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//October4</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-10-01T17:30:30</CreateDate>
    <NodeName Default="October (4)">
      <Name Culture="en-gb">October</Name>
      <Name Culture="da-dk">October</Name>
      <Name Culture="de-de">October (2)</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">false</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>