<?xml version="1.0" encoding="utf-8"?>
<Content Key="12aa96d1-655e-462a-9f73-0baca8f2f4da" Alias="October (2)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//October2</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-10-02T05:08:22</CreateDate>
    <NodeName Default="October (2)">
      <Name Culture="en-nz">October (2) (1)</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>