<?xml version="1.0" encoding="utf-8"?>
<Content Key="654596dc-a76b-47ca-a8ae-c5f33670f12c" Alias="October" Level="4">
  <Info>
    <Parent Key="6600f561-ef08-4463-b46e-cb22b40059c4">2023</Parent>
    <Path>/Home/Latest//October</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-11-01T00:58:03</CreateDate>
    <NodeName Default="October">
      <Name Culture="en-nz">October</Name>
      <Name Culture="en-gb">October</Name>
      <Name Culture="da-dk">October</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>