<?xml version="1.0" encoding="utf-8"?>
<Content Key="7207b8b7-173d-441c-bc77-4c7468f35568" Alias="Our Team" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/OurTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>ourTeam</ContentType>
    <CreateDate>2023-02-01T15:37:54</CreateDate>
    <NodeName Default="Our Team" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>