<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2c70419-b391-408c-90b3-57d988a87971" Alias="Paul Gillespie" Level="3">
  <Info>
    <Parent Key="7207b8b7-173d-441c-bc77-4c7468f35568">Our Team</Parent>
    <Path>/Home/OurTeam/PaulGillespie</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2023-04-21T15:20:28</CreateDate>
    <NodeName Default="Paul Gillespie" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Paul was appointed Group CEO of Smart Parking in January 2013 and comes with over 17 years experience in the parking technology market place. Before joining Smart Parking and moving to the head office in Australia, Paul was a leading figure in the UK parking industry, having held senior positions at Xerox Parking Services.

Paul has a wealth of experience in the global parking industry and is an advocate for the role parking has to play in driving and shaping the future of urban cities and the world.]]></Value>
    </description>
    <employeeName>
      <Value><![CDATA[Paul Gillespie]]></Value>
    </employeeName>
    <image>
      <Value><![CDATA[[
  {
    "key": "a46adc38-5861-4752-a4ad-2c60fd4035bc",
    "mediaKey": "2256e884-66a6-4444-a461-6d01a3e14fb4"
  }
]]]></Value>
    </image>
    <jobRole>
      <Value><![CDATA[Managing Director & Group CEO]]></Value>
    </jobRole>
  </Properties>
</Content>