<?xml version="1.0" encoding="utf-8"?>
<Content Key="93c02abf-349d-497c-a6b2-c60024851a26" Alias="Press Release" Level="4">
  <Info>
    <Parent Key="4a71216d-a73d-493a-9983-05a43d2b4c8b">Categories</Parent>
    <Path>/Home/Latest/Categories/PressRelease</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-03-31T16:05:37</CreateDate>
    <NodeName Default="Press Release">
      <Name Culture="en-gb">Press Release</Name>
      <Name Culture="de-de">Pressemitteilung</Name>
      <Name Culture="en-au">Press Release</Name>
      <Name Culture="en-nz">Press Release</Name>
      <Name Culture="da-dk">Pressemeddelelse</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="de-de">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>