<?xml version="1.0" encoding="utf-8"?>
<Content Key="91fb694b-708d-409d-9a36-dbbb074752b9" Alias="Secure" Level="2">
  <Info>
    <Parent Key="ac6fb287-673a-4879-bef6-31cbcfed00d0">Home</Parent>
    <Path>/Home/Secure</Path>
    <Trashed>false</Trashed>
    <ContentType>secure</ContentType>
    <CreateDate>2022-03-16T10:30:54</CreateDate>
    <NodeName Default="Secure" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>