<?xml version="1.0" encoding="utf-8"?>
<Content Key="a86b1864-7c15-47aa-b5c2-0b1fb10a5fec" Alias="September" Level="4">
  <Info>
    <Parent Key="87c0d1dd-7660-473e-ab90-39c2eada7d1c">2022</Parent>
    <Path>/Home/Latest//September</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2022-04-01T15:49:48</CreateDate>
    <NodeName Default="September">
      <Name Culture="en-gb">September</Name>
      <Name Culture="en-au">September</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>