<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5fc25ec-4aa2-4ad3-b61b-5b144c4acd0f" Alias="September" Level="4">
  <Info>
    <Parent Key="6600f561-ef08-4463-b46e-cb22b40059c4">2023</Parent>
    <Path>/Home/Latest//September</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2023-08-10T10:34:56</CreateDate>
    <NodeName Default="September">
      <Name Culture="en-nz">September</Name>
      <Name Culture="en-au">September</Name>
      <Name Culture="en-gb">September</Name>
      <Name Culture="da-dk">September</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>