<?xml version="1.0" encoding="utf-8"?>
<Content Key="1410bf0b-7d93-4d60-a7f3-0d432e19c94d" Alias="September (3)" Level="4">
  <Info>
    <Parent Key="ec7c75a0-efec-4858-941a-6c34164baa69">2024</Parent>
    <Path>/Home/Latest//September3</Path>
    <Trashed>false</Trashed>
    <ContentType>monthFolder</ContentType>
    <CreateDate>2024-09-17T10:16:47</CreateDate>
    <NodeName Default="September (3)">
      <Name Culture="de-de">September (3) (1)</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>