<?xml version="1.0" encoding="utf-8"?>
<Content Key="09485b52-3134-4556-b455-c50c60974ad2" Alias="Smart Parking Acquires ParkInnovation" Level="5">
  <Info>
    <Parent Key="5bca1905-0d1a-4b8b-af0d-9f71ddf66d1e">July</Parent>
    <Path>/Home/Latest//July/SmartParkingAcquiresParkInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-07-19T15:43:40</CreateDate>
    <NodeName Default="Smart Parking Acquires ParkInnovation">
      <Name Culture="en-gb">Smart Parking Acquires ParkInnovation</Name>
      <Name Culture="en-au">Smart Parking acquires ParkInnovation</Name>
      <Name Culture="en-nz">Smart Parking Acquires ParkInnovation</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>Acquisition overview:</p>
<ul>
<li>Compelling strategic fit - accelerates growth in the German parking management market</li>
<li>ParkInnovation adds 46 manually operated sites to the Smart Parking estate and provides opportunity for ANPR technology upgrade</li>
<li>Transaction purchase price of $2.0m funded from existing cash reserves</li>
<li>ParkInnovation had revenues in 2022 of $1.1m</li>
</ul>
<p>Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.</p>
<p>The 46 sites under management provides SP with the opportunity to deploy its proprietary technology across the estate.</p>
<p>The acquisition follows several weeks of negotiation and due diligence.  There are no conditions to settlement, and the Company shall pay $2.0m to acquire 100% of PI.</p>
<p>It has been agreed that the existing shareholders of PI shall assist in transition of the business for the first 3 months post-settlement.</p>]]></Value>
      <Value Culture="en-au"><![CDATA[<p>Acquisition overview:</p>
<ul>
<li>Compelling strategic fit - accelerates growth in the German parking management market</li>
<li>ParkInnovation adds 46 manually operated sites to the Smart Parking estate and provides opportunity for ANPR technology upgrade</li>
<li>Transaction purchase price of $2.0m funded from existing cash reserves</li>
<li>ParkInnovation had revenues in 2022 of $1.1m</li>
</ul>
<p>Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.</p>
<p>The 46 sites under management provides SP with the opportunity to deploy its proprietary technology across the estate.</p>
<p>The acquisition follows several weeks of negotiation and due diligence.  There are no conditions to settlement, and the Company shall pay $2.0m to acquire 100% of PI.</p>
<p>It has been agreed that the existing shareholders of PI shall assist in transition of the business for the first 3 months post-settlement.</p>]]></Value>
      <Value Culture="en-nz"><![CDATA[<p>Acquisition overview:</p>
<ul>
<li>Compelling strategic fit - accelerates growth in the German parking management market</li>
<li>ParkInnovation adds 46 manually operated sites to the Smart Parking estate and provides opportunity for ANPR technology upgrade</li>
<li>Transaction purchase price of $2.0m funded from existing cash reserves</li>
<li>ParkInnovation had revenues in 2022 of $1.1m</li>
</ul>
<p>Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.</p>
<p>The 46 sites under management provides SP with the opportunity to deploy its proprietary technology across the estate.</p>
<p>The acquisition follows several weeks of negotiation and due diligence.  There are no conditions to settlement, and the Company shall pay $2.0m to acquire 100% of PI.</p>
<p>It has been agreed that the existing shareholders of PI shall assist in transition of the business for the first 3 months post-settlement.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-gb"><![CDATA[umb://document/93c02abf349d497ca6b2c60024851a26,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
      <Value Culture="en-au"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
      <Value Culture="en-nz"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2023-07-14T00:00:00]]></Value>
      <Value Culture="en-au"><![CDATA[2023-07-14T00:00:00]]></Value>
      <Value Culture="en-nz"><![CDATA[2023-07-14T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "f861ab52-8af1-4a7c-a84d-3e9b361f7f1b",
    "mediaKey": "f03197b0-ceb5-48a9-a353-f03143fb62ac"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "fc179624-2036-4a4e-b290-ebe8033aef55",
    "mediaKey": "f03197b0-ceb5-48a9-a353-f03143fb62ac"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "15bfd754-8786-4367-b65a-28c61afd612e",
    "mediaKey": "f03197b0-ceb5-48a9-a353-f03143fb62ac"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "eac6db5b-1033-428c-a696-9ec83024f8bb",
    "mediaKey": "84638153-da7f-4849-9c43-852caffb212c"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "fb1e14fa-b2b9-4932-b50a-5cbe428351c3",
    "mediaKey": "84638153-da7f-4849-9c43-852caffb212c"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "e401c0a4-ada5-4d97-aea0-fbb8c20667aa",
    "mediaKey": "84638153-da7f-4849-9c43-852caffb212c"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "302386c7-0cbe-4157-8d8c-6ea5bc984e99",
    "mediaKey": "e458c662-bd2b-4649-9505-458ab2bbd111"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "10d67046-976c-4aa5-9a08-fc595a49c917",
    "mediaKey": "e458c662-bd2b-4649-9505-458ab2bbd111"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "f20126fe-342d-400e-abb3-eca6bf01ad45",
    "mediaKey": "e458c662-bd2b-4649-9505-458ab2bbd111"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[Smart Parking acquires ParkInnovation]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking acquires ParkInnovation]]></Value>
      <Value Culture="en-nz"><![CDATA[Smart Parking Acquires ParkInnovation]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.]]></Value>
      <Value Culture="en-nz"><![CDATA[Smart Parking Limited (ASX:SPZ) is pleased to announce the acquisition of 100% of ParkInnovation GmbH (PI). PI, founded in 2016, manages 46 manually operated parking sites in Germany.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-gb"><![CDATA[[{"key":"7d6056d3-2881-4e1a-8f27-349b65b698d9","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are delighted to welcome the ParkInnovation business to the Smart Parking Group. ParkInnovation has built a well-respected company in recent years with an attractive portfolio of sites under management in Germany.  Parkinnovation represents the next step in the Smart Parking growth strategy and reinforces our continued focus on expansion into new territories.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
      <Value Culture="en-au"><![CDATA[[{"key":"152d2ac6-9544-42ed-b5ff-f0d2521f4bb3","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are delighted to welcome the ParkInnovation business to the Smart Parking Group. ParkInnovation has built a well-respected company in recent years with an attractive portfolio of sites under management in Germany.  Parkinnovation represents the next step in the Smart Parking growth strategy and reinforces our continued focus on expansion into new territories.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
      <Value Culture="en-nz"><![CDATA[[{"key":"93b6f3e4-3465-48be-b92f-aea1e855337d","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are delighted to welcome the ParkInnovation business to the Smart Parking Group. ParkInnovation has built a well-respected company in recent years with an attractive portfolio of sites under management in Germany.  Parkinnovation represents the next step in the Smart Parking growth strategy and reinforces our continued focus on expansion into new territories.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>