<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4e4e30a-4ec6-486e-880c-c9c21625d668" Alias="Smart Parking Expands into Denmark (1)" Level="5">
  <Info>
    <Parent Key="5ed4a95b-2e20-4687-b0af-a8c624e97c05">February</Parent>
    <Path>/Home/Latest//February/SmartParkingExpandsIntoDenmark1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-23T11:41:23</CreateDate>
    <NodeName Default="Smart Parking Expands into Denmark (1)">
      <Name Culture="en-au">Smart Parking Expands into Denmark</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p>After the successful launch of Smart Parking Germany back in 2022, Smart Parking has now recognised Denmark as possessing the necessary infrastructure, challenges related to smart city congestion, and favourable market conditions that align with the Group’s expansion plans in mainland Europe.</p>
<p>Leading the new Denmark team in the role of Managing Director will be Michael Pagh-Schou. Michael joins Smart Parking with a wealth of experience in the parking industry, previously holding a senior role of a major parking industry player in Denmark. In addition, Michael has extensive experience in building companies up from the start and holds a Masters degree in International Business and Management from the Copenhagen Business School.</p>
<p>The Smart Parking global team will provide support in Denmark, through technology in the form of our market-leading SmartCloud management platform. Complete with enforcement workflow &amp; compliance management, automatic number plate recognition (ANPR) and dynamic mobile applications.</p>
<p>Smart Parking are focused on bringing key offerings – ANPR managed parking services and SmartCloud Hub solutions – to the Danish market. This is a new and exciting chapter in the growth of Smart Parking as we look to the future with the view of expanding our addressable markets and increasing our global footprint.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-02-23T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "6367cd65-2568-4ee6-9272-963b16baae24",
    "mediaKey": "d4db2c9e-ef0b-403e-ae48-39a58a1e7805"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "3a00b057-5fae-430d-bcf9-2d92d183821a",
    "mediaKey": "21ce464c-5e92-454b-a2de-0f028c3e9779"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "089300e3-5e75-415a-a4c2-c9ffafe7d7c9",
    "mediaKey": "21ce464c-5e92-454b-a2de-0f028c3e9779"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Smart Parking Expands into Denmark]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-au"><![CDATA[Smart Parking, the leading provider of parking technology and services, is continuing its growth trajectory by expanding its operations into Denmark.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"9cae5c22-1637-4e02-a724-be42c42695f6","name":"CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Following the successful expansion of our managed services business into New Zealand, Australia, and Germany, we have developed a repeatable growth strategy, which enables us to launch our technology led business model across new territories. Denmark, which presents a highly desirable operating environment and large addressable market is a fantastic place to continue our European expansion. Further, we have a highly experienced and qualified leader in Michael, someone who is passionate and focused on the success of our organic growth strategy in the region.","position":"CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>