<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1a3ca0b-1011-415d-810f-09cf3514fad1" Alias="Smart Parking Celebrates its 30th Anniversary" Level="5">
  <Info>
    <Parent Key="5bca1905-0d1a-4b8b-af0d-9f71ddf66d1e">July</Parent>
    <Path>/Home/Latest//July/SmartParkingCelebratesIts30thAnniversary</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-07-19T15:54:27</CreateDate>
    <NodeName Default="Smart Parking Celebrates its 30th Anniversary">
      <Name Culture="en-gb">Smart Parking Celebrates its 30th Anniversary</Name>
      <Name Culture="en-au">Smart Parking Celebrates its 30th Anniversary</Name>
      <Name Culture="en-nz">Smart Parking Celebrates its 30th Anniversary</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>Smart Parking began life back in 1992 as a small parking operator under the trading name of Perth Car Parks Ltd.  The business was small at this stage but still prided itself on providing clients with a service they could rely on.  In 2003, the technology business was established in New Zealand, this later paved the way for the back-end solutions that are developed in-house and now offered to clients. </p>
<p>In 2012/13, the company rebranded to Smart Parking following the acquisition of Town &amp; City Parking, many members of the team from Town &amp; City Parking are still with Smart Parking today.  Long service awards of over 20 years are not uncommon for team members within the business.</p>
<p>January 2013 saw the appointment of Paul Gillespie as the CEO of Smart Parking.  Under his leadership, the company has continued to grow at great pace throughout the years, setting up new operations in New Zealand and Australia in 2021, and Germany at the beginning of 2022.  During the same period, new acquisitions were also made through the purchases of Enterprise Parking Solutions in 2021 and NE Parking in 2022.  In the past few days Smart Parking also announced the acquisition of German based Park Innovation GmbH.</p>
<p>The Smart Parking team consists of highly experienced parking professionals, who deliver end-to-end solutions in car park management.  Their systems are fully scalable to any size and help landowners and managers take back full control of their sites.</p>]]></Value>
      <Value Culture="en-au"><![CDATA[<p>Smart Parking began life back in 1992 as a small parking operator under the trading name of Perth Car Parks Ltd.  The business was small at this stage but still prided itself on providing clients with a service they could rely on.  In 2003, the technology business was established in New Zealand, this later paved the way for the back-end solutions that are developed in-house and now offered to clients. </p>
<p>In 2012/13, the company rebranded to Smart Parking following the acquisition of Town &amp; City Parking, many members of the team from Town &amp; City Parking are still with Smart Parking today.  Long service awards of over 20 years are not uncommon for team members within the business.</p>
<p>January 2013 saw the appointment of Paul Gillespie as the CEO of Smart Parking.  Under his leadership, the company has continued to grow at great pace throughout the years, setting up new operations in New Zealand and Australia in 2021, and Germany at the beginning of 2022.  During the same period, new acquisitions were also made through the purchases of Enterprise Parking Solutions in 2021 and NE Parking in 2022.  In the past few days Smart Parking also announced the acquisition of German based Park Innovation GmbH.</p>
<p>The Smart Parking team consists of highly experienced parking professionals, who deliver end-to-end solutions in car park management.  Their systems are fully scalable to any size and help landowners and managers take back full control of their sites.</p>]]></Value>
      <Value Culture="en-nz"><![CDATA[<p>Smart Parking began life back in 1992 as a small parking operator under the trading name of Perth Car Parks Ltd.  The business was small at this stage but still prided itself on providing clients with a service they could rely on.  In 2003, the technology business was established in New Zealand, this later paved the way for the back-end solutions that are developed in-house and now offered to clients. </p>
<p>In 2012/13, the company rebranded to Smart Parking following the acquisition of Town &amp; City Parking, many members of the team from Town &amp; City Parking are still with Smart Parking today. Long service awards of over 20 years are not uncommon for team members within the business.</p>
<p>January 2013 saw the appointment of Paul Gillespie as the CEO of Smart Parking. Under his leadership, the company has continued to grow at great pace throughout the years, setting up new operations in New Zealand and Australia in 2021, and Germany at the beginning of 2022.  During the same period, new acquisitions were also made through the purchases of Enterprise Parking Solutions in 2021 and NE Parking in 2022.  In the past few days Smart Parking also announced the acquisition of German based Park Innovation GmbH.</p>
<p>The Smart Parking team consists of highly experienced parking professionals, who deliver end-to-end solutions in car park management.  Their systems are fully scalable to any size and help landowners and managers take back full control of their sites.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-gb"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
      <Value Culture="en-au"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
      <Value Culture="en-nz"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2023-07-16T00:00:00]]></Value>
      <Value Culture="en-au"><![CDATA[2023-07-16T00:00:00]]></Value>
      <Value Culture="en-nz"><![CDATA[2023-07-16T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "f948d936-5942-4974-bb17-333ae646a5ca",
    "mediaKey": "c3ef8266-36a4-4113-bd55-de103367d790"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "47a6b3fa-930c-42d8-8ad4-d985dbd2c519",
    "mediaKey": "0f588f57-a364-40a9-8007-967c0f2e93e6"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "05a6edd8-22c5-4564-b446-73cbeb846b06",
    "mediaKey": "0f588f57-a364-40a9-8007-967c0f2e93e6"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "49f180ba-c050-4bb7-9fdd-641549efc8b3",
    "mediaKey": "42336cdb-2f42-4ead-8196-50e71dda38be"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "9aec3b79-4def-4dcb-bfb8-f55657e8ad29",
    "mediaKey": "2a92cbd3-82ab-4094-88e6-49ec347f4049"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "c18989e4-b58f-43a3-b813-9f840c7dd8ea",
    "mediaKey": "2a92cbd3-82ab-4094-88e6-49ec347f4049"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "abda3366-533a-4864-ac92-8349478e6ddc",
    "mediaKey": "431e2b6f-565b-4432-8996-c4e7cae98d6a"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "0a4967b2-9af5-4477-aec2-be943f133c5a",
    "mediaKey": "431e2b6f-565b-4432-8996-c4e7cae98d6a"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "af287682-8973-479d-976c-72023823ea6e",
    "mediaKey": "431e2b6f-565b-4432-8996-c4e7cae98d6a"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[Smart Parking Celebrates its 30th Anniversary]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking Celebrates its 30th Anniversary]]></Value>
      <Value Culture="en-nz"><![CDATA[Smart Parking Celebrates its 30th Anniversary]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[Smart Parking, one of the UK's leading car park operators announces its 30th anniversary in the parking business.]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking, one of Australia's leading car park operators announces its 30th anniversary in the parking business.]]></Value>
      <Value Culture="en-nz"><![CDATA[Smart Parking, one of NZ's leading car park operators announces its 30th anniversary in the parking business.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-gb"><![CDATA[[{"key":"ccf9fa0a-b47c-4ed8-82c6-e890c46ba210","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking has experienced exceptional growth and development over the past years.  Moving forward, our focus will remain on offering clients an unrivalled system and service that they can truly rely on.  The business is nothing without its people and it’s the people who will take the company to the next stage in our journey.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
      <Value Culture="en-au"><![CDATA[[{"key":"37453186-dec7-4e41-9a5b-8179cd61cd33","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking has experienced exceptional growth and development over the past years.  Moving forward, our focus will remain on offering clients an unrivalled system and service that they can truly rely on.  The business is nothing without its people and it’s the people who will take the company to the next stage in our journey.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
      <Value Culture="en-nz"><![CDATA[[{"key":"e4f66852-2af0-4ec2-8df7-e7114af11a7b","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Smart Parking has experienced exceptional growth and development over the past years.  Moving forward, our focus will remain on offering clients an unrivalled system and service that they can truly rely on.  The business is nothing without its people and it’s the people who will take the company to the next stage in our journey.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>