<?xml version="1.0" encoding="utf-8"?>
<Content Key="81821dc4-3bc2-4321-9599-5630ddbb04be" Alias="Smart Parking køber ParkInnovation" Level="5">
  <Info>
    <Parent Key="5bca1905-0d1a-4b8b-af0d-9f71ddf66d1e">July</Parent>
    <Path>/Home/Latest//July/SmartParkingKoeberParkInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-15T16:18:04</CreateDate>
    <NodeName Default="Smart Parking køber ParkInnovation">
      <Name Culture="da-dk">Smart Parking køber ParkInnovation</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="da-dk">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="da-dk"><![CDATA[<p>Oversigt over opkøbet:</p>
<ul>
<li>Overbevisende godt strategisk match - fremskynder væksten på det tyske marked.</li>
<li>ParkInnovation tilføjer 46 manuelt betjente steder til Smart Parking og giver mulighed for ANPR-teknologiopgradering</li>
<li>Transaktionskøbspris på $2,0 mio. finansieret af eksisterende kontantreserver</li>
<li>ParkInnovation havde i 2022 en omsætning på $1,1 mio.</li>
</ul>
<p>Smart Parking Limited (ASX:SPZ) er glade for at kunne annoncere købet af 100% af ParkInnovation GmbH (PI). PI, der blev grundlagt i 2016, administrerer 46 manuelt betjente parkeringsanlæg i Tyskland.</p>
<p>De 46 steder under forvaltning giver SP mulighed for at implementere sin unikke teknologi på tværs af virksomhedens parkeringsområder.</p>
<p>Opkøbet kommer efter flere ugers forhandlinger og due diligence.  Der er ingen forbehold for afgørelsen, og selskabet skal betale $ 2,0 mio. for at erhverve 100% af PI.</p>
<p>Det er aftalt, at de eksisterende aktionærer i PI skal bistå med overgangen af virksomheden i de første 3 måneder efter overtagelsen.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="da-dk"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="da-dk"><![CDATA[2023-07-14T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "c43e9347-a45d-4576-848e-d3dcc752fdac",
    "mediaKey": "f03197b0-ceb5-48a9-a353-f03143fb62ac"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "13ff092c-7480-4db4-9e25-c612cdc9369c",
    "mediaKey": "84638153-da7f-4849-9c43-852caffb212c"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="da-dk"><![CDATA[[
  {
    "key": "f984384c-e552-4550-93cb-a7665d1348b6",
    "mediaKey": "e458c662-bd2b-4649-9505-458ab2bbd111"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="da-dk"><![CDATA[Smart Parking køber ParkInnovation ]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="da-dk"><![CDATA[Smart Parking Limited (ASX:SPZ) er glade for at kunne annoncere købet af 100% af ParkInnovation GmbH (PI). PI, der blev grundlagt i 2016 og som administrerer 46 manuelt betjente parkeringsanlæg i Tyskland.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="da-dk"><![CDATA[[{"key":"e8a934ea-fafa-4a8d-a723-1ecf79b2c06d","name":"Paul Gillespie, CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Vi er glade for at byde ParkInnovation-virksomheden velkommen til Smart Parking Group. ParkInnovation har gennem de seneste år opbygget en velrespekteret virksomhed med en attraktiv portefølje af sites under forvaltning i Tyskland. Parkinnovation repræsenterer det næste skridt i Smart Parking-vækststrategien og forstærker vores fortsatte fokus på ekspansion til nye områder.","position":"Paul Gillespie, CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>