<?xml version="1.0" encoding="utf-8"?>
<Content Key="83a4da42-b5e0-498c-80be-48051c4f16b0" Alias="Smart Parking completes a cutting edge smart city project with Doma Group" Level="5">
  <Info>
    <Parent Key="ff6f7873-80bb-4b62-86a7-fbe0edc07b5d">July</Parent>
    <Path>/Home/Latest//July/SmartParkingCompletesACuttingEdgeSmartCityProjectWithDomaGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-06-14T13:41:44</CreateDate>
    <NodeName Default="Smart Parking completes a cutting edge smart city project with Doma Group">
      <Name Culture="en-gb">Smart Parking completes a cutting edge smart city project with Doma Group</Name>
      <Name Culture="en-au">Smart Parking completes a cutting edge smart city project with Doma Group</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>Smart Parking were awarded the contract to provide car park monitoring systems in a new development that encompasses apartments, restaurants, shops, a childcare facility and an office building to house ACT public servants, as well as a zone of shops and cafes. </p>
<p>The northern block comprises of 2 buildings that contain 249 apartments, ground-floor shops and restaurants and a medical centre, and Smart Parking has recently installed over 350 overhead indicator (OHI) vehicle detection sensors in the multi deck off street car park.</p>
<p>The OHI sensors monitor individual bay occupancy, and are fitted with LED lights that make finding a car park simple – the LEDs turn red when the bay is occupied, and green when the bay is free. This allows motorists to see at a glance if there is an available car park down each aisle.</p>
<p>As well as being guided by the OHIs, Smart Parking has also installed a range of variable message signs. The signs display real-time space availability and direction to available bays, meaning traffic flow and space is optimised within the car park.</p>
<p>Linking the system together is our SmartCloud management platform. This cloud based digital platform gives visibility of the entire car park site, and can provide real-time insights into capacity, traffic flow, occupancy levels and trends. Reports can be generated on almost any parameter, on a macro or micro scale.</p>]]></Value>
      <Value Culture="en-au"><![CDATA[<p>Smart Parking were awarded the contract to provide car park monitoring systems in a new development that encompasses apartments, restaurants, shops, a childcare facility and an office building to house ACT public servants, as well as a zone of shops and cafes. </p>
<p>The northern block comprises of 2 buildings that contain 249 apartments, ground-floor shops and restaurants and a medical centre, and Smart Parking has recently installed over 350 overhead indicator (OHI) vehicle detection sensors in the multi deck off street car park.</p>
<p>The OHI sensors monitor individual bay occupancy, and are fitted with LED lights that make finding a car park simple – the LEDs turn red when the bay is occupied, and green when the bay is free. This allows motorists to see at a glance if there is an available car park down each aisle.</p>
<p>As well as being guided by the OHIs, Smart Parking has also installed a range of variable message signs. The signs display real-time space availability and direction to available bays, meaning traffic flow and space is optimised within the car park.</p>
<p>Linking the system together is our SmartCloud management platform. This cloud based digital platform gives visibility of the entire car park site, and can provide real-time insights into capacity, traffic flow, occupancy levels and trends. Reports can be generated on almost any parameter, on a macro or micro scale.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2020-07-02T00:00:00]]></Value>
      <Value Culture="en-au"><![CDATA[2020-07-02T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "2004c60a-de86-4520-b09f-de734a828eee",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "88dccfba-b458-4931-8e1d-80ae410319aa",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "2bb68d33-4ce5-4b66-b425-4f6d03bf35bb",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "1c001fa6-813c-44b2-b86c-045fb1ab5e59",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "84b95250-0717-4ea1-9117-e76dad4c65f4",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "acde5cc6-bd8a-4fef-8af5-86ac1f9b68dd",
    "mediaKey": "6786c430-4b02-4486-b580-b38cf33e6869"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[Smart Parking completes a cutting edge smart city project with Doma Group]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking completes a cutting edge smart city project with Doma Group]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[Doma Group is a Canberra based property development firm that has been a heavyweight in the Australian property industry for over 46 years. Focusing mainly on the Australian Capital Territory (ACT), they operate in all sectors including multi-unit residential apartments, commercial office, hotels, retail and car parks.]]></Value>
      <Value Culture="en-au"><![CDATA[Doma Group is a Canberra based property development firm that has been a heavyweight in the Australian property industry for over 46 years. Focusing mainly on the Australian Capital Territory (ACT), they operate in all sectors including multi-unit residential apartments, commercial office, hotels, retail and car parks.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-gb"><![CDATA[[{"key":"a7c52445-b508-4c04-a701-233afcb3c3a3","name":"General Manager - Australia - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"This is a stunning new build by Doma Group, and the mixed use precinct is an example of getting a smart city space right. This development will be an asset to residents and visitors to the Dickson area, and we’re pleased that a focus was brought on providing a car park facility that enhances the cutting edge smart city vision of the development.","position":"General Manager - Australia","company":"Smart Parking","showHide":""}]]]></Value>
      <Value Culture="en-au"><![CDATA[[{"key":"bdcee8bf-7111-48a7-9eeb-2c7f1a0f7020","name":"General Manager - Australia - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"This is a stunning new build by Doma Group, and the mixed use precinct is an example of getting a smart city space right. This development will be an asset to residents and visitors to the Dickson area, and we’re pleased that a focus was brought on providing a car park facility that enhances the cutting edge smart city vision of the development.","position":"General Manager - Australia","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>