<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea830497-0cc6-4331-8d1a-b3909fe5bf50" Alias="Smart Parking acquires Enterprise Parking Solutions (1)" Level="5">
  <Info>
    <Parent Key="8d6ef2b4-e45c-421d-b352-19fc0f2ebb03">August</Parent>
    <Path>/Home/Latest//August/SmartParkingAcquiresEnterpriseParkingSolutions1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-17T13:58:37</CreateDate>
    <NodeName Default="Smart Parking acquires Enterprise Parking Solutions (1)">
      <Name Culture="en-nz">Smart Parking acquires Enterprise Parking Solutions</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p>Founded in 2017, Enterprise Parking Solutions is a profitable, cash-flow positive company that currently manages 68 parking sites across the UK in much the same way as Smart Parking does – using Automatic Number Plate Recognition (ANPR) camera technology and providing car park enforcement services on private land.</p>
<p>Smart Parking has been focused on a goal of 1,000 sites under management by June 2023, which made the acquisition of EPS a compelling and obvious strategic fit. As well as the 68 EPS car park sites, our portfolio in the UK is rapidly growing thanks to our parallel growth strategy of an increased sales force driving car park site numbers forward in the UK. </p>
<p>As well, we have recently launched our successful managed services model in our other key markets of NZ and Australia, and we are actively winning new contracts and installing sites every month. Because of our diverse and expanding global portfolio, Smart Parking has a strong and sustainable springboard leading into the ongoing post-pandemic global recovery.</p>
<ul>
<li>Compelling strategic fit - builds scale in the UK parking management market and increases leverage to the ongoing post-pandemic recovery</li>
<li>Accelerates SPZ’s growth to the target of 1,000 sites under management by June 2023. EPS adds 68 new sites, 11% increase. SPZ now has 693 sites under management</li>
<li>Attractive site portfolio across the UK – site performance meets and exceeds SPZ site acquisition metrics</li>
<li>Earnings accretive in first full year post completion</li>
<li>Transaction purchase price of $1.54m funded from existing cash reserves</li>
<li>EPS had revenues for the three months to July 31st of $0.54m (revenue of $0.90m for FY21 was impacted by COVID-19)</li>
</ul>
<p>The acquisition follows several weeks of negotiation and due diligence, there are no conditions to settlement and SPZ shall pay $1.54m to acquire 100% of EPS. Further details around the acquisition of Enterprise Parking Solutions can be found on the <a rel="noopener" href="https://cdn-api.markitdigital.com/apiman-gateway/ASX/asx-research/1.0/file/2924-02404723-3A572322?access_token=83ff96335c2d45a094df02a206a39ff4" target="_blank">ASX</a> </p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2021-08-11T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "87700fd3-f738-4918-b67f-8e74ed8ed6a2",
    "mediaKey": "882e5931-3501-4608-bb22-5b1212369ddb"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "cd7e314b-d784-41d5-808e-efbe7b016c00",
    "mediaKey": "882e5931-3501-4608-bb22-5b1212369ddb"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "6abf017a-8881-4dd5-a91d-870e4b98f233",
    "mediaKey": "882e5931-3501-4608-bb22-5b1212369ddb"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[Smart Parking acquires Enterprise Parking Solutions]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Smart Parking (ASX:SPZ) is delighted to announce that as of 6 August 2021 we have completed the acquisition of another UK parking management company, Enterprise Parking Solutions (EPS).]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"37292273-c18a-41d6-9958-07cefccb6e70","name":"Group CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We are excited to welcome the Enterprise Parking business and customers to the Smart Parking Group. Enterprise Parking has built a well-respected and profitable company over the last 4 years. The portfolio of sites under management includes great customers that we are looking forward to working with. This is a simple and clean transaction, and Enterprise Parking is a compelling strategic fit that is financially accretive for our shareholders. It allows the Company to build scale and accelerate towards our growth target of 1,000 UK sites by June 2023.","position":"Group CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>