<?xml version="1.0" encoding="utf-8"?>
<Content Key="8226e465-c10b-440a-bbd0-4d96bd9db022" Alias="Smart Parking erfolgreich gegen Wettbewerbsverzerrung" Level="3">
  <Info>
    <Parent Key="107da10d-9f4e-40b3-95f5-9c727a5ce3f6">Latest</Parent>
    <Path>/Home/Latest/SmartParkingErfolgreichGegenWettbewerbsverzerrung</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-01-08T15:18:26</CreateDate>
    <NodeName Default="Smart Parking erfolgreich gegen Wettbewerbsverzerrung">
      <Name Culture="de-de">Smart Parking erfolgreich gegen Wettbewerbsverzerrung</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="de-de">false</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="de-de"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="de-de"><![CDATA[2024-01-08T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "650f7cb1-30f7-4351-af94-ab99ea42c750",
    "mediaKey": "eb8643db-e175-4c79-818c-f8cc0901606d"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "25eacc56-b077-4119-9601-f8ae21754441",
    "mediaKey": "eb8643db-e175-4c79-818c-f8cc0901606d"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="de-de"><![CDATA[[]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="de-de"><![CDATA[Smart Parking erfolgreich gegen Wettbewerbsverzerrung]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="de-de"><![CDATA[Zusammen mit Simmons & Simmons hat sich Smart Parking erfolgreich dafür eingesetzt, dass alle Unternehmen, die in Deutschland im Parkraummanagement tätig sind, nun gleichermaßen der Steuerpflicht für Kontrollgebühren unterliegen. Diese Ungleichbehandlung durch die Finanzämter ist nun aufgelöst.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>