<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5d9ac74-bb97-404c-a638-f3e3b29c0abc" Alias="Smart Parking expandiert nach Dänemark" Level="5">
  <Info>
    <Parent Key="5ed4a95b-2e20-4687-b0af-a8c624e97c05">February</Parent>
    <Path>/Home/Latest//February/SmartParkingExpandiertNachDaenemark</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-02-26T11:36:30</CreateDate>
    <NodeName Default="Smart Parking expandiert nach Dänemark">
      <Name Culture="de-de">Smart Parking expandiert nach Dänemark</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="de-de"><![CDATA[<p>Nach dem erfolgreichen Start von Smart Parking Deutschland im Jahr 2022 sieht Smart Parking auch für Dänemark, dass das Land über die notwendige Infrastruktur und günstige Marktbedingungen verfügt und gleichzeitig vor Herausforderungen durch Staus in sog. Smart Cities steht, die mit den Expansionsplänen der Gruppe auf dem europäischen Festland harmonieren.</p>
<p>Michael Pagh-Schou wird das neue Team in Dänemark als Geschäftsführer leiten. Er bringt umfangreiche Erfahrungen in der Parkraumbewirtschaftung mit, da er zuvor eine leitende Position in einem großen Unternehmen der Parkraumbewirtschaftung in Dänemark innehatte. Darüber hinaus verfügt Michael Pagh-Schou über umfassende Kenntnisse im Aufbau von Unternehmen von der Gründung an und hat einen Master-Abschluss in International Business and Management von der Copenhagen Business School.</p>
<p>Das internationale Team von Smart Parking wird Dänemark technologisch durch unsere marktführende SmartCloud-Managementplattform unterstützen. Das beinhaltet Workflow- und Compliance-Management, automatische Nummernschilderkennung (ANPR) und dynamische mobile Anwendungen.</p>
<p>Smart Parking konzentriert sich darauf, die wichtigsten Angebote - ANPR Managed Parking Services und SmartCloud Hub Lösungen - auf dem dänischen Markt zu lancieren. Dies ist ein neues und spannendes Kapitel im Wachstum von Smart Parking, da wir in die Zukunft blicken, um unsere Zielmärkte zu erweitern und unsere globale Präsenz zu vergrößern.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="de-de"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="de-de"><![CDATA[2024-02-23T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "189f5938-50f7-4dd0-a89f-4da127a70c99",
    "mediaKey": "d4db2c9e-ef0b-403e-ae48-39a58a1e7805"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "aca2f256-3971-4dbb-b306-f52057d7ddae",
    "mediaKey": "21ce464c-5e92-454b-a2de-0f028c3e9779"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "48f507a0-c9ed-4311-a8a2-9ec7c266c745",
    "mediaKey": "21ce464c-5e92-454b-a2de-0f028c3e9779"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Smart Parking, der führende Anbieter von Parktechnologie und -dienstleistungen, setzt seinen Wachstumskurs fort und expandiert nach Dänemark.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="de-de"><![CDATA[["Dänemark Parktechnologie"]]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-de"><![CDATA[Expansion nach Dänemark]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="de-de"><![CDATA[Smart Parking expandiert nach Dänemark]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="de-de"><![CDATA[Smart Parking, der führende Anbieter von Parktechnologie und -dienstleistungen, setzt seinen Wachstumskurs fort und expandiert nach Dänemark.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="de-de"><![CDATA[[{"key":"d0855a41-6251-4e44-823c-588bee646e1c","name":"CEO - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Nach der erfolgreichen Expansion unseres Managed-Services-Geschäfts nach Neuseeland, Australien und Deutschland haben wir eine reproduzierbare Wachstumsstrategie entwickelt, die es uns ermöglicht, unser technologiebasiertes Geschäftsmodell in neuen Gebieten einzuführen. Dänemark, das ein äußerst attraktives Geschäftsumfeld und einen großen Zielmarkt bietet, ist ein hervorragender Standort für die Fortsetzung unserer europäischen Expansion. Außerdem haben wir mit Michael Pagh-Shou eine sehr erfahrene und qualifizierte Führungspersönlichkeit, die sich mit Leidenschaft für den Erfolg unserer organischen Wachstumsstrategie in dieser Region einsetzt.","position":"CEO","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>