<?xml version="1.0" encoding="utf-8"?>
<Content Key="9abca074-b26f-40b6-b20a-9d5608106b61" Alias="Sports Clubs, how to effectively manage your car park | Smart Parking" Level="5">
  <Info>
    <Parent Key="4cd39bfe-2c36-4391-8088-cb6d935c1425">September (2)</Parent>
    <Path>/Home/Latest//September2/SportsClubsHowToEffectivelyManageYourCarParkSmartParking</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-11T03:51:48</CreateDate>
    <NodeName Default="Sports Clubs, how to effectively manage your car park | Smart Parking">
      <Name Culture="en-au">Sports Clubs, how to effectively manage your car park | Smart Parking</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">Do you manage a Sports Club, a Marina, a Golf Club or maybe a Racecourse?  They will all have a car park that needs careful management to allow members to have somewhere to park when they arrive.  Having spaces available for genuine members will ensure a positive start to their experience at their beloved club.  There is nothing more frustrating, for a club member, than arriving to find the precious parking spaces have been taken by shoppers or commuters, who have no affiliation with their club car park. </p>
<p style="font-weight: 400;">At Smart Parking, we work with a whole host of different clients, so no matter your requirements we can tailor our system to work for you.  This is often installed at no cost to the landowner, depending on the location and issues currently arising.  Our team’s expertise will have a solution for your car park.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-09-11T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "5419820f-e4c6-466a-8052-cd43320a39a1",
    "mediaKey": "9c8ea716-3ee9-4b12-ab6b-b8b623efe6a2"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "bf867f2f-80dd-4743-81c0-5a10cefbd1fe",
    "mediaKey": "9c8ea716-3ee9-4b12-ab6b-b8b623efe6a2"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "b5143b61-309e-4dfc-871c-d8740918a21c",
    "mediaKey": "9c8ea716-3ee9-4b12-ab6b-b8b623efe6a2"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[Sports Clubs, how to effectively manage your car park | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[Sports Clubs, how to effectively manage your car park]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"9985c647-43d8-44c7-b8c1-6db88585e29a","name":"Club Secretary - Sports Club","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"We just wanted to let you know of the great feedback we have had since the system was installed.  Our elderly members are so happy they can now park safely in the car park because the system has deterred non-members from parking.\n\nWe are extremely happy with the system, thank you to all the team.\n","position":"Club Secretary","company":"Sports Club","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>