<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aeafc0b-c04f-4fc7-8d8a-6f8d0e5735be" Alias="The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking (1)" Level="5">
  <Info>
    <Parent Key="1ddf7d1a-7c94-4686-a743-308eb186cb65">September (1)</Parent>
    <Path>/Home/Latest//September1/TheAimWasLessRelianceOnParkingHardwareMoreUseOfPaymentAppsAndTechnologySmartParking1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-18T02:20:22</CreateDate>
    <NodeName Default="The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking (1)">
      <Name Culture="en-nz">The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking (1)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p style="font-weight: 400;">This was a large Leisure Park operator's request to modernise their parking facilities for customers, making it easier and more flexible for everyone involved.  The solution involved reducing the reliance on physical parking meters onsite. By adding intuitive methods to pay via smartphone, often preferred by a younger generation of fun lovers, Smart Parking helped transform the site.  This value-added improvement also increased the app-based payments by approximately 300%.</p>
<p style="font-weight: 400;">The client also requested that they be given access to the data analytics Smart Parking could provide them about their site.  With this new and improved data, they can develop a great deal of business intelligence about the movements within their car park.  This in turn, will support their future business decisions.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2024-09-18T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "d1f8428a-5991-4f45-afbd-b078c851ad38",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "fd4f96c0-d3e9-4ae4-9515-2d5f34d683db",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "1d278a98-dd89-4ade-b17c-3eb3ebbf66a6",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-nz"><![CDATA[The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[The aim was less reliance on parking hardware, more use of payment apps and technology]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"d8ceb14f-2d0b-4fda-bbb6-fd54b0a5fabf","name":"General Manager - Leisure Park","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"During the mobilisation period, Smart Parking proved to be incredibly efficient and professional in managing the switchover from our previous operator.  With regular contact and meetings from senior management from Smart Parking, we feel very assured and confident they will continue to be an excellent choice in operator.","position":"General Manager","company":"Leisure Park","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>