<?xml version="1.0" encoding="utf-8"?>
<Content Key="04d1d647-5b95-4b03-bca3-ac6220fb67b7" Alias="The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking" Level="5">
  <Info>
    <Parent Key="1ddf7d1a-7c94-4686-a743-308eb186cb65">September (1)</Parent>
    <Path>/Home/Latest//September1/TheAimWasLessRelianceOnParkingHardwareMoreUseOfPaymentAppsAndTechnologySmartParking</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-18T02:18:13</CreateDate>
    <NodeName Default="The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking">
      <Name Culture="en-nz">The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <date>
      <Value><![CDATA[]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-nz"><![CDATA[The aim was less reliance on parking hardware, more use of payment apps and technology | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[The aim was less reliance on parking hardware, more use of payment apps and technology]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>