<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4b2fab1-6cf5-435a-9446-ceb747a601be" Alias="The City of Bunbury is set to install the latest suite of Smart Parking technology" Level="5">
  <Info>
    <Parent Key="612414e0-d29a-42a1-bd37-2da03f2a00d7">March</Parent>
    <Path>/Home/Latest//March/TheCityOfBunburyIsSetToInstallTheLatestSuiteOfSmartParkingTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-06-06T15:45:26</CreateDate>
    <NodeName Default="The City of Bunbury is set to install the latest suite of Smart Parking technology">
      <Name Culture="en-gb">The City of Bunbury is set to install the latest suite of Smart Parking technology</Name>
      <Name Culture="en-au">The City of Bunbury is set to install the latest suite of Smart Parking technology</Name>
      <Name Culture="en-nz">The City of Bunbury is set to install the latest suite of Smart Parking technology</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>The installation – due in the first quarter of 2022 – will supersede their legacy system, which was an outdated mixture of over a hundred parking machines and manual inspection of vehicles by Parking Officers across ticketed parking areas.</p>
<p>The parking footprint is large, spanning across commercial lease parking, short stay parking, commercial loading bays, taxi ranks, ACROD and special designated bays (such as Golden Parking), permit only bays and on-street bays.</p>
<p>Across all these different bay types, there will be a mix of time restricted and unmetered bays, with time limits spanning from 15-minute bays to all day parking. As well, the system needs to take into account that ticketed bay charges can be dependent on the time and day.</p>
<p>The solution has been carefully designed to encourage customer turnover and increase parking availability within the CBD. Thanks to the flexibility of our custom designed SmartCloud management platform we can programme vehicle detection sensors in line with each different bay’s specifications, easily allowing payments either via the payment machines or the payment feature in our app and afford motorists a view of available bays and the parking conditions of said bays – all from a single management platform.</p>
<p>The Community Parking and Information Officers will have the Tessera app on their mobiles, which will allow them to promptly manage overstays and educate community members to ensure parking availability is consistent and spread evenly across the CBD area.</p>
<p>The back end of SmartCloud makes visible rich parking data, so city officials can have a complete view of their parking site and how well it is operating, as well as being able to generate reports on trends, peaks, bay usage, warden efficiency and more. The analytics provided by this system will allow the city to create a dynamic parking experience that can be tailored to meet community needs and ensure the parking experience is more satisfying and hassle free.</p>
<p>This is another Smart Parking project made possible by our collaborative approach to smart city deliverables with Google Cloud and <a rel="noopener" href="https://www.smartparking.com/news/helping-fund-smart-city-parking-projects" target="_blank">Maia Financial</a> allowing the City of Bunbury to take advantage of a finance package that enables councils to continue to fund important smart city parking projects without the need for red tape and CAPEX signoff. This package is designed to provide flexible finance options through low interest rates and a ‘zero upfront’ Smart Parking monitoring and enforcement solution.</p>]]></Value>
      <Value Culture="en-au"><![CDATA[<p>The installation – due in the first quarter of 2022 – will supersede their legacy system, which was an outdated mixture of over a hundred parking machines and manual inspection of vehicles by Parking Officers across ticketed parking areas.</p>
<p>The parking footprint is large, spanning across commercial lease parking, short stay parking, commercial loading bays, taxi ranks, ACROD and special designated bays (such as Golden Parking), permit only bays and on-street bays.</p>
<p>Across all these different bay types, there will be a mix of time restricted and unmetered bays, with time limits spanning from 15-minute bays to all day parking. As well, the system needs to take into account that ticketed bay charges can be dependent on the time and day.</p>
<p>The solution has been carefully designed to encourage customer turnover and increase parking availability within the CBD. Thanks to the flexibility of our custom designed SmartCloud management platform we can programme vehicle detection sensors in line with each different bay’s specifications, easily allowing payments either via the payment machines or the payment feature in our app and afford motorists a view of available bays and the parking conditions of said bays – all from a single management platform.</p>
<p>The Community Parking and Information Officers will have the Tessera app on their mobiles, which will allow them to promptly manage overstays and educate community members to ensure parking availability is consistent and spread evenly across the CBD area.</p>
<p>The back end of SmartCloud makes visible rich parking data, so city officials can have a complete view of their parking site and how well it is operating, as well as being able to generate reports on trends, peaks, bay usage, warden efficiency and more. The analytics provided by this system will allow the city to create a dynamic parking experience that can be tailored to meet community needs and ensure the parking experience is more satisfying and hassle free.</p>
<p>This is another Smart Parking project made possible by our collaborative approach to smart city deliverables with Google Cloud and <a rel="noopener" href="/news/helping-fund-smart-city-parking-projects" target="_blank">Maia Financial</a> allowing the City of Bunbury to take advantage of a finance package that enables councils to continue to fund important smart city parking projects without the need for red tape and CAPEX signoff. This package is designed to provide flexible finance options through low interest rates and a ‘zero upfront’ Smart Parking monitoring and enforcement solution.</p>]]></Value>
      <Value Culture="en-nz"><![CDATA[<p>The installation – due in the first quarter of 2022 – will supersede their legacy system, which was an outdated mixture of over a hundred parking machines and manual inspection of vehicles by Parking Officers across ticketed parking areas.</p>
<p>The parking footprint is large, spanning across commercial lease parking, short stay parking, commercial loading bays, taxi ranks, ACROD and special designated bays (such as Golden Parking), permit only bays and on-street bays.</p>
<p>Across all these different bay types, there will be a mix of time restricted and unmetered bays, with time limits spanning from 15-minute bays to all day parking. As well, the system needs to take into account that ticketed bay charges can be dependent on the time and day.</p>
<p>The solution has been carefully designed to encourage customer turnover and increase parking availability within the CBD. Thanks to the flexibility of our custom designed SmartCloud management platform we can programme vehicle detection sensors in line with each different bay’s specifications, easily allowing payments either via the payment machines or the payment feature in our app and afford motorists a view of available bays and the parking conditions of said bays – all from a single management platform.</p>
<p>The Community Parking and Information Officers will have the Tessera app on their mobiles, which will allow them to promptly manage overstays and educate community members to ensure parking availability is consistent and spread evenly across the CBD area.</p>
<p>The back end of SmartCloud makes visible rich parking data, so city officials can have a complete view of their parking site and how well it is operating, as well as being able to generate reports on trends, peaks, bay usage, warden efficiency and more. The analytics provided by this system will allow the city to create a dynamic parking experience that can be tailored to meet community needs and ensure the parking experience is more satisfying and hassle free.</p>
<p>This is another Smart Parking project made possible by our collaborative approach to smart city deliverables with Google Cloud and <a rel="noopener" href="https://www.smartparking.com/news/helping-fund-smart-city-parking-projects" target="_blank">Maia Financial</a> allowing the City of Bunbury to take advantage of a finance package that enables councils to continue to fund important smart city parking projects without the need for red tape and CAPEX signoff. This package is designed to provide flexible finance options through low interest rates and a ‘zero upfront’ Smart Parking monitoring and enforcement solution.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-gb"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871]]></Value>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871]]></Value>
      <Value Culture="en-nz"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2022-03-02T00:00:00]]></Value>
      <Value Culture="en-au"><![CDATA[2022-03-02T00:00:00]]></Value>
      <Value Culture="en-nz"><![CDATA[2022-03-02T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "6fb61134-3ec6-4dfb-959a-f9f37078f683",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "ff3075e5-05a6-49ca-8e28-f800fd7b3feb",
    "mediaKey": "2defad01-10f3-4c4e-986d-6d405792f891"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "90fd9c06-9c97-4705-89bb-3f36564945df",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "529f06ae-c754-4ac1-a43d-21859e685e9d",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "2a1a65d4-796c-4d7d-8a6c-7d9d8a270f4f",
    "mediaKey": "5c01d154-919e-43c0-a137-102123084d39"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "7c704fb3-357b-4cbc-bf59-cb3a06ea21bf",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "35e42768-acb1-44b7-bd01-5de39efd47a8",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "ea9d4a43-0960-4f46-b052-7b5139a18305",
    "mediaKey": "b3749de3-5d95-4458-aab4-68b5f2796a11"
  }
]]]></Value>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "6edd1b7b-0b06-474f-9029-dab8463159eb",
    "mediaKey": "2f9f97fd-335a-4499-a7ab-c37ff7cbb068"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[The City of Bunbury is set to install the latest suite of Smart Parking technology]]></Value>
      <Value Culture="en-au"><![CDATA[The City of Bunbury is set to install the latest suite of Smart Parking technology]]></Value>
      <Value Culture="en-nz"><![CDATA[The City of Bunbury is set to install the latest suite of Smart Parking technology]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[The City of Bunbury is the latest Australian city to adopt our SmartPark parking management system, with over 2,000 vehicle detection sensors, a custom branded customer-facing wayfinding & payment app, parking meters and Tessera - our compliance management platform and app, all linked up through our SmartCloud data management platform.]]></Value>
      <Value Culture="en-au"><![CDATA[The City of Bunbury is the latest Australian city to adopt our SmartPark parking management system, with over 2,000 vehicle detection sensors, a custom branded customer-facing wayfinding & payment app, parking meters and Tessera - our compliance management platform and app, all linked up through our SmartCloud data management platform.]]></Value>
      <Value Culture="en-nz"><![CDATA[The City of Bunbury is the latest Australian city to adopt our SmartPark parking management system, with over 2,000 vehicle detection sensors, a custom branded customer-facing wayfinding & payment app, parking meters and Tessera - our compliance management platform and app, all linked up through our SmartCloud data management platform.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value><![CDATA[]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>