<?xml version="1.0" encoding="utf-8"?>
<Content Key="98d49f8a-dbca-4843-8f5d-42e21e43863e" Alias="Three new sites go live in Melbourne (2)" Level="5">
  <Info>
    <Parent Key="247a561f-04e6-49bc-9cf6-bb0eb56d8b91">July</Parent>
    <Path>/Home/Latest//July/ThreeNewSitesGoLiveInMelbourne2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2022-04-01T15:47:52</CreateDate>
    <NodeName Default="Three new sites go live in Melbourne (2)">
      <Name Culture="en-gb">Three new sites go live in Melbourne</Name>
      <Name Culture="en-au">Three new sites go live in Melbourne</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
      <Published Culture="en-gb">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-gb"><![CDATA[<p>Working around lockdowns and restrictions proved challenging at times, but we’re excited to share the news that the planned installations at the Victorian Pride Centre, Queen Victoria Market, and Hunter Werribee (an extension to our Wyndham City project) have been completed on time.</p>
<p><strong>The number of Smart Parking installations in Victoria is now in excess of 20 sites, and our number of <a rel="noopener" href="https://www.smartparking.com/latest/latest-news" target="_blank">smart city projects</a> continues to rise.</strong></p>]]></Value>
      <Value Culture="en-au"><![CDATA[<p>Working around lockdowns and restrictions proved challenging at times, but we’re excited to share the news that the planned installations at the Victorian Pride Centre, Queen Victoria Market, and Hunter Werribee (an extension to our Wyndham City project) have been completed on time.</p>
<p><strong>The number of Smart Parking installations in Victoria is now in excess of 20 sites, and our number of <a rel="noopener" href="/latest/latest-news" target="_blank">smart city projects</a> continues to rise.</strong></p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-gb"><![CDATA[umb://document/93c02abf349d497ca6b2c60024851a26,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
      <Value Culture="en-au"><![CDATA[umb://document/a98c17a63f8a44d8828a41a38e05ba89,umb://document/93c02abf349d497ca6b2c60024851a26]]></Value>
    </category>
    <date>
      <Value Culture="en-gb"><![CDATA[2021-07-12T00:00:00]]></Value>
      <Value Culture="en-au"><![CDATA[2021-07-12T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "1b9c4e2c-7749-4f2f-ad43-62f43d1c383e",
    "mediaKey": "e8d20d5e-dbe6-4de0-9ab9-1a10e47846be"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "1bbc39b4-6c13-4f6f-879a-beb2b71c8241",
    "mediaKey": "d68137dc-1368-476f-94ff-acc7031dbc5b"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "2fb46837-fc32-477c-8dc8-db3e15ca0cb9",
    "mediaKey": "79a4e669-a16e-49c4-bdaf-60dd3fb16855"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "3b33945c-03bf-42aa-a82f-d9fd99171869",
    "mediaKey": "298d3cd2-f2db-47b9-93cf-c92bf145afc4"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-gb"><![CDATA[[
  {
    "key": "a00b6779-84e3-4f1b-a2b0-cda1784bf392",
    "mediaKey": "e8d20d5e-dbe6-4de0-9ab9-1a10e47846be"
  }
]]]></Value>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "a758720c-79b5-4889-a02b-df156b5f57a9",
    "mediaKey": "298d3cd2-f2db-47b9-93cf-c92bf145afc4"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-gb"><![CDATA[Three new sites go live in Melbourne]]></Value>
      <Value Culture="en-au"><![CDATA[Three new sites go live in Melbourne]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-gb"><![CDATA[Smart Parking’s operations team has been busy in the Australian city of Melbourne recently, completing three new installations over the past couple of months.]]></Value>
      <Value Culture="en-au"><![CDATA[Smart Parking’s operations team has been busy in the Australian city of Melbourne recently, completing three new installations over the past couple of months.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-gb"><![CDATA[[{"key":"d7cf8a61-9793-43ce-a76e-2fcaa22239ab","name":"-","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"","position":"","company":"","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>