<?xml version="1.0" encoding="utf-8"?>
<Content Key="054b59e7-49e8-4cb6-8ce2-a588b6ae6cb2" Alias="Visitor Parking Spaces – How to protect them at all times for your visitors" Level="5">
  <Info>
    <Parent Key="12aa96d1-655e-462a-9f73-0baca8f2f4da">October (2)</Parent>
    <Path>/Home/Latest//October2/VisitorParkingSpacesHowToProtectThemAtAllTimesForYourVisitors</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-07T04:40:12</CreateDate>
    <NodeName Default="Visitor Parking Spaces – How to protect them at all times for your visitors">
      <Name Culture="en-nz">Visitor Parking Spaces – How to protect them at all times for your visitors</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p style="font-weight: 400;">At Smart Parking, we are often challenged to help our residential clients manage a car park with many spaces, but just a few precious visitor spaces.  These often suffer abuse which comes in many forms.  Existing residents may have friends to stay for extended periods of time, or tradespeople use them because their jobs are nearby, and the space is convenient for them.  Whatever the reasons, these spaces are often very hard to manage.  Smart Parking has robust technology to help Building Managers and Owner’s Corporations fix this issue. </p>
<p style="font-weight: 400;">With the correct tools in place, residents can be informed about how these valuable visitor parking spaces are reliably managed.  Everyone can follow the preferred rules set by the Building Manager to ensure genuine visitors have a welcome parking space when they arrive to visit a friend in the complex.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-nz"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2024-10-07T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "0054f03c-8a90-4b2f-bb9c-2f07aff05f35",
    "mediaKey": "2f084c68-c238-40b7-8e6e-5fcef431d24d"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "3663996c-83e9-4fe3-96e4-ab69b88a4583",
    "mediaKey": "2f084c68-c238-40b7-8e6e-5fcef431d24d"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "1df49a5e-d070-47c0-b5a6-5c3dbf5dd640",
    "mediaKey": "2f084c68-c238-40b7-8e6e-5fcef431d24d"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-nz"><![CDATA[Visitor Parking Spaces – How to protect them at all times for your visitors | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[Visitor Parking Spaces – How to protect them at all times for your visitors]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"034c1d81-d73d-4338-b763-5c3f001d83ae","name":"Building Manager - Apartment Complex","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"I wholeheartedly support the work Smart Parking is doing.  Please count me in on protecting our limited visitor parking spaces from commuters or individuals, who are not visiting the building.","position":"Building Manager","company":"Apartment Complex","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>