<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffd20478-556d-4b92-a670-4fd20b0928a8" Alias="We can solve the issue of a full car park, but no customers (1)" Level="5">
  <Info>
    <Parent Key="a1bcd273-fc66-4526-a05d-aaefedcc8c75">September</Parent>
    <Path>/Home/Latest//September/WeCanSolveTheIssueOfAFullCarParkButNoCustomers1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-09-04T06:21:41</CreateDate>
    <NodeName Default="We can solve the issue of a full car park, but no customers (1)">
      <Name Culture="en-au">We can solve the issue of a full car park, but no customers</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-au">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-au"><![CDATA[<p style="font-weight: 400;">For many business owners, having a full car park but a lack of customers can be a common sight.  Whereas normally you would expect a full car park and a busy and thriving business to go hand in hand.  There are many cases where car parks are used by people who have no intention of visiting the local shops or businesses.  They could be parking there to catch the nearest train or bus and are therefore commuters utilising the nearest car park space.  Unfortunately, where there is a lack of car park management, there is usually a large amount of car park misuse too.</p>
<p style="font-weight: 400;">This scenario means the car park needs effective and proper management.  A business owner wants to know that their own customers will have a car parking space when they choose to visit their venue.  Smart Parking uses ANPR (Automatic Number Plate Recognition) cameras at the entrance and exit of the car park.  Using this information, we can track a car’s time within the car park and therefore ensure they are following the time limits/payment options set by the landowner/property manager.</p>
<p style="font-weight: 400;">Our market-leading technology and services will transform the efficiency of your car park.  Quite simply, parking enforcement is there to protect car parks and therefore businesses.</p>
<p style="font-weight: 400;"> </p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="en-au"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="en-au"><![CDATA[2024-09-04T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "0380197c-1c6b-4d71-91cb-f8cb438b1cb2",
    "mediaKey": "7d7e9a96-cce0-4fd1-9a48-aecc81314644"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "007a8dd3-46a3-4595-8dc0-8a0cea898a16",
    "mediaKey": "7d7e9a96-cce0-4fd1-9a48-aecc81314644"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-au"><![CDATA[[
  {
    "key": "5d8ce72a-a62d-46da-8996-4164189a19d6",
    "mediaKey": "7d7e9a96-cce0-4fd1-9a48-aecc81314644"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value Culture="en-au"><![CDATA[We can solve the issue of a full car park, but no customers. | Smart Parking]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-au"><![CDATA[We can solve the issue of a full car park, but no customers. | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-au"><![CDATA[We can solve the issue of a full car park, but no customers]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-au"><![CDATA[[{"key":"d3e8ec79-0440-4ee5-981d-2537856dea34","name":"Clinic Owner - Health Centre","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Initially, when I purchased my business premises, I believed the private parking area was an incredible asset for my clients and business, especially as it is in a prime location.\n\nHowever, it became apparent that our private car park was being abused and utilised by many others for free all-day parking. Frustratingly it was rare for us to utilise the parking for ourselves and most importantly our clients.\n\nAs soon as we engaged Smart Parking the difference was not only noticeable, but it was also incredible. Our car park was visibly vacant with spaces, both our clients and we were overjoyed.\n","position":"Clinic Owner","company":"Health Centre","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>