<?xml version="1.0" encoding="utf-8"?>
<Content Key="99b308b2-f7c4-4349-bb00-87438f1cb798" Alias="We can help you capitalise on your parking asset (1)" Level="5">
  <Info>
    <Parent Key="5ac53eec-027d-4edf-a819-66578698b344">May</Parent>
    <Path>/Home/Latest//May/WeCanHelpYouCapitaliseOnYourParkingAsset1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2023-08-17T15:15:26</CreateDate>
    <NodeName Default="We can help you capitalise on your parking asset (1)">
      <Name Culture="en-nz">We can help you capitalise on your parking asset</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-nz">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="en-nz"><![CDATA[<p><img src="https://www.smartparking.com/asset/883.png" alt="" /></p>
<h4> Maia Financial have over three decades experience in financing within various industries and specialising in technology assets, and are here to provide an asset finance based solution that can be tailored to your business needs.</h4>
<p>Smart Parking have recognised that in the current market climate, getting important projects off the ground is key, and part of that is removing the red tape around CAPEX vs OPEX project cost modelling. As such, we have teamed together with Maia Financial and would like to extend to you the offer of a no-obligation Zoom or phone meeting to discuss this opportunity.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <date>
      <Value Culture="en-nz"><![CDATA[2023-05-08T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "0e5c2f84-6f37-42cf-85f6-7fe288e1ce3a",
    "mediaKey": "2b1b2d68-9483-4a74-977a-5a8e80f5b31d"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "7540e012-392c-4612-ba00-79c41799f298",
    "mediaKey": "2b1b2d68-9483-4a74-977a-5a8e80f5b31d"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="en-nz"><![CDATA[[
  {
    "key": "63a77845-ae4a-4478-a1d5-59be0c02a69c",
    "mediaKey": "2b1b2d68-9483-4a74-977a-5a8e80f5b31d"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="en-nz"><![CDATA[We can help you capitalise on your parking asset]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value Culture="en-nz"><![CDATA[Improving your customers’ experience and finding new revenue streams is more important than ever, that's why Smart Parking have engaged with Maia Financial to enable you to meet the needs of your customers while logistically and fiscally optimising your parking footprint.]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="en-nz"><![CDATA[[{"key":"08700965-dfee-449c-997c-9cba061c4567","name":"General manager - Australia - Smart Parking","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"This is an exciting and innovative way to look at how we can help businesses in both the public and private sector deliver technology-based parking solutions to their customers and communities, and very much look forward to partnering with Maia Financial to help you achieve this. We have seen some amazingly competitive rates – as low as 3% and in some instances -2% – which makes this partnership a compelling and obvious choice to get your next smart city project off the ground.","position":"General manager - Australia","company":"Smart Parking","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>