<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa7627a6-7a3d-438a-a874-055416a821c0" Alias="Ziel war eine geringere Abhängigkeit von Parkautomaten und eine stärkere Nutzung von Apps und Bezahlsystemen." Level="5">
  <Info>
    <Parent Key="1410bf0b-7d93-4d60-a7f3-0d432e19c94d">September (3)</Parent>
    <Path>/Home/Latest//September3/ZielWarEineGeringereAbhaengigkeitVonParkautomatenUndEineStaerkereNutzungVonAppsUndBezahlsystemen</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-10-14T04:31:24</CreateDate>
    <NodeName Default="Ziel war eine geringere Abhängigkeit von Parkautomaten und eine stärkere Nutzung von Apps und Bezahlsystemen.">
      <Name Culture="de-de">Ziel war eine geringere Abhängigkeit von Parkautomaten und eine stärkere Nutzung von Apps und Bezahlsystemen.</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="de-de">true</Published>
    </Published>
    <Schedule />
    <Template Key="6f474201-52d9-4315-b4aa-e528259fd556">BlogArticle</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value Culture="de-de"><![CDATA[<p style="font-weight: 400;">Ein großer Freizeitparkbetreiber wollte die Kundenparkplätze modernisieren, um sie für alle Beteiligten einfacher und flexibler zu gestalten. Die Lösung bestand in der Verringerung der Parkuhren vor Ort. Durch das zusätzliche Angebot intuitiver Bezahlmethoden per Smartphone, die von der jüngeren Generation der Freizeitbegeisterten häufig bevorzugt werden, trug Smart Parking zur Modernisierung des Standorts bei. Diese Aufwertung steigerte auch die App-basierten Zahlungen um etwa 300 %.</p>
<p style="font-weight: 400;">Der Kunde wünschte außerdem Zugang zu den datenbasierten Analysen, die Smart Parking über den Standort bereitstellt. Aufgrund dieser neuen und verbesserten Datenbasis ist der Kunde nun in der Lage, umfangreiche Erkenntnisse über die Bewegungen auf seiner Parkfläche zu gewinnen. Dies wird wiederum eine große Hilfe bei künftigen Geschäftsentscheidungen sein.</p>]]></Value>
    </bodyText>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <category>
      <Value Culture="de-de"><![CDATA[umb://document/027cd41c9dd2422c9936110101279871,umb://document/a98c17a63f8a44d8828a41a38e05ba89]]></Value>
    </category>
    <date>
      <Value Culture="de-de"><![CDATA[2024-09-18T00:00:00]]></Value>
    </date>
    <featuredImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "caebcf50-b1c4-4f91-a748-b23341e5c15e",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </featuredImage>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <listingImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "f118bedf-c16f-4ed4-b031-6c3768d4d633",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </listingImage>
    <lowerImage>
      <Value Culture="de-de"><![CDATA[[
  {
    "key": "361e64d4-07c8-4345-86f7-c6bd6dfb1d75",
    "mediaKey": "d5d161b8-40a6-4cae-95b6-c11b291f9e08"
  }
]]]></Value>
    </lowerImage>
    <metaDescription>
      <Value Culture="de-de"><![CDATA[Optimierung der Parkraumbewirtschaftung eines Freizeitparks | Smart Parking]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="de-de"><![CDATA[Parkplatz Freizeitpark | Smart Parking]]></Value>
    </metaTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value Culture="de-de"><![CDATA[Parkraumbewirtschaftung Freizeitpark | Smart Parking]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageTitle>
      <Value Culture="de-de"><![CDATA[Ziel war eine geringere Abhängigkeit von Parkautomaten und eine stärkere Nutzung von Apps und Bezahlsystemen]]></Value>
    </pageTitle>
    <relatedNews>
      <Value><![CDATA[]]></Value>
    </relatedNews>
    <searchEnginePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEnginePriority>
    <summaryText>
      <Value><![CDATA[]]></Value>
    </summaryText>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <testimonial>
      <Value Culture="de-de"><![CDATA[[{"key":"ca1fbe66-43c7-425e-8a5f-12269011db06","name":"Geschäftsführer  - Freizeitpark","ncContentTypeAlias":"testimonialSection","PropType":null,"image":"[]","quote":"Während der Vorbereitungsphase erwies sich Smart Parking als unglaublich effizient und professionel. Sie haben den Übergang von unserem vorherigen Betreiber sehr gut gemeistert. Aufgrund des regelmäßigen Kontakts und der Treffen mit der Geschäftsleitung von Smart Parking sind wir sicher und zuversichtlich, dass sie auch weiterhin unsere Wahl als Betreiber bleiben.","position":"Geschäftsführer ","company":"Freizeitpark","showHide":""}]]]></Value>
    </testimonial>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>