<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="40e5a777-56f5-4838-92f3-4196dfa7b7b3" Alias="All Filter Button Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Alt</Translation>
    <Translation Language="de-DE">Alle</Translation>
    <Translation Language="en-AU">All</Translation>
    <Translation Language="en-GB">All</Translation>
    <Translation Language="en-NZ">All</Translation>
  </Translations>
</Dictionary>