<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="616647e1-6c03-4d2f-835c-637968115941" Alias="Appeal Charges Reason Label Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Vælg den årsag der passer bedst</Translation>
    <Translation Language="de-DE">Wählen Sie einen Grund für die Beschwerde aus</Translation>
    <Translation Language="en-AU">Select a reason for appeal</Translation>
    <Translation Language="en-GB">Select a reason for appeal</Translation>
    <Translation Language="en-NZ">Select a reason for appeal</Translation>
  </Translations>
</Dictionary>