<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6071ea9f-813e-4937-8c24-038861fe7d04" Alias="Contact Form Field - Phone" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Mobil/Telefon</Translation>
    <Translation Language="de-DE">Telefon</Translation>
    <Translation Language="en-AU">Phone</Translation>
    <Translation Language="en-GB">Phone</Translation>
    <Translation Language="en-NZ">Phone</Translation>
  </Translations>
</Dictionary>