<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51fbf55e-42cb-46b8-b020-60f6173f7c1b" Alias="Contact Form Field - Submit" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Indsend</Translation>
    <Translation Language="de-DE">Senden</Translation>
    <Translation Language="en-AU">Submit</Translation>
    <Translation Language="en-GB">Submit</Translation>
    <Translation Language="en-NZ">Submit</Translation>
  </Translations>
</Dictionary>