<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="85a37e77-584f-4965-8b5f-b48beb19cb5f" Alias="Contact Form Subject 3" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Mobil Patrulje</Translation>
    <Translation Language="de-DE">Mobile Patrouille</Translation>
    <Translation Language="en-AU">Mobile Patrol</Translation>
    <Translation Language="en-GB">Mobile Patrol</Translation>
    <Translation Language="en-NZ">Mobile Patrol</Translation>
  </Translations>
</Dictionary>