<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab6053b4-5794-40dc-814d-e0acdb83c749" Alias="Contact Form Field - Opt In" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Tilmeld</Translation>
    <Translation Language="de-DE">Annehmen</Translation>
    <Translation Language="en-AU">Opt In</Translation>
    <Translation Language="en-GB">Opt In</Translation>
    <Translation Language="en-NZ">Opt In</Translation>
  </Translations>
</Dictionary>