<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9756711d-46e5-454d-9c84-3e6bfdf0d588" Alias="Contact Form Field - Email" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Email</Translation>
    <Translation Language="de-DE">E-mail</Translation>
    <Translation Language="en-AU">Email</Translation>
    <Translation Language="en-GB">Email</Translation>
    <Translation Language="en-NZ">Email</Translation>
  </Translations>
</Dictionary>