<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="edd70cad-9cf0-451a-9a1b-cd13a3192e0a" Alias="Contact Form Subject 1" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Vælg venligst</Translation>
    <Translation Language="de-DE">Bite auswählen</Translation>
    <Translation Language="en-AU">Please Select</Translation>
    <Translation Language="en-GB">Please Select</Translation>
    <Translation Language="en-NZ">Please Select</Translation>
  </Translations>
</Dictionary>