<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b786205a-6143-425e-995c-4f008bdb5bdc" Alias="Contact Form Field - Attachments" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Vedhæft</Translation>
    <Translation Language="de-DE">Anhänge</Translation>
    <Translation Language="en-AU">Atachments</Translation>
    <Translation Language="en-GB">Atachments</Translation>
    <Translation Language="en-NZ">Atachments</Translation>
  </Translations>
</Dictionary>