<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b4aa1e6-2c89-40ac-99f7-f01f982217e6" Alias="Contact Form Field - General Enquiry" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Generel forespørgsel</Translation>
    <Translation Language="de-DE">Allgemeine Anfrage</Translation>
    <Translation Language="en-AU">General Enquiry</Translation>
    <Translation Language="en-GB">General Enquiry</Translation>
    <Translation Language="en-NZ">General Enquiry</Translation>
  </Translations>
</Dictionary>