<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c6ff3027-75f2-4f7e-b763-d85f1529a876" Alias="Footer LinkedIn Link" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">https://www.linkedin.com/company/smartparking-denmark</Translation>
    <Translation Language="de-DE">https://www.linkedin.com/company/smart-parking-germany-gmbh</Translation>
    <Translation Language="en-AU">https://www.linkedin.com/company/smart-parking-limited</Translation>
    <Translation Language="en-GB">https://www.linkedin.com/company/smart-parking-limited</Translation>
    <Translation Language="en-NZ">https://www.linkedin.com/company/smart-parking-limited</Translation>
  </Translations>
</Dictionary>