<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cd58f403-a28c-4af7-ab59-b818dc09a834" Alias="Homepage News Header" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Seneste Nyt</Translation>
    <Translation Language="de-DE">News</Translation>
    <Translation Language="en-AU">Latest News</Translation>
    <Translation Language="en-GB">Latest News</Translation>
    <Translation Language="en-NZ">Latest News</Translation>
  </Translations>
</Dictionary>