<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6bd8e9e4-2b75-4e7c-bb5d-741847fcb40c" Alias="Homepage News Link Text" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Se Alle</Translation>
    <Translation Language="de-DE">Alle Anzeigen</Translation>
    <Translation Language="en-AU">View All</Translation>
    <Translation Language="en-GB">View All</Translation>
    <Translation Language="en-NZ">View All</Translation>
  </Translations>
</Dictionary>