<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d1a77296-f920-4882-b1ef-02ec5602b778" Alias="Related News Header" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK">Cases &amp; Nyheder</Translation>
    <Translation Language="de-DE">Passende News &amp; Fallstudien</Translation>
    <Translation Language="en-AU">Related Case Studies &amp; News</Translation>
    <Translation Language="en-GB">Related Case Studies &amp; News</Translation>
    <Translation Language="en-NZ">Related Case Studies &amp; News</Translation>
  </Translations>
</Dictionary>